Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

docs: update Indiekit.addSyndicator api docs
  docs/plugins/api/.plugin-constructor.md
  docs/plugins/api/add-syndicator.md
Due: none

docs: update Indiekit.addPreset api docs
  docs/plugins/api/add-preset.md
Due: none

docs: update Indiekit.addStore api docs
  docs/plugins/api/add-store.md
Due: none

refactor(preset-jekyll): get post types from application config
  packages/preset-jekyll/index.js
  packages/preset-jekyll/test/index.js
Due: prettier --write, xo

refactor(preset-hugo): get post types from application config
  packages/preset-hugo/index.js
  packages/preset-hugo/test/index.js
Due: prettier --write, xo

feat: move post type validation into plug-ins via api method
  helpers/config/index.js
  package-lock.json
  packages/endpoint-posts/index.js
  packages/endpoint-posts/lib/middleware/validation.js
  packages/endpoint-posts/locales/en.json
  packages/indiekit/config/defaults.js
  packages/indiekit/index.js
  packages/indiekit/test/unit/post-types.js
  packages/post-type-audio/index.js
  packages/post-type-audio/package.json
  packages/post-type-bookmark/index.js
  packages/post-type-bookmark/package.json
  packages/post-type-event/index.js
  packages/post-type-event/package.json
  packages/post-type-jam/includes/post-types/jam-of-field.njk
  packages/post-type-jam/index.js
  packages/post-type-jam/locales/en.json
  packages/post-type-jam/package.json
  packages/post-type-like/index.js
  packages/post-type-like/package.json
  packages/post-type-photo/index.js
  packages/post-type-reply/index.js
  packages/post-type-reply/package.json
  packages/post-type-repost/index.js
  packages/post-type-repost/package.json
  packages/post-type-rsvp/index.js
  packages/post-type-rsvp/package.json
  packages/post-type-video/index.js
  packages/post-type-video/package.json
  packages/util/index.js
  packages/util/lib/validation-schema.js
Due: prettier --write, xo

docs: post type plug-ins
  docs/.vitepress/config.js
  docs/plugins/post-types.md
Due: prettier --write, xo

docs: addPostType api
  docs/.vitepress/config.js
  docs/plugins/api/add-post-type.md
Due: prettier --write, xo

feat(post-type-rsvp): update locales
  packages/post-type-rsvp/locales/de.json
  packages/post-type-rsvp/locales/en.json
  packages/post-type-rsvp/locales/es-419.json
  packages/post-type-rsvp/locales/es.json
  packages/post-type-rsvp/locales/fr.json
  packages/post-type-rsvp/locales/id.json
  packages/post-type-rsvp/locales/nl.json
  packages/post-type-rsvp/locales/pl.json
  packages/post-type-rsvp/locales/pt.json
  packages/post-type-rsvp/locales/sr.json
  packages/post-type-rsvp/locales/zh-Hans-CN.json
Due: none

feat(post-type-jam): add locales
  packages/post-type-jam/locales/de.json
  packages/post-type-jam/locales/es-419.json
  packages/post-type-jam/locales/es.json
  packages/post-type-jam/locales/fr.json
  packages/post-type-jam/locales/id.json
  packages/post-type-jam/locales/nl.json
  packages/post-type-jam/locales/pl.json
  packages/post-type-jam/locales/pt.json
  packages/post-type-jam/locales/sr.json
  packages/post-type-jam/locales/zh-Hans-CN.json
Due: none

chore: use current version for new packages
  packages/post-type-article/package.json
  packages/post-type-audio/package.json
  packages/post-type-bookmark/package.json
  packages/post-type-event/package.json
  packages/post-type-jam/package.json
  packages/post-type-like/package.json
  packages/post-type-note/package.json
  packages/post-type-photo/package.json
  packages/post-type-reply/package.json
  packages/post-type-repost/package.json
  packages/post-type-rsvp/package.json
  packages/post-type-video/package.json
Due: none

fix(indiekit): add default post type dependencies
  package-lock.json
  packages/indiekit/package.json
Due: none

docs: link to post type plug-in pages
  docs/plugins/api/index.md
  docs/plugins/index.md
Due: none

docs: add post type plug-ins to contribution guide
  docs/contributing.md
Due: none

feat: add swedish localisation from @carlrafting
  docs/configuration/localisation.md
  packages/endpoint-auth/locales/sv.json
  packages/endpoint-files/locales/sv.json
  packages/endpoint-posts/locales/sv.json
  packages/endpoint-share/locales/sv.json
  packages/error/locales/sv.json
  packages/frontend/locales/sv.json
  packages/indiekit/config/defaults.js
  packages/indiekit/locales/sv.json
  packages/post-type-audio/locales/sv.json
  packages/post-type-bookmark/locales/sv.json
  packages/post-type-event/locales/sv.json
  packages/post-type-jam/locales/sv.json
  packages/post-type-like/locales/sv.json
  packages/post-type-photo/locales/sv.json
  packages/post-type-reply/locales/sv.json
  packages/post-type-repost/locales/sv.json
  packages/post-type-rsvp/locales/sv.json
  packages/post-type-video/locales/sv.json
Due: prettier --write, xo

test: generate lcov code coverage report
  .nvmrc
  package.json
Due: none

test(util): validation schema isRequired method
  packages/util/lib/validation-schema.js
  packages/util/test/unit/validation-schema.js
Due: prettier --write, xo

test(indiekit): un-skip post type tests
  packages/indiekit/test/unit/post-types.js
Due: prettier --write, xo

test(indiekit): displays mongodb client connection error
  packages/indiekit/lib/middleware/locals.js
  packages/indiekit/test/unit/middleware/locals.js
Due: prettier --write, xo

test(frontend): improve coverage
  packages/frontend/test/unit/filters/array.js
  packages/frontend/test/unit/filters/url.js
Due: prettier --write, xo

fix(indiekit): log don’t throw request cache errors
  packages/indiekit/lib/cache.js
  packages/indiekit/lib/categories.js
  packages/indiekit/test/unit/cache.js
  packages/indiekit/test/unit/categories.js
Due: prettier --write, xo

test(error): improve coverage
  packages/error/test/index.js
Due: prettier --write, xo

fix(endpoint-auth): only show error if message
  packages/endpoint-auth/lib/controllers/documentation.js
Due: prettier --write, xo

fix(frontend): prevent horizontal scrolling
  packages/frontend/styles/base/sections.css
Due: prettier --write, stylelint

feat(frontend): simplify minimal ui layout on narrower viewports
  packages/frontend/components/app/styles.css
  packages/frontend/styles/config/custom-properties.css
Due: prettier --write, stylelint

feat(frontend): resize share preview window to fit form
  packages/frontend/components/share-preview/index.js
Due: prettier --write, xo

feat(endpoint-share): adjust share bookmarklet width and height
  packages/endpoint-share/includes/@indiekit-endpoint-share-widget.njk
Due: none

fix(indiekit): get localised plug-in strings from response.locals
  packages/indiekit/lib/controllers/plugin.js
Due: prettier --write, xo

fix(frontend): only add aria-labelledby if section has title
  packages/frontend/components/section/template.njk
Due: none

fix(frontend): only add aria-labelledby if widget has title
  packages/frontend/components/widget/template.njk
Due: none

feat(indiekit): remove superfluous heading on plug-in view
  packages/indiekit/views/plugins/view.njk
Due: none

fix(frontend): head order
  packages/frontend/layouts/default.njk
Due: none

feat(indiekit): remove theme_color from web app manifest
  packages/indiekit/lib/controllers/manifest.js
Due: prettier --write, xo

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  xo: any of: *.js
  stylelint: any of: *.css
