Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

style(endpoint-share): format share-url example
  packages/endpoint-share/README.md
Due: none

style(endpoint-share): format share-url example (#910)
  packages/endpoint-share/README.md
Due: none

fix(create-indiekit): handle command-line arguments
  packages/create-indiekit/bin/create.js
  packages/create-indiekit/index.js
  packages/create-indiekit/lib/cli.js
  packages/create-indiekit/test/unit/cli.js
Due: prettier --write, xo

fix: return 401 for GET requests with invalid bearer token
  packages/endpoint-micropub/test/integration/403-query-invalid-me-in-api-get.js
  packages/indiekit/lib/indieauth.js
Due: prettier --write, xo

style(endpoint-share): keep the share-url example on one line
  packages/endpoint-share/README.md
Due: none

fix(endpoint-auth): use publication me when signing authorization code
  packages/endpoint-auth/lib/controllers/consent.js
  packages/endpoint-auth/test/integration/302-consent-submit-authenticate-with-me.js
  packages/endpoint-auth/test/integration/302-consent-submit-authenticate.js
Due: prettier --write, xo

refactor(util): let a collection cast its own ids (#821 spike)
  packages/util/lib/mongodb.js
  packages/util/lib/sqlite.js
  packages/util/test/unit/mongodb.js
  packages/util/test/unit/sqlite-spike.js
Due: prettier --write, xo

fix(indiekit): derive application URL from each request
  packages/indiekit/index.js
  packages/indiekit/lib/middleware/locals.js
  packages/indiekit/test/unit/middleware/locals.js
Due: prettier --write, xo

chore: make the development environment work from a clean checkout
  .env.example
  .prettierignore
  compose.yaml
  docs/development.md
  package.json
  packages/util/test/unit/mongodb.js
Due: prettier --write, xo

chore: make the development environment work from a clean checkout
  .env.example
  .prettierignore
  compose.yml
  docs/development.md
  package.json
  packages/util/test/unit/mongodb.js
Due: prettier --write, xo

fix(endpoint-auth): accept authorization requests without response_type
  packages/endpoint-auth/lib/controllers/authorization.js
  packages/endpoint-auth/test/integration/302-authorization-no-response-type.js
Due: prettier --write, xo

fix(endpoint-auth): limit missing `response_type` to indieauth.com
  packages/endpoint-auth/lib/controllers/authorization.js
  packages/endpoint-auth/test/integration/200-authorization-no-response-type.js
  packages/endpoint-auth/test/integration/302-authorization-no-response-type.js
Due: prettier --write, xo

fix(endpoint-auth): limit missing `response_type` to indieauth.com
  packages/endpoint-auth/lib/controllers/authorization.js
  packages/endpoint-auth/test/integration/200-authorization-no-response-type.js
Due: prettier --write, xo

fix(endpoint-auth): limit missing `response_type` to indieauth.com
  packages/endpoint-auth/lib/controllers/authorization.js
  packages/endpoint-auth/test/integration/302-authorization-indieauth-com.js
Due: prettier --write, xo

fix(endpoint-auth): accept code exchange without `grant_type` at /auth
  packages/endpoint-auth/lib/middleware/code.js
  packages/endpoint-auth/test/integration/200-authorization-profile-no-grant-type.js
  packages/endpoint-auth/test/integration/400-token-grant-no-grant-type.js
Due: prettier --write, xo

Update clients.md
  docs/clients.md
Due: none

feat(syndicator-indienews): use language names for multiple targets
  packages/syndicator-indienews/index.js
  packages/syndicator-indienews/test/index.js
Due: prettier --write, xo

fix(syndicator-indienews): handle invalid language tags
  packages/syndicator-indienews/index.js
  packages/syndicator-indienews/test/index.js
Due: prettier --write, xo

fix(endpoint-posts): look up posts by id so older posts don’t 404
  helpers/mock-agent/endpoint-posts.js
  packages/endpoint-posts/lib/middleware/post-data.js
  packages/endpoint-posts/lib/utils.js
  packages/endpoint-posts/test/integration/200-get-delete.js
  packages/endpoint-posts/test/integration/200-post-not-in-latest-40.js
  packages/endpoint-posts/test/integration/302-get-delete.js
  packages/endpoint-posts/test/integration/302-post-delete.js
  packages/endpoint-posts/test/integration/401-post-delete-unauthorized.js
  packages/endpoint-posts/test/unit/utils.js
Due: prettier --write, xo

fix(syndicator-mastodon): thread replies to statuses on other servers
  helpers/mock-agent/syndicator-mastodon.js
  packages/syndicator-mastodon/lib/mastodon.js
  packages/syndicator-mastodon/lib/utils.js
  packages/syndicator-mastodon/test/unit/mastodon.js
  packages/syndicator-mastodon/test/unit/utils.js
Due: prettier --write, xo

fix(endpoint-micropub): reject unconfigured post type on update, delete and undelete
  packages/endpoint-micropub/lib/post-data.js
  packages/endpoint-micropub/test/unit/post-data.js
Due: prettier --write, xo

fix: report an invalid syndicator URL instead of throwing
  packages/endpoint-micropub/lib/config.js
  packages/endpoint-micropub/lib/jf2.js
  packages/endpoint-micropub/test/unit/config.js
  packages/endpoint-micropub/test/unit/jf2.js
  packages/endpoint-posts/lib/utils.js
  packages/endpoint-posts/test/unit/utils.js
  packages/syndicator-bluesky/index.js
  packages/syndicator-bluesky/test/index.js
  packages/syndicator-mastodon/index.js
  packages/syndicator-mastodon/test/index.js
Due: prettier --write, xo

fix(endpoint-syndicate): ignore syndication values that aren’t URLs
  packages/endpoint-syndicate/lib/utils.js
  packages/endpoint-syndicate/test/integration/200-syndicates-url-with-malformed-syndication.js
  packages/endpoint-syndicate/test/unit/utils.js
Due: prettier --write, xo

fix(endpoint-webmention-io): cope with authors without a photo or a valid URL
  packages/endpoint-webmention-io/lib/controllers/webmentions.js
  packages/endpoint-webmention-io/lib/utils.js
  packages/endpoint-webmention-io/test/integration/200-webmentions.js
  packages/endpoint-webmention-io/test/unit/utils.js
Due: prettier --write, xo

fix(frontend): serve cached page on a slow network, skip cross-origin and auth requests
  packages/frontend/lib/serviceworker.js
  packages/frontend/test/unit/serviceworker.js
Due: prettier --write, xo

fix(endpoint-auth): bind code exchange to the code's own claims
  packages/endpoint-auth/lib/middleware/code.js
  packages/endpoint-auth/test/integration/200-authorization-profile-json.js
  packages/endpoint-auth/test/integration/200-authorization-profile-no-grant-type.js
  packages/endpoint-auth/test/integration/200-token-grant-json.js
  packages/endpoint-auth/test/integration/200-token-grant-url-encoded.js
  packages/endpoint-auth/test/integration/400-token-grant-invalid-pkce-code.js
  packages/endpoint-auth/test/integration/400-token-grant-invalid-redirect-uri.js
  packages/endpoint-auth/test/integration/401-token-grant-code-issued-to-other-client.js
  packages/endpoint-auth/test/integration/401-token-grant-invalid-client-id.js
  packages/endpoint-auth/test/integration/401-token-grant-no-authorization-request.js
Due: prettier --write, xo

fix(endpoint-auth): stop describing state the middleware no longer reads
  packages/endpoint-auth/lib/middleware/code.js
  packages/endpoint-auth/test/integration/401-token-grant-no-authorization-request.js
Due: prettier --write, xo

fix(preset-eleventy): write posts where the advertised URL resolves
  packages/preset-eleventy/lib/post-types.js
  packages/preset-eleventy/test/index.js
  packages/preset-eleventy/test/unit/post-types.js
Due: prettier --write, xo

feat(endpoint-auth): support profile scope and add userinfo endpoint
  helpers/config/index.js
  helpers/fixtures/html/profile.html
  helpers/mock-agent/endpoint-auth.js
  packages/endpoint-auth/README.md
  packages/endpoint-auth/index.js
  packages/endpoint-auth/lib/client.js
  packages/endpoint-auth/lib/controllers/authorization.js
  packages/endpoint-auth/lib/controllers/metadata.js
  packages/endpoint-auth/lib/controllers/token.js
  packages/endpoint-auth/lib/controllers/userinfo.js
  packages/endpoint-auth/lib/profile.js
  packages/endpoint-auth/lib/scope.js
  packages/endpoint-auth/test/integration/200-authorization-profile-scope.js
  packages/endpoint-auth/test/integration/200-metadata.js
  packages/endpoint-auth/test/integration/200-token-grant-profile-scope.js
  packages/endpoint-auth/test/integration/200-userinfo.js
  packages/endpoint-auth/test/integration/401-userinfo-invalid-token.js
  packages/endpoint-auth/test/integration/403-userinfo-insufficient-scope.js
  packages/endpoint-auth/test/unit/profile.js
Due: prettier --write, xo

fix(endpoint-micropub): count other posts of a type when rendering the n token
  packages/endpoint-micropub/lib/post-type-count.js
  packages/endpoint-micropub/test/unit/post-type-count.js
Due: prettier --write, xo

fix(endpoint-syndicate): syndicate posts awaiting syndication oldest first
  packages/endpoint-syndicate/lib/utils.js
  packages/endpoint-syndicate/test/unit/utils.js
Due: prettier --write, xo

docs: say how to quote PASSWORD_SECRET for Docker Compose and direnv
  docs/get-started.md
Due: none

fix(endpoint-micropub): drop unawaited count() check that leaked an operation past the test
  packages/endpoint-micropub/lib/post-type-count.js
Due: prettier --write, xo

feat(frontend): replace markdown-it-prism with microlighter
  package-lock.json
  packages/frontend/layouts/default.njk
  packages/frontend/lib/markdown-it.js
  packages/frontend/package.json
  packages/frontend/scripts/app.js
  packages/frontend/styles/app.css
  packages/frontend/styles/config/custom-properties.css
  packages/frontend/styles/scopes/flow.css
  packages/frontend/styles/vendor/markdown-it-prism.css
Due: prettier --write, xo, stylelint

chore: update dependencies
  package-lock.json
  package.json
Due: none

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  xo: any of: *.js
  stylelint: any of: *.css
