Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

fix(store-gitea): set content-type header
  packages/store-gitea/index.js
Due: prettier --write, xo

feat(store-gitea): return error message
  helpers/mock-agent/store-gitea.js
  packages/store-gitea/index.js
  packages/store-gitea/tests/index.js
Due: prettier --write, xo

feat(store-ftp): file renaming for updates
  packages/store-ftp/index.js
Due: prettier --write, xo

feat(store-github): file renaming for updates
  helpers/mock-agent/store-github.js
  packages/store-github/index.js
  packages/store-github/tests/index.js
Due: prettier --write, xo

feat(store-file-system): file renaming for updates
  packages/store-file-system/index.js
  packages/store-file-system/tests/index.js
Due: prettier --write, xo

feat(endpoint-micropub): file renaming for updates
  packages/endpoint-micropub/lib/post-content.js
  packages/endpoint-micropub/lib/post-data.js
Due: prettier --write, xo

docs: add newPath option to updateFile method
  docs/plugins/api/add-store.md
Due: none

feat(store-bitbucket): file renaming for updates
  packages/store-bitbucket/index.js
  packages/store-bitbucket/tests/index.js
Due: prettier --write, xo

feat(store-gitea): file renaming for updates
  helpers/mock-agent/store-gitea.js
  packages/store-gitea/index.js
  packages/store-gitea/tests/index.js
Due: prettier --write, xo

feat(store-gitlab): file renaming for updates
  helpers/mock-agent/store-gitlab.js
  packages/store-gitlab/index.js
  packages/store-gitlab/tests/index.js
Due: prettier --write, xo

feat(endpoint-posts): editable url slug
  packages/endpoint-posts/lib/controllers/form.js
  packages/endpoint-posts/locales/de.json
  packages/endpoint-posts/locales/en.json
  packages/endpoint-posts/locales/es.json
  packages/endpoint-posts/locales/fr.json
  packages/endpoint-posts/locales/id.json
  packages/endpoint-posts/locales/nl.json
  packages/endpoint-posts/locales/pl.json
  packages/endpoint-posts/locales/pt.json
  packages/endpoint-posts/locales/sr.json
  packages/endpoint-posts/locales/zh-Hans-CN.json
  packages/endpoint-posts/views/post-form.njk
Due: prettier --write, xo

feat(endpoint-posts): update french locale
  packages/endpoint-posts/locales/fr.json
Due: none

feat(frontend): disable automatic linking in markdown
  packages/frontend/lib/markdown-it.js
Due: prettier --write, xo

ci: add internet archive syndicator to sandbox config
  indiekit.config.js
Due: prettier --write, xo

feat(frontend): add heading level option for card component
  packages/frontend/components/card/template.njk
Due: none

feat(frontend): add card component to default layout
  packages/frontend/layouts/default.njk
Due: none

refactor(frontend): card component spacing and custom variables
  packages/frontend/components/card-grid/styles.css
  packages/frontend/components/card/styles.css
  packages/frontend/components/summary/styles.css
Due: prettier --write, stylelint

feat(frontend): simpler card footer layout
  packages/frontend/components/card/styles.css
  packages/frontend/components/card/template.njk
Due: prettier --write, stylelint

feat(indiekit): plug-in presentation in server status
  packages/indiekit/views/status.njk
Due: none

feat(frontend): add photo to document heading
  packages/frontend/layouts/document.njk
Due: none

feat(indiekit): move plug-in icon to heading
  packages/indiekit/lib/controllers/plugin.js
  packages/indiekit/views/plugins/view.njk
Due: prettier --write, xo

feat(frontend): add photo option to heading component
  helpers/frontend/views/frontend-components.njk
  packages/frontend/components/heading/styles.css
  packages/frontend/components/heading/template.njk
Due: prettier --write, stylelint

fix(endpoint-auth): client logo not appearing
  packages/endpoint-auth/lib/client.js
Due: prettier --write, xo

feat(endpoint-auth): shorter redirect hint on consent form
  packages/endpoint-auth/locales/de.json
  packages/endpoint-auth/locales/en.json
  packages/endpoint-auth/locales/es.json
  packages/endpoint-auth/locales/fr.json
  packages/endpoint-auth/locales/id.json
  packages/endpoint-auth/locales/nl.json
  packages/endpoint-auth/locales/pl.json
  packages/endpoint-auth/locales/pt.json
  packages/endpoint-auth/locales/sr.json
  packages/endpoint-auth/views/consent.njk
Due: none

feat(frontend): remove deprecated pagination localisations
  packages/frontend/locales/de.json
  packages/frontend/locales/en.json
  packages/frontend/locales/es.json
  packages/frontend/locales/fr.json
  packages/frontend/locales/id.json
  packages/frontend/locales/nl.json
  packages/frontend/locales/pl.json
  packages/frontend/locales/pt.json
  packages/frontend/locales/sr.json
  packages/frontend/locales/zh-Hans-CN.json
Due: none

fix(endpoint-posts): use accessible categories input
  packages/endpoint-posts/lib/controllers/form.js
  packages/endpoint-posts/locales/de.json
  packages/endpoint-posts/locales/en.json
  packages/endpoint-posts/locales/es.json
  packages/endpoint-posts/locales/fr.json
  packages/endpoint-posts/locales/id.json
  packages/endpoint-posts/locales/nl.json
  packages/endpoint-posts/locales/pl.json
  packages/endpoint-posts/locales/pt.json
  packages/endpoint-posts/locales/sr.json
  packages/endpoint-posts/locales/zh-Hans-CN.json
  packages/endpoint-posts/views/post-form.njk
Due: prettier --write, xo

feat(frontend): accessible tag input component
  helpers/frontend/views/frontend-form.njk
  package-lock.json
  packages/frontend/components/input/styles.css
  packages/frontend/components/tag-input/index.js
  packages/frontend/components/tag-input/macro.njk
  packages/frontend/components/tag-input/styles.css
  packages/frontend/components/tag-input/template.njk
  packages/frontend/components/textarea/styles.css
  packages/frontend/components/token-input/index.js
  packages/frontend/components/token-input/styles.css
  packages/frontend/components/token-input/template.njk
  packages/frontend/layouts/default.njk
  packages/frontend/lib/rollup.js
  packages/frontend/lib/utils/focusable-elements.js
  packages/frontend/locales/de.json
  packages/frontend/locales/en.json
  packages/frontend/locales/es.json
  packages/frontend/locales/fr.json
  packages/frontend/locales/id.json
  packages/frontend/locales/nl.json
  packages/frontend/locales/pl.json
  packages/frontend/locales/pt.json
  packages/frontend/locales/sr.json
  packages/frontend/locales/zh-Hans-CN.json
  packages/frontend/package.json
  packages/frontend/scripts/app.js
Due: prettier --write, xo, stylelint

fix(endpoint-posts): correct back link from edit form
  packages/endpoint-posts/lib/controllers/form.js
Due: prettier --write, xo

feat(endpoint-posts): add back link to new post form
  packages/endpoint-posts/lib/controllers/new.js
Due: prettier --write, xo

feat(frontend): update samp text style
  packages/frontend/styles/base/text.css
Due: prettier --write, stylelint

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  xo: any of: *.js
  stylelint: any of: *.css
