Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

feat(endpoint-posts): add web app shortcut
  packages/endpoint-posts/index.js
Due: prettier --write, xo

docs: add shortcutItems property to endpoint api
  docs/plugins/api/add-endpoint.md
Due: none

feat(indiekit): add shortcuts
  packages/indiekit/lib/controllers/manifest.js
  packages/indiekit/lib/middleware/locals.js
  packages/indiekit/lib/shortcuts.js
  packages/indiekit/test/unit/navigation.js
  packages/indiekit/test/unit/shortcuts.js
Due: prettier --write, xo

feat(endpoint-files): add web app shortcut
  packages/endpoint-files/index.js
Due: prettier --write, xo

feat(endpoint-media): media transformations
  indiekit.config.js
  package-lock.json
  packages/endpoint-media/lib/controllers/action.js
  packages/endpoint-media/lib/media-transform.js
  packages/endpoint-media/package.json
Due: prettier --write, xo

fix(syndicator-internet-archive): photo path
  packages/syndicator-internet-archive/index.js
Due: prettier --write, xo

fix(syndicator-mastodon): photo path
  packages/syndicator-mastodon/index.js
Due: prettier --write, xo

test: fix images in component previews
  helpers/frontend/views/frontend-components.njk
Due: none

feat(frontend): progress component
  helpers/frontend/views/frontend-components.njk
  packages/frontend/components/progress/macro.njk
  packages/frontend/components/progress/styles.css
  packages/frontend/components/progress/template.njk
  packages/frontend/styles/app.css
Due: prettier --write, stylelint

feat(post-type-photo): use file upload component
  packages/post-type-photo/includes/post-types/photo-field.njk
Due: none

feat(post-type-video): use file upload component
  packages/post-type-video/includes/post-types/video-field.njk
Due: none

feat(frontend): file upload input component
  helpers/frontend/views/frontend-form.njk
  packages/frontend/components/file-input/index.js
  packages/frontend/components/file-input/macro.njk
  packages/frontend/components/file-input/styles.css
  packages/frontend/components/file-input/template.njk
  packages/frontend/components/input/styles.css
  packages/frontend/layouts/default.njk
  packages/frontend/locales/de.json
  packages/frontend/locales/en.json
  packages/frontend/locales/es-419.json
  packages/frontend/locales/es.json
  packages/frontend/locales/fr.json
  packages/frontend/locales/id.json
  packages/frontend/locales/nl.json
  packages/frontend/locales/pl.json
  packages/frontend/locales/pt.json
  packages/frontend/locales/sr.json
  packages/frontend/locales/sv.json
  packages/frontend/locales/zh-Hans-CN.json
  packages/frontend/scripts/app.js
  packages/frontend/styles/app.css
Due: prettier --write, xo, stylelint

feat(post-type-audio): use file upload component
  packages/post-type-audio/includes/post-types/audio-field.njk
Due: none

fix(endpoint-files): update localisations
  packages/endpoint-files/locales/nl.json
  packages/endpoint-files/locales/pt.json
Due: none

feat(store-github): git lfs support [wip]
  indiekit.config.js
  packages/store-github/index.js
Due: prettier --write, xo

feat(endpoint-activitypub): wip
  indiekit.config.js
  package-lock.json
  packages/endpoint-activitypub/README.md
  packages/endpoint-activitypub/index.js
  packages/endpoint-activitypub/package.json
Due: prettier --write, xo

feat(endpoint-webmention): wip
  indiekit.config.js
  package-lock.json
  packages/endpoint-webmention/assets/icon.svg
  packages/endpoint-webmention/index.js
  packages/endpoint-webmention/lib/controllers/query.js
  packages/endpoint-webmention/lib/controllers/receive.js
  packages/endpoint-webmention/lib/controllers/update.js
  packages/endpoint-webmention/lib/middleware/handler.js
  packages/endpoint-webmention/package.json
  packages/indiekit/index.js
  packages/indiekit/package.json
Due: prettier --write, xo

feat: store content store state [wip]
  helpers/post-data/index.js
  packages/endpoint-micropub/lib/controllers/action.js
  packages/endpoint-micropub/lib/post-content.js
  packages/endpoint-micropub/lib/post-data.js
  packages/endpoint-micropub/lib/store-data.js
  packages/endpoint-micropub/test/unit/post-content.js
  packages/endpoint-micropub/test/unit/post-data.js
  packages/endpoint-posts/lib/middleware/post-data.js
  packages/endpoint-posts/lib/utils.js
  packages/endpoint-posts/locales/en.json
  packages/endpoint-posts/views/post.njk
  packages/frontend/components/warning-text/styles.css
  packages/util/lib/date.js
Due: prettier --write, xo, stylelint

fix(frontend): remove unused data attribute
  packages/frontend/components/textarea/template.njk
Due: none

style(frontend): use consistent notation for queried elements
  packages/frontend/components/add-another/index.js
  packages/frontend/components/checkboxes/index.js
  packages/frontend/components/error-summary/index.js
  packages/frontend/components/event-duration/index.js
  packages/frontend/components/geo-input/index.js
  packages/frontend/components/radios/index.js
  packages/frontend/components/share-preview/index.js
  packages/frontend/components/tag-input/index.js
  packages/frontend/components/textarea/index.js
Due: prettier --write, xo

chore: update dependencies
  package-lock.json
  package.json
  packages/preset-jekyll/package.json
Due: none

ci: remove _site folder from .prettierignore
  .prettierignore
Due: none

ci: update nodemon config
  package.json
Due: none

fix(endpoint-micropub): missing renderPath param
  packages/endpoint-micropub/lib/post-data.js
Due: prettier --write, xo

feat(endpoint-media): slugify filename to make url safe
  packages/endpoint-media/lib/utils.js
  packages/endpoint-media/test/unit/utils.js
Due: prettier --write, xo

docs: update filename media file token
  docs/configuration/tokens.md
Due: none

feat(endpoint-media): add md5 path token
  packages/endpoint-media/lib/file.js
  packages/endpoint-media/lib/utils.js
  packages/endpoint-media/test/unit/file.js
  packages/endpoint-media/test/unit/utils.js
Due: prettier --write, xo

docs: add md5 media file token
  docs/configuration/tokens.md
Due: none

fix(endpoint-micropub): prevent slug property from being deleted
  packages/endpoint-micropub/lib/post-data.js
Due: prettier --write, xo

feat(endpoint-micropub): revert decoupling slug post property from slug token
  helpers/fixtures/jf2/article-content-provided.jf2
  helpers/fixtures/jf2/article-slug-provided-empty.jf2
  helpers/fixtures/jf2/note-slug-missing-no-name.jf2
  helpers/fixtures/jf2/note-slug-provided-unslugified.jf2
  helpers/fixtures/jf2/note-slug-provided.jf2
  packages/endpoint-micropub/lib/jf2.js
  packages/endpoint-micropub/lib/utils.js
  packages/endpoint-micropub/test/unit/jf2.js
  packages/endpoint-micropub/test/unit/post-data.js
  packages/endpoint-micropub/test/unit/utils.js
Due: prettier --write, xo

fix(endpoint-posts): get saved slug property
  packages/endpoint-posts/views/post-form.njk
Due: none

feat(endpoint-micropub): remove uuid token
  packages/endpoint-micropub/lib/utils.js
  packages/endpoint-micropub/test/unit/utils.js
Due: prettier --write, xo

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  xo: any of: *.js
  stylelint: any of: *.css
