Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

.lintstagedrc.json:

{
  "*.js": [
    "prettier --write",
    "xo"
  ],
  "*.css": [
    "prettier --write",
    "stylelint"
  ]
}

chore: update dependencies
  package-lock.json
  package.json
  packages/frontend/package.json
Due: none

style(syndicator-mastodon): consistent test names
  packages/syndicator-mastodon/test/unit/utils.js
Due: prettier --write, xo

ci: allow build workflow to be run manually
  .github/workflows/build.yml
Due: none

style: update workflow yaml syntax
  .github/workflows/build.yml
Due: none

test: configure internet archive syndicator
  helpers/config/index.js
Due: prettier --write, xo

fix(syndicator-internet-archive): append errors to existing info objection
  packages/syndicator-internet-archive/index.js
Due: prettier --write, xo

test(endpoint-syndicate): correct file name
  packages/endpoint-syndicate/test/integration/501-no-database.js
Due: prettier --write, xo

feat(syndicator-mastodon): default url option to mastodon.social
  packages/syndicator-mastodon/README.md
  packages/syndicator-mastodon/index.js
  packages/syndicator-mastodon/test/index.js
Due: prettier --write, xo

test(endpoint-syndicate): add mock agent for web.archive.org
  helpers/mock-agent/endpoint-syndicate.js
Due: prettier --write, xo

refactor(syndicator-internet-archive): use class for internet archive api
  packages/syndicator-internet-archive/index.js
  packages/syndicator-internet-archive/lib/internet-archive.js
  packages/syndicator-internet-archive/test/unit/internet-archive.js
Due: prettier --write, xo

refactor(syndicator-mastodon): use class for mastodon api
  packages/syndicator-mastodon/index.js
  packages/syndicator-mastodon/lib/mastodon.js
  packages/syndicator-mastodon/test/unit/mastodon.js
Due: prettier --write, xo

docs: add bluesky syndicator
  README.md
  docs/.vitepress/config.js
  docs/get-started.md
  docs/plugins/syndicators/bluesky.md
  docs/plugins/syndicators/index.md
Due: prettier --write, xo

feat(syndicator-bluesky): bluesky syndicator
  helpers/mock-agent/syndicator-bluesky.js
  indiekit.config.js
  package-lock.json
  package.json
  packages/syndicator-bluesky/README.md
  packages/syndicator-bluesky/assets/icon.svg
  packages/syndicator-bluesky/index.js
  packages/syndicator-bluesky/lib/bluesky.js
  packages/syndicator-bluesky/lib/utils.js
  packages/syndicator-bluesky/package.json
  packages/syndicator-bluesky/test/index.js
  packages/syndicator-bluesky/test/unit/bluesky.js
  packages/syndicator-bluesky/test/unit/utils.js
Due: prettier --write, xo

feat: add Italian localisation
  docs/configuration/localisation.md
  packages/endpoint-auth/locales/it.json
  packages/endpoint-files/locales/it.json
  packages/endpoint-posts/locales/it.json
  packages/endpoint-share/locales/it.json
  packages/endpoint-webmention-io/locales/it.json
  packages/error/locales/it.json
  packages/frontend/locales/it.json
  packages/indiekit/config/locales.js
  packages/indiekit/locales/it.json
  packages/post-type-audio/locales/it.json
  packages/post-type-bookmark/locales/it.json
  packages/post-type-event/locales/it.json
  packages/post-type-jam/locales/it.json
  packages/post-type-like/locales/it.json
  packages/post-type-photo/locales/it.json
  packages/post-type-reply/locales/it.json
  packages/post-type-repost/locales/it.json
  packages/post-type-rsvp/locales/it.json
  packages/post-type-video/locales/it.json
Due: prettier --write, xo

fix(util): sanitise nested values
  packages/util/lib/object.js
  packages/util/test/unit/object.js
Due: prettier --write, xo

fix(endpoint-syndicate): don’t add syndicated url if no value returned from syndicator
  packages/endpoint-syndicate/lib/utils.js
Due: prettier --write, xo

fix(frontend): default display of summary disclosure icon
  packages/frontend/styles/app.css
  packages/frontend/styles/base/interactive.css
Due: prettier --write, stylelint

fix(frontend): z-index of header vs codemirror fullscreen editor
  packages/frontend/styles/vendor/codemirror.css
  packages/frontend/styles/vendor/easy-markdown-editor.css
Due: prettier --write, stylelint

chore: update dependencies
  package-lock.json
Due: none

fix(syndicator-bluesky): use correct post url format
  packages/syndicator-bluesky/index.js
  packages/syndicator-bluesky/test/unit/bluesky.js
Due: prettier --write, xo

v1.0.0-beta.22
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/syndicator-bluesky/CHANGELOG.md
  packages/syndicator-bluesky/package.json
Due: none

docs: update link to support ukraine
  docs/.vitepress/config.js
Due: prettier --write, xo

docs(syndicator-bluesky): recommend using an app password, stored in environment variable
  packages/syndicator-bluesky/README.md
Due: none

chore: update dependencies
  package-lock.json
  package.json
  packages/endpoint-auth/package.json
  packages/endpoint-media/package.json
  packages/indiekit/package.json
  packages/preset-jekyll/package.json
  packages/syndicator-bluesky/package.json
  packages/syndicator-mastodon/package.json
Due: none

style: update jsdoc comments
  packages/indiekit/lib/utils.js
  packages/store-ftp/index.js
Due: prettier --write, xo

fix(endpoint-micropub): normalise channel property earlier. fixes #793
  packages/endpoint-micropub/lib/jf2.js
  packages/endpoint-micropub/lib/utils.js
Due: prettier --write, xo

fix(syndicator-bluesky): handle no handle
  packages/syndicator-bluesky/index.js
Due: prettier --write, xo

v1.0.0-beta.23
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/create-indiekit/CHANGELOG.md
  packages/create-indiekit/package.json
  packages/endpoint-auth/CHANGELOG.md
  packages/endpoint-auth/package.json
  packages/endpoint-media/CHANGELOG.md
  packages/endpoint-media/package.json
  packages/endpoint-micropub/CHANGELOG.md
  packages/endpoint-micropub/package.json
  packages/endpoint-posts/CHANGELOG.md
  packages/endpoint-posts/package.json
  packages/indiekit/CHANGELOG.md
  packages/indiekit/package.json
  packages/preset-jekyll/CHANGELOG.md
  packages/preset-jekyll/package.json
  packages/store-ftp/CHANGELOG.md
  packages/store-ftp/package.json
  packages/syndicator-bluesky/CHANGELOG.md
  packages/syndicator-bluesky/package.json
  packages/syndicator-mastodon/CHANGELOG.md
  packages/syndicator-mastodon/package.json
Due: none

fix(frontend): compiled nested css gets corrupted by lightningcss
  packages/frontend/components/back-link/styles.css
Due: prettier --write, stylelint

v1.0.0-beta.24
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/endpoint-posts/CHANGELOG.md
  packages/endpoint-posts/package.json
  packages/frontend/CHANGELOG.md
  packages/frontend/package.json
  packages/indiekit/CHANGELOG.md
  packages/indiekit/package.json
Due: none

chore: update dependencies
  package-lock.json
  package.json
  packages/indiekit/package.json
  packages/store-gitlab/package.json
  packages/syndicator-bluesky/package.json
Due: none

fix(store-gitlab): error responses
  helpers/mock-agent/store-gitlab.js
  packages/store-gitlab/index.js
Due: prettier --write, xo

style: prefer class fields
  helpers/frontend/index.js
  helpers/store/index.js
  packages/endpoint-auth/index.js
  packages/endpoint-files/index.js
  packages/endpoint-image/index.js
  packages/endpoint-json-feed/index.js
  packages/endpoint-media/index.js
  packages/endpoint-micropub/index.js
  packages/endpoint-posts/index.js
  packages/endpoint-share/index.js
  packages/endpoint-syndicate/index.js
  packages/endpoint-webmention-io/index.js
  packages/indiekit/test/index.js
  packages/post-type-article/index.js
  packages/post-type-audio/index.js
  packages/post-type-bookmark/index.js
  packages/post-type-event/index.js
  packages/post-type-jam/index.js
  packages/post-type-like/index.js
  packages/post-type-note/index.js
  packages/post-type-photo/index.js
  packages/post-type-reply/index.js
  packages/post-type-repost/index.js
  packages/post-type-rsvp/index.js
  packages/post-type-video/index.js
  packages/preset-eleventy/index.js
  packages/preset-hugo/index.js
  packages/preset-jekyll/index.js
  packages/store-bitbucket/index.js
  packages/store-file-system/index.js
  packages/store-ftp/index.js
  packages/store-gitea/index.js
  packages/store-github/index.js
  packages/store-gitlab/index.js
  packages/store-s3/index.js
  packages/syndicator-bluesky/index.js
  packages/syndicator-internet-archive/index.js
  packages/syndicator-mastodon/index.js
Due: prettier --write, xo

style(error): no useless error capture stack trace
  packages/error/index.js
Due: prettier --write, xo
