Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

refactor: simplify setting label text on fields
  helpers/frontend/views/frontend-form.njk
  packages/endpoint-auth/lib/scope.js
  packages/endpoint-auth/views/consent.njk
  packages/endpoint-auth/views/new-password.njk
  packages/endpoint-files/views/file-form.njk
  packages/endpoint-posts/lib/controllers/new.js
  packages/endpoint-posts/lib/utils.js
  packages/endpoint-posts/tests/unit/utils.js
  packages/endpoint-posts/views/post-form.njk
  packages/endpoint-share/views/share.njk
  packages/frontend/components/checkboxes/template.njk
  packages/frontend/components/input/template.njk
  packages/frontend/components/radios/template.njk
  packages/frontend/components/select/template.njk
  packages/frontend/components/textarea/template.njk
Due: prettier --write, xo

refactor: page headings in labels and legends
  packages/endpoint-auth/views/new-password.njk
  packages/frontend/components/fieldset/template.njk
  packages/frontend/components/input/template.njk
  packages/frontend/components/label/styles.css
  packages/frontend/components/label/template.njk
  packages/frontend/components/select/template.njk
  packages/frontend/components/textarea/template.njk
  packages/frontend/layouts/form.njk
Due: prettier --write, stylelint

refactor: simplify setting legend text on fields
  helpers/frontend/views/frontend-form.njk
  packages/endpoint-auth/views/consent.njk
  packages/endpoint-posts/views/post-form.njk
  packages/frontend/components/fieldset/styles.css
  packages/frontend/components/fieldset/template.njk
  packages/frontend/layouts/form.njk
Due: prettier --write, stylelint

feat: add Latin American Spanish localisation from Claudia Botero
  docs/configuration/localisation.md
  packages/endpoint-auth/locales/es-419.json
  packages/endpoint-files/locales/es-419.json
  packages/endpoint-posts/locales/es-419.json
  packages/endpoint-share/locales/es-419.json
  packages/error/locales/es-419.json
  packages/frontend/locales/es-419.json
  packages/indiekit/config/defaults.js
  packages/indiekit/locales/es-419.json
Due: prettier --write, xo

refactor(frontend): remove unused fieldset styles
  packages/frontend/components/fieldset/styles.css
Due: prettier --write, stylelint

feat(frontend): add element wrapping utility
  packages/frontend/components/geo-input/index.js
  packages/frontend/lib/utils/wrap-element.js
Due: prettier --write, xo

feat(frontend): add another component
  helpers/frontend/views/frontend-form.njk
  packages/frontend/components/add-another/index.js
  packages/frontend/components/add-another/macro.njk
  packages/frontend/components/add-another/styles.css
  packages/frontend/components/add-another/template.njk
  packages/frontend/layouts/default.njk
  packages/frontend/locales/de.json
  packages/frontend/locales/en.json
  packages/frontend/locales/es-419.json
  packages/frontend/locales/es.json
  packages/frontend/locales/fr.json
  packages/frontend/locales/id.json
  packages/frontend/locales/nl.json
  packages/frontend/locales/pl.json
  packages/frontend/locales/pt.json
  packages/frontend/locales/sr.json
  packages/frontend/locales/zh-Hans-CN.json
  packages/frontend/scripts/app.js
Due: prettier --write, xo, stylelint

feat(endpoint-posts): use add another component
  packages/endpoint-posts/lib/controllers/form.js
  packages/endpoint-posts/locales/de.json
  packages/endpoint-posts/locales/en.json
  packages/endpoint-posts/locales/es-419.json
  packages/endpoint-posts/locales/es.json
  packages/endpoint-posts/locales/fr.json
  packages/endpoint-posts/locales/id.json
  packages/endpoint-posts/locales/nl.json
  packages/endpoint-posts/locales/pl.json
  packages/endpoint-posts/locales/pt.json
  packages/endpoint-posts/locales/sr.json
  packages/endpoint-posts/locales/zh-Hans-CN.json
  packages/endpoint-posts/views/post-form.njk
Due: prettier --write, xo

chore: update dependencies
  package-lock.json
  package.json
  packages/frontend/package.json
  packages/preset-hugo/package.json
Due: none

style(frontend): syntax for add another component
  packages/frontend/components/add-another/index.js
  packages/frontend/components/add-another/template.njk
Due: prettier --write, xo

style(frontend): syntax for error summary component
  packages/frontend/components/error-summary/index.js
  packages/frontend/components/error-summary/template.njk
Due: prettier --write, xo

feat(frontend): add caller to input component
  packages/frontend/components/input/template.njk
Due: none

style(frontend): syntax for geo input component
  packages/frontend/components/geo-input/index.js
  packages/frontend/components/geo-input/template.njk
Due: prettier --write, xo

style(frontend): syntax for notification component
  packages/frontend/components/notification/index.js
Due: prettier --write, xo

style(frontend): syntax for preview component
  packages/frontend/components/preview/index.js
Due: prettier --write, xo

style(frontend): syntax for tag input component
  packages/frontend/components/tag-input/index.js
Due: prettier --write, xo

style(frontend): syntax for wrap element utility
  packages/frontend/lib/utils/wrap-element.js
Due: prettier --write, xo

refactor(frontend): form spacing
  packages/frontend/components/add-another/styles.css
  packages/frontend/components/checkboxes/styles.css
  packages/frontend/components/field/styles.css
  packages/frontend/components/fieldset/styles.css
  packages/frontend/components/hint/styles.css
  packages/frontend/components/input/styles.css
  packages/frontend/components/label/styles.css
  packages/frontend/components/radios/styles.css
  packages/frontend/styles/config/custom-properties.css
Due: prettier --write, stylelint

feat(frontend): conditional radios
  helpers/frontend/views/frontend-form.njk
  packages/frontend/components/radios/index.js
  packages/frontend/components/radios/styles.css
  packages/frontend/components/radios/template.njk
  packages/frontend/layouts/default.njk
  packages/frontend/scripts/app.js
Due: prettier --write, xo, stylelint

feat(frontend): exclusive checkbox behaviour
  helpers/frontend/views/frontend-form.njk
  packages/frontend/components/checkboxes/index.js
Due: prettier --write, xo

feat(frontend): conditional checkboxes
  helpers/frontend/views/frontend-form.njk
  packages/frontend/components/checkboxes/index.js
  packages/frontend/components/checkboxes/styles.css
  packages/frontend/components/checkboxes/template.njk
  packages/frontend/scripts/app.js
Due: prettier --write, xo, stylelint

feat(endpoint-posts): change order of advanced options
  packages/endpoint-posts/views/post-form.njk
Due: none

feat(endpoint-micropub): include publication date in property normalisation
  packages/endpoint-micropub/lib/jf2.js
  packages/endpoint-micropub/lib/post-data.js
  packages/endpoint-micropub/tests/unit/jf2.js
Due: prettier --write, xo

refactor: generalise time zone designator utility function
  packages/endpoint-media/lib/utils.js
  packages/endpoint-micropub/lib/utils.js
  packages/util/index.js
  packages/util/lib/date.js
  packages/util/tests/unit/date.js
Due: prettier --write, xo

feat(util): format a date as local date
  packages/util/index.js
  packages/util/lib/date.js
  packages/util/tests/unit/date.js
Due: prettier --write, xo

feat(util): get offset minutes from time zone name
  packages/util/index.js
  packages/util/lib/date.js
  packages/util/tests/unit/date.js
Due: prettier --write, xo

feat(frontend): add localDate filter
  packages/frontend/lib/filters/index.js
Due: prettier --write, xo

feat(endpoint-posts): editable publication date
  packages/endpoint-posts/lib/controllers/form.js
  packages/endpoint-posts/locales/de.json
  packages/endpoint-posts/locales/en.json
  packages/endpoint-posts/locales/es-419.json
  packages/endpoint-posts/locales/es.json
  packages/endpoint-posts/locales/fr.json
  packages/endpoint-posts/locales/id.json
  packages/endpoint-posts/locales/nl.json
  packages/endpoint-posts/locales/pl.json
  packages/endpoint-posts/locales/pt.json
  packages/endpoint-posts/locales/sr.json
  packages/endpoint-posts/locales/zh-Hans-CN.json
  packages/endpoint-posts/tests/integration/302-post-create.js
  packages/endpoint-posts/tests/integration/500-post-create.js
  packages/endpoint-posts/views/post-form.njk
Due: prettier --write, xo

fix: add missing indonesian translations
  packages/endpoint-posts/locales/id.json
  packages/frontend/locales/id.json
Due: none

fix(util): add mongodb as a dependency. fixes #658
  package-lock.json
  packages/util/package.json
Due: none

chore: update dependencies
  package-lock.json
Due: none

test(frontend): missing test for icon global
  packages/frontend/tests/unit/globals/icon.js
Due: prettier --write, xo

test(endpoint-auth): missing client information test
  helpers/fixtures/html/client-simple.html
  helpers/mock-agent/endpoint-auth.js
  packages/endpoint-auth/tests/unit/client.js
Due: prettier --write, xo

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  xo: any of: *.js
  stylelint: any of: *.css
