Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

.lintstagedrc.json:

{
  "*.js": [
    "prettier --write",
    "xo"
  ],
  "*.css": [
    "prettier --write",
    "stylelint"
  ]
}

refactor(frontend): header styles
  packages/frontend/components/header/styles.css
Due: prettier --write, stylelint

chore: update dependencies
  package-lock.json
Due: none

style: lint jsdoc
  packages/endpoint-micropub/lib/markdown.js
Due: prettier --write, xo

fix: update syndication endpoint params. fixes #567
  package.json
  packages/endpoint-posts/includes/endpoint-posts-syndicate.njk
  packages/endpoint-syndicate/README.md
  packages/endpoint-syndicate/lib/controllers/syndicate.js
  packages/endpoint-syndicate/tests/integration/200-no-post-record-for-url.js
  packages/endpoint-syndicate/tests/integration/200-syndicates-url-for-target.js
  packages/endpoint-syndicate/tests/integration/200-syndicates-url-for-targets-one-fail.js
  packages/endpoint-syndicate/tests/integration/200-syndicates-url-for-targets.js
  packages/endpoint-syndicate/tests/integration/200-target-error.js
  packages/endpoint-syndicate/tests/integration/302-syndicates-url-for-target-redirect.js
Due: prettier --write, xo

fix(indiekit): enable debugging when debug flag set
  packages/indiekit/bin/cli.js
  packages/indiekit/lib/middleware/logging.js
Due: prettier --write, xo

test(fixtures): remove post type
  helpers/fixtures/jf2/article-content-provided-html-text.jf2
  helpers/fixtures/jf2/reply-mastodon.jf2
  helpers/fixtures/jf2/reply-twitter.jf2
  helpers/fixtures/jf2/repost-mastodon.jf2
  helpers/fixtures/jf2/repost-twitter.jf2
Due: none

fix(endpoint-micropub): only convert content when necessary
  packages/endpoint-micropub/lib/jf2.js
  packages/endpoint-micropub/lib/utils.js
  packages/endpoint-micropub/tests/unit/utils.js
Due: prettier --write, xo

refactor(endpoint-micropub): revert name of htmlToMarkdown helper
  packages/endpoint-micropub/lib/jf2.js
  packages/endpoint-micropub/lib/markdown.js
  packages/endpoint-micropub/tests/unit/markdown.js
Due: prettier --write, xo

test: linked text and bare urls in article fixtures
  helpers/fixtures/jf2/article-content-provided-as-html.jf2
  helpers/fixtures/jf2/article-content-provided-as-text.jf2
  helpers/fixtures/jf2/article-content-provided-html-text-mixed.jf2
  helpers/fixtures/jf2/article-content-provided-text.jf2
  helpers/fixtures/jf2/article-content-provided.jf2
  helpers/fixtures/jf2/note-content-provided-html-text-mixed.jf2
  helpers/fixtures/jf2/note-content-provided-html-text.jf2
  packages/endpoint-micropub/lib/markdown.js
  packages/endpoint-micropub/tests/unit/jf2.js
Due: prettier --write, xo

fix(endpoint-micropub): don’t linkify incoming context text
  packages/endpoint-micropub/lib/markdown.js
  packages/endpoint-micropub/tests/unit/jf2.js
  packages/endpoint-micropub/tests/unit/markdown.js
Due: prettier --write, xo

feat(endpoint-syndicate): support multiple methods of supplying a token
  docs/introduction.md
  package-lock.json
  packages/endpoint-posts/includes/endpoint-posts-syndicate.njk
  packages/endpoint-syndicate/README.md
  packages/endpoint-syndicate/index.js
  packages/endpoint-syndicate/lib/controllers/syndicate.js
  packages/endpoint-syndicate/lib/token.js
  packages/endpoint-syndicate/package.json
  packages/endpoint-syndicate/tests/integration/200-no-post-record-for-url.js
  packages/endpoint-syndicate/tests/integration/200-no-post-records.js
  packages/endpoint-syndicate/tests/integration/200-no-posts-awaiting-syndication.js
  packages/endpoint-syndicate/tests/integration/200-no-syndication-targets.js
  packages/endpoint-syndicate/tests/integration/200-syndicates-recent-post.js
  packages/endpoint-syndicate/tests/integration/401-indieauth-error.js
  packages/endpoint-syndicate/tests/unit/token.js
Due: prettier --write, xo

docs: update table styles to work with notification
  docs/.vitepress/theme/custom.css
Due: prettier --write, stylelint

chore: update dependencies
  package-lock.json
  package.json
  packages/frontend/lib/postcss.js
Due: prettier --write, xo

fix(frontend): don’t return attributes with falsy values
  packages/frontend/lib/globals/attributes.js
  packages/frontend/tests/unit/globals/attributes.js
Due: prettier --write, xo

style(indiekit): consistent file name
  packages/indiekit/lib/indieauth.js
  packages/indiekit/lib/token.js
  packages/indiekit/tests/unit/tokens.js
Due: prettier --write, xo

fix(endpoint-syndicate): don’t syndicate posts that have already been syndicated
  packages/endpoint-syndicate/lib/utils.js
Due: prettier --write, xo

fix(endpoint-syndicate): prevent repeated syndication
  packages/endpoint-syndicate/lib/controllers/syndicate.js
  packages/endpoint-syndicate/lib/utils.js
  packages/endpoint-syndicate/tests/unit/utils.js
Due: prettier --write, xo

feat(syndicator-mastodon): character limit option. fixes #572
  packages/syndicator-mastodon/README.md
  packages/syndicator-mastodon/index.js
  packages/syndicator-mastodon/lib/mastodon.js
  packages/syndicator-mastodon/lib/utils.js
  packages/syndicator-mastodon/tests/unit/mastodon.js
  packages/syndicator-mastodon/tests/unit/utils.js
Due: prettier --write, xo

refactor(endpoint-micropub): only convert text to html for incoming content
  helpers/fixtures/jf2/article-content-provided-as-html.jf2
  helpers/fixtures/jf2/article-content-provided-as-text.jf2
  helpers/fixtures/jf2/article-content-provided-html-text-mixed.jf2
  helpers/fixtures/jf2/article-content-provided-html-text.jf2
  helpers/fixtures/jf2/article-content-provided-html.jf2
  helpers/fixtures/jf2/article-content-provided-text.jf2
  helpers/fixtures/jf2/article-content-provided.jf2
  packages/endpoint-micropub/lib/jf2.js
  packages/endpoint-micropub/lib/markdown.js
  packages/endpoint-micropub/lib/utils.js
  packages/endpoint-micropub/tests/unit/jf2.js
  packages/endpoint-micropub/tests/unit/utils.js
Due: prettier --write, xo

v1.0.0-beta.2
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/create-indiekit/CHANGELOG.md
  packages/create-indiekit/package.json
  packages/endpoint-files/CHANGELOG.md
  packages/endpoint-files/package.json
  packages/endpoint-json-feed/CHANGELOG.md
  packages/endpoint-json-feed/package.json
  packages/endpoint-micropub/CHANGELOG.md
  packages/endpoint-micropub/package.json
  packages/endpoint-posts/CHANGELOG.md
  packages/endpoint-posts/package.json
  packages/endpoint-syndicate/CHANGELOG.md
  packages/endpoint-syndicate/package.json
  packages/frontend/CHANGELOG.md
  packages/frontend/package.json
  packages/indiekit/CHANGELOG.md
  packages/indiekit/package.json
  packages/syndicator-mastodon/CHANGELOG.md
  packages/syndicator-mastodon/package.json
Due: none

fix(frontend): increase text contrast in syntax highlighting
  packages/frontend/styles/vendor/markdown-it-prism.css
Due: prettier --write, stylelint

chore: use organisation .github files
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/dependabot.yml
Due: none

docs: improve accessibility of heading anchors
  docs/.vitepress/config.js
  docs/.vitepress/theme/custom.css
  package-lock.json
  package.json
Due: prettier --write, xo, stylelint

fix(frontend): correct heading hierarchy in preview component
  packages/frontend/components/preview/template.njk
Due: none

fix(frontend): increase text contrast of preview placeholder
  packages/frontend/components/preview/styles.css
Due: prettier --write, stylelint

chore: update dependencies
  package-lock.json
  packages/indiekit/package.json
Due: none

docs: accessibility statement. fixes #525
  docs/.vitepress/config.js
  docs/accessibility.md
Due: prettier --write, xo

docs: update introduction and syndication content
  docs/concepts.md
  docs/introduction.md
  docs/public/authorization-flow.png
  docs/public/publication-flow.png
  docs/public/syndication-flow.png
Due: none

feat: don’t include mp-syndicate-to in post file
  docs/introduction.md
  packages/preset-hugo/index.js
  packages/preset-hugo/tests/index.js
  packages/preset-jekyll/index.js
  packages/preset-jekyll/tests/index.js
Due: prettier --write, xo
