Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

feat(syndicator-mastodon): add option to include permalink in status
  packages/syndicator-mastodon/README.md
  packages/syndicator-mastodon/index.js
  packages/syndicator-mastodon/lib/mastodon.js
  packages/syndicator-mastodon/lib/utils.js
Due: prettier --write, xo

feat(frontend): increase size of touch icon
  packages/frontend/assets/touch-icon.svg
Due: none

feat(indiekit): web app manifest
  packages/indiekit/lib/controllers/manifest.js
  packages/indiekit/lib/routes.js
  packages/indiekit/tests/integration/200-manifest.js
Due: prettier --write, xo

feat(frontend): link to web app manifest
  packages/frontend/layouts/default.njk
Due: none

feat(indiekit): add share_target to web app manifest
  packages/indiekit/lib/controllers/manifest.js
Due: prettier --write, xo

fix(endpoint-syndicate): correctly syndicate to targets
  packages/endpoint-syndicate/lib/utils.js
  packages/endpoint-syndicate/tests/unit/utils.js
Due: prettier --write, xo

style(frontend): correct jsdoc and consistent element selector naming
  packages/frontend/components/checkboxes/index.js
  packages/frontend/components/radios/index.js
Due: prettier --write, xo

style: consistent jsdoc description for jf2 properties
  packages/endpoint-media/lib/media-type-count.js
  packages/endpoint-media/lib/utils.js
  packages/endpoint-micropub/lib/jf2.js
  packages/endpoint-micropub/lib/utils.js
  packages/endpoint-posts/lib/utils.js
  packages/preset-hugo/index.js
  packages/preset-jekyll/index.js
  packages/syndicator-internet-archive/lib/internet-archive.js
  packages/syndicator-mastodon/lib/mastodon.js
  packages/syndicator-mastodon/lib/utils.js
Due: prettier --write, xo

refactor(frontend): add label class to tag input label
  packages/frontend/components/tag-input/index.js
  packages/frontend/components/tag-input/styles.css
Due: prettier --write, xo, stylelint

refactor(frontend): rename notification banner component
  helpers/frontend/views/frontend-components.njk
  packages/frontend/components/notification-banner/index.js
  packages/frontend/components/notification-banner/macro.njk
  packages/frontend/components/notification-banner/styles.css
  packages/frontend/components/notification-banner/template.njk
  packages/frontend/layouts/default.njk
  packages/frontend/scripts/app.js
  packages/frontend/styles/app.css
Due: prettier --write, xo, stylelint

refactor(frontend): rename share preview component
  helpers/frontend/views/frontend-components.njk
  packages/frontend/components/preview/template.njk
  packages/frontend/components/share-preview/index.js
  packages/frontend/components/share-preview/macro.njk
  packages/frontend/components/share-preview/styles.css
  packages/frontend/components/share-preview/template.njk
  packages/frontend/scripts/app.js
  packages/frontend/styles/app.css
Due: prettier --write, xo, stylelint

refactor(endpoint-share): use renamed share preview component
  packages/endpoint-share/views/share.njk
Due: none

refactor(frontend): add another list class names
  packages/frontend/components/add-another/index.js
  packages/frontend/components/add-another/styles.css
  packages/frontend/components/add-another/template.njk
Due: prettier --write, xo, stylelint

feat(frontend): element option on field component
  packages/frontend/components/field/template.njk
  packages/frontend/components/input/template.njk
Due: none

refactor(frontend): use custom element for add-another component
  helpers/frontend/views/frontend-form.njk
  packages/frontend/components/add-another/index.js
  packages/frontend/components/add-another/styles.css
  packages/frontend/components/add-another/template.njk
  packages/frontend/scripts/app.js
Due: prettier --write, xo, stylelint

refactor(frontend): use custom element for notification-banner component
  helpers/frontend/views/frontend-components.njk
  packages/frontend/components/notification-banner/index.js
  packages/frontend/components/notification-banner/styles.css
  packages/frontend/components/notification-banner/template.njk
  packages/frontend/scripts/app.js
Due: prettier --write, xo, stylelint

refactor(endpoint-posts): remove deprecated share-preview data attributes
  packages/endpoint-share/views/share.njk
Due: none

refactor(frontend): use custom element for checkboxes-field component
  packages/frontend/components/checkboxes/index.js
  packages/frontend/components/checkboxes/styles.css
  packages/frontend/components/checkboxes/template.njk
  packages/frontend/scripts/app.js
Due: prettier --write, xo, stylelint

refactor(frontend): use custom element for error-summary component
  packages/frontend/components/error-summary/index.js
  packages/frontend/components/error-summary/styles.css
  packages/frontend/components/error-summary/template.njk
  packages/frontend/scripts/app.js
Due: prettier --write, xo, stylelint

refactor(endpoint-posts): remove deprecated add-another data attributes
  packages/endpoint-posts/views/post-form.njk
Due: none

refactor(frontend): use custom element for textarea-field component
  package-lock.json
  packages/frontend/components/textarea/index.js
  packages/frontend/components/textarea/styles.css
  packages/frontend/components/textarea/template.njk
  packages/frontend/package.json
  packages/frontend/scripts/app.js
Due: prettier --write, xo, stylelint

refactor(frontend): use custom element for radios-field component
  packages/frontend/components/radios/index.js
  packages/frontend/components/radios/styles.css
  packages/frontend/components/radios/template.njk
  packages/frontend/scripts/app.js
Due: prettier --write, xo, stylelint

refactor(frontend): use custom element for tag-input-field component
  packages/frontend/components/tag-input/index.js
  packages/frontend/components/tag-input/styles.css
  packages/frontend/components/tag-input/template.njk
  packages/frontend/scripts/app.js
Due: prettier --write, xo, stylelint

test: update notification-banner query selector
  packages/endpoint-files/tests/integration/401-post-upload-unauthorized.js
  packages/endpoint-posts/tests/integration/500-post-create.js
  packages/endpoint-share/tests/integration/400-post-share.js
Due: prettier --write, xo

refactor(frontend): use custom element for geo-input-field component
  packages/frontend/components/geo-input/index.js
  packages/frontend/components/geo-input/styles.css
  packages/frontend/components/geo-input/template.njk
  packages/frontend/scripts/app.js
  packages/frontend/styles/app.css
Due: prettier --write, xo, stylelint

refactor(frontend): use custom element for share-preview component
  packages/frontend/components/share-preview/index.js
  packages/frontend/components/share-preview/styles.css
  packages/frontend/components/share-preview/template.njk
  packages/frontend/layouts/default.njk
  packages/frontend/scripts/app.js
Due: prettier --write, xo, stylelint

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  xo: any of: *.js
  stylelint: any of: *.css
