Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

.lintstagedrc.json:

{
  "*.js": [
    "prettier --write",
    "xo"
  ],
  "*.css": [
    "prettier --write",
    "stylelint"
  ]
}

feat(frontend): geo input
  packages/frontend/components/geo-input/index.js
  packages/frontend/components/geo-input/macro.njk
  packages/frontend/components/geo-input/template.njk
  packages/frontend/layouts/default.njk
  packages/frontend/locales/de.json
  packages/frontend/locales/en.json
  packages/frontend/locales/es.json
  packages/frontend/locales/fr.json
  packages/frontend/locales/id.json
  packages/frontend/locales/nl.json
  packages/frontend/locales/pl.json
  packages/frontend/locales/pt.json
  packages/frontend/locales/sr.json
  packages/frontend/scripts/app.js
Due: prettier --write, xo

fix(frontend): input width classes designed to accept wider font
  packages/frontend/components/input/styles.css
Due: prettier --write, stylelint

feat(endpoint-posts): narrower input for slug
  packages/endpoint-posts/views/post-form.njk
Due: none

style(endpoint-micropub): consistent const name
  packages/endpoint-micropub/lib/post-data.js
Due: prettier --write, xo

feat(frontend): remove border around readonly inputs
  packages/frontend/components/input/styles.css
  packages/frontend/components/textarea/styles.css
  packages/frontend/components/token-input/styles.css
Due: prettier --write, stylelint

fix: boolean value for readonly attribute
  packages/endpoint-auth/views/consent.njk
  packages/endpoint-auth/views/new-password.njk
  packages/indiekit/views/status.njk
Due: none

feat(frontend): disabled button style
  packages/frontend/components/button/styles.css
Due: prettier --write, stylelint

feat(frontend): allow for boolean attributes
  packages/frontend/lib/globals/attributes.js
  packages/frontend/tests/unit/globals/attributes.js
Due: prettier --write, xo

refactor(error): remove unused method
  packages/error/index.js
Due: prettier --write, xo

test(endpoint-posts): test geo validation
  packages/endpoint-posts/tests/integration/422-post-create.js
Due: prettier --write, xo

feat(endpoint-posts): don’t allow editing of slug
  packages/endpoint-posts/views/post-form.njk
Due: none

test(frontend): improve summary row test
  packages/frontend/tests/unit/globals/summary-row.js
Due: prettier --write, xo

refactor(indiekit): remove unnecessary condition
  packages/indiekit/lib/post-types.js
Due: prettier --write, xo

feat: improved french translation
  packages/endpoint-auth/locales/fr.json
  packages/endpoint-files/locales/fr.json
  packages/endpoint-posts/locales/fr.json
  packages/error/locales/fr.json
  packages/indiekit/locales/fr.json
Due: none

fix: pagination wraps if list width exceed container width FIX getindiekit/indiekit#550
  packages/frontend/components/pagination/styles.css
Due: prettier --write, stylelint

docs: add npm install to getting started instructions
  docs/get-started.md
Due: none

docs: use npx to run indiekit serve
  docs/get-started.md
Due: none

docs: improve description of MONGO_URL format
  docs/get-started.md
Due: none

fix: use MONGO_URL env variable if specified
  packages/indiekit/config/defaults.js
Due: prettier --write, xo

docs: default value for application.mongodbUrl
  docs/configuration/index.md
Due: none

docs: link to mongodb connection uri documentation
  docs/configuration/index.md
  docs/get-started.md
Due: none

docs: update core concepts (use correct publication preset)
  docs/concepts.md
Due: none

docs: mention eleventy and lume in description of jekyll preset. fixes #554
  docs/plugins/presets.md
  packages/preset-jekyll/README.md
Due: none

docs: update preset plug-in descriptions
  docs/plugins/presets.md
  packages/preset-hugo/README.md
Due: none

docs: add eleventy and lume tags to jekyll preset plug-in
  packages/preset-jekyll/package.json
Due: none

docs: update syndicator plug-in descriptions
  docs/plugins/syndicators.md
  packages/syndicator-internet-archive/README.md
  packages/syndicator-mastodon/README.md
  packages/syndicator-twitter/README.md
Due: none

docs: update store plug-in descriptions
  docs/plugins/stores.md
  packages/store-bitbucket/README.md
  packages/store-file-system/README.md
  packages/store-ftp/README.md
  packages/store-gitea/README.md
  packages/store-github/README.md
  packages/store-gitlab/README.md
Due: none

fix: don’t indent textarea components. fixes #560
  packages/endpoint-posts/views/post-form.njk
  packages/endpoint-share/views/share.njk
Due: none

chore: lint custom documentation styles
  docs/.vitepress/theme/custom.css
Due: prettier --write, stylelint

ci: presentation of sponsors on website
  .github/workflows/sponsors.yml
  docs/.vitepress/theme/custom.css
Due: prettier --write, stylelint

Deploying to main from @ getindiekit/indiekit@6dce4a76eeaeb5be5406ee13cacb7ece535e864b 🚀
  README.md
  docs/sponsors.md
Due: none

fix: correctly encode html/text content containing `<`/`>` characters
  helpers/fixtures/jf2/article-content-provided-html-text.jf2
  helpers/fixtures/jf2/article-content-provided-text.jf2
  helpers/fixtures/jf2/article-content-provided.jf2
  helpers/fixtures/jf2/note-content-provided-html-text-mixed.jf2
  helpers/fixtures/jf2/note-content-provided-html-text.jf2
  helpers/fixtures/jf2/note-content-provided-html-with-link.jf2
  helpers/fixtures/jf2/note-content-provided-html.jf2
  package-lock.json
  packages/endpoint-micropub/lib/jf2.js
  packages/endpoint-micropub/lib/markdown.js
  packages/endpoint-micropub/package.json
  packages/endpoint-micropub/tests/unit/jf2.js
  packages/endpoint-micropub/tests/unit/markdown.js
  packages/syndicator-mastodon/tests/unit/utils.js
  packages/syndicator-twitter/tests/unit/utils.js
Due: prettier --write, xo

feat(frontend): style pre similar to blockquote
  packages/frontend/components/summary/styles.css
  packages/frontend/styles/scopes/flow.css
Due: prettier --write, stylelint

feat: improved french translation
  packages/endpoint-auth/locales/fr.json
  packages/endpoint-posts/locales/fr.json
  packages/endpoint-share/locales/fr.json
  packages/indiekit/locales/fr.json
Due: none

chore: update dependencies
  package-lock.json
Due: none
