Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

fix(frontend): max inline size for images
  packages/frontend/styles/base/embedded.css
Due: prettier --write, stylelint

feat(frontend): except custom back link text
  packages/frontend/layouts/default.njk
Due: none

feat(endpoint-posts): new post type
  packages/endpoint-posts/index.js
  packages/endpoint-posts/lib/controllers/form.js
  packages/endpoint-posts/lib/controllers/new.js
  packages/endpoint-posts/lib/controllers/posts.js
  packages/endpoint-posts/locales/de.json
  packages/endpoint-posts/locales/en.json
  packages/endpoint-posts/locales/es.json
  packages/endpoint-posts/locales/fr.json
  packages/endpoint-posts/locales/id.json
  packages/endpoint-posts/locales/nl.json
  packages/endpoint-posts/locales/pl.json
  packages/endpoint-posts/locales/pt.json
  packages/endpoint-posts/locales/sr.json
  packages/endpoint-posts/locales/zh-Hans-CN.json
  packages/endpoint-posts/tests/integration/200-get-new.js
  packages/endpoint-posts/views/new.njk
Due: prettier --write, xo

feat: update french localisation strings
  packages/endpoint-auth/locales/fr.json
  packages/endpoint-files/locales/fr.json
  packages/endpoint-posts/locales/fr.json
  packages/endpoint-share/locales/fr.json
  packages/error/locales/fr.json
  packages/frontend/locales/fr.json
  packages/indiekit/locales/fr.json
Due: none

fix(endpoint-micropub): ensure random slug is 5 characters long
  packages/endpoint-micropub/lib/jf2.js
  packages/endpoint-micropub/tests/unit/jf2.js
Due: prettier --write, xo

fix(endpoint-media): don’t use slug separating characters in file basename
  packages/endpoint-media/lib/file.js
  packages/endpoint-media/tests/unit/file.js
Due: prettier --write, xo

fix(endpoint-auth): check for existence of app url
  packages/endpoint-auth/lib/client.js
Due: prettier --write, xo

feat(syndicator-mastodon): post visibility
  helpers/fixtures/jf2/note-visibility-unlisted.jf2
  packages/syndicator-mastodon/README.md
  packages/syndicator-mastodon/lib/utils.js
  packages/syndicator-mastodon/tests/unit/utils.js
Due: prettier --write, xo

fix(frontend): token input focus trap. fixes #578
  packages/frontend/components/token-input/index.js
  packages/frontend/components/token-input/template.njk
  packages/frontend/lib/utils/focusable-elements.js
Due: prettier --write, xo

fix(endpoint-posts): missing category input label
  packages/endpoint-posts/views/post-form.njk
Due: none

docs: update accessibility statement
  docs/accessibility.md
Due: none

fix(frontend): warning text spacing
  packages/frontend/components/warning-text/styles.css
Due: prettier --write, stylelint

fix(frontend): missing warning icon fallback text
  helpers/frontend/views/frontend-components.njk
  packages/frontend/components/warning-text/template.njk
  packages/frontend/locales/de.json
  packages/frontend/locales/en.json
  packages/frontend/locales/es.json
  packages/frontend/locales/fr.json
  packages/frontend/locales/id.json
  packages/frontend/locales/nl.json
  packages/frontend/locales/pl.json
  packages/frontend/locales/pt.json
  packages/frontend/locales/sr.json
  packages/frontend/locales/zh-Hans-CN.json
Due: none

test(endpoint-micropub): fix typo
  packages/endpoint-micropub/tests/unit/config.js
Due: prettier --write, xo

test: update form examples
  helpers/frontend/views/frontend-form.njk
Due: none

test(endpoint-posts): update mock syndication targets
  packages/endpoint-posts/tests/unit/utils.js
Due: prettier --write, xo

test(endpoint-syndicate): update mock syndication targets
  packages/endpoint-syndicate/tests/integration/500-no-database.js
  packages/endpoint-syndicate/tests/unit/utils.js
Due: prettier --write, xo

chore: update dependencies
  package-lock.json
Due: none

feat(indiekit): remove express proxy trust
  packages/indiekit/config/express.js
Due: prettier --write, xo

test: remove twitter from sandbox test config
  docs/contributing.md
  indiekit.config.js
Due: prettier --write, xo

docs: remove twitter metajunk
  docs/.vitepress/config.js
Due: prettier --write, xo

feat(create-indiekit): remove twitter from syndicator options
  package-lock.json
  packages/create-indiekit/lib/setup-prompts.js
  packages/create-indiekit/package.json
Due: prettier --write, xo

docs: update contributing guide
  docs/contributing.md
Due: none

docs: update plugins option example
  docs/configuration/index.md
Due: none

docs(endpoint-syndicate): update plug-in description
  docs/plugins/endpoints.md
  packages/endpoint-syndicate/README.md
  packages/endpoint-syndicate/package.json
Due: none

feat: remove twitter syndicator
  docs/plugins/api/add-syndicator.md
  docs/plugins/syndicators.md
  helpers/config/index.js
  helpers/fixtures/jf2/note-content-provided-html-with-twitter-link.jf2
  helpers/fixtures/jf2/repost-twitter.jf2
  package-lock.json
  packages/syndicator-twitter/CHANGELOG.md
  packages/syndicator-twitter/README.md
  packages/syndicator-twitter/assets/icon.svg
  packages/syndicator-twitter/index.js
  packages/syndicator-twitter/lib/twitter.js
  packages/syndicator-twitter/lib/utils.js
  packages/syndicator-twitter/package.json
  packages/syndicator-twitter/tests/index.js
  packages/syndicator-twitter/tests/unit/twitter.js
  packages/syndicator-twitter/tests/unit/utils.js
Due: prettier --write, xo

docs: remove remaining mentions of twitter
  README.md
  docs/get-started.md
Due: none

test(syndicator-mastodon): update off-service fixture
  helpers/fixtures/jf2/reply-off-service.jf2
  packages/syndicator-mastodon/tests/unit/utils.js
Due: prettier --write, xo

chore: update changelogs
  packages/endpoint-micropub/CHANGELOG.md
  packages/preset-hugo/CHANGELOG.md
  packages/preset-jekyll/CHANGELOG.md
Due: none

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  xo: any of: *.js
  stylelint: any of: *.css
