Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

.lintstagedrc.json:

{
  "*.js": [
    "prettier --write",
    "xo"
  ],
  "*.css": [
    "prettier --write",
    "stylelint"
  ]
}

refactor(endpoint-micropub): remove void return
  packages/endpoint-micropub/lib/controllers/action.js
  packages/endpoint-micropub/lib/controllers/query.js
Due: prettier --write, xo

refactor(endpoint-auth): client information
  packages/endpoint-auth/lib/client.js
Due: prettier --write, xo

refactor(endpoint-media): remove void return
  packages/endpoint-media/lib/controllers/action.js
  packages/endpoint-media/lib/controllers/query.js
Due: prettier --write, xo

fix(indiekit): remove deprecated MongoClient option
  packages/indiekit/lib/mongodb.js
Due: prettier --write, xo

fix(endpoint-image): correct type for cache option
  packages/endpoint-image/index.js
Due: prettier --write, xo

refactor(indiekit): set/get locale from response locals
  packages/indiekit/lib/middleware/internationalisation.js
  packages/indiekit/lib/middleware/locals.js
Due: prettier --write, xo

fix(indiekit): remove param on toString
  packages/indiekit/lib/indieauth.js
Due: prettier --write, xo

fix(endpoint-posts): default checkTargets to false
  packages/endpoint-posts/lib/utils.js
Due: prettier --write, xo

fix(indiekit): remove deprecated connection value
  packages/indiekit/lib/middleware/force-https.js
  packages/indiekit/tests/unit/middleware/force-https.js
Due: prettier --write, xo

test(syndicator-twitter): correct option names
  packages/syndicator-twitter/tests/index.js
Due: prettier --write, xo

fix(endpoint-micropub): missing param on mf2ToJf2
  packages/endpoint-micropub/lib/update.js
Due: prettier --write, xo

test: correct type for second param in getFixture
  helpers/mock-agent/auth-endpoint.js
  helpers/mock-agent/token-endpoint.js
  helpers/mock-agent/website.js
  packages/endpoint-files/tests/integration/200-file.js
  packages/endpoint-files/tests/integration/200-get-delete.js
  packages/endpoint-files/tests/integration/302-get-delete.js
  packages/endpoint-files/tests/integration/302-post-delete.js
  packages/endpoint-files/tests/integration/302-post-upload.js
  packages/endpoint-files/tests/integration/500-post-upload.js
  packages/endpoint-media/tests/integration/200-action-upload.js
  packages/endpoint-media/tests/integration/202-action-delete.js
  packages/endpoint-media/tests/integration/403-action-upload-insufficient-scope.js
  packages/endpoint-media/tests/integration/415-action-upload-unsupported-media-type.js
  packages/endpoint-media/tests/integration/501-upload-unsupported-post-type.js
  packages/endpoint-media/tests/unit/file.js
  packages/endpoint-media/tests/unit/media-content.js
  packages/endpoint-media/tests/unit/media-data.js
  packages/endpoint-micropub/tests/unit/media.js
  packages/syndicator-mastodon/tests/unit/mastodon.js
Due: prettier --write, xo

refactor(endpoint-micropub): date utils
  packages/endpoint-micropub/lib/date.js
Due: prettier --write, xo

refactor: don’t use alias for i18n __ local object
  packages/endpoint-auth/lib/controllers/authorization.js
  packages/endpoint-auth/lib/controllers/consent.js
  packages/endpoint-auth/lib/controllers/documentation.js
  packages/endpoint-auth/lib/controllers/password.js
  packages/endpoint-auth/lib/controllers/token.js
  packages/endpoint-auth/lib/middleware/code.js
  packages/endpoint-auth/lib/middleware/secret.js
  packages/endpoint-auth/lib/scope.js
  packages/endpoint-auth/tests/unit/scope.js
  packages/endpoint-files/lib/controllers/delete.js
  packages/endpoint-files/lib/controllers/file.js
  packages/endpoint-files/lib/controllers/files.js
  packages/endpoint-files/lib/controllers/form.js
  packages/endpoint-files/lib/middleware/file-data.js
  packages/endpoint-media/lib/controllers/action.js
  packages/endpoint-media/lib/controllers/query.js
  packages/endpoint-micropub/lib/controllers/action.js
  packages/endpoint-micropub/lib/controllers/query.js
  packages/endpoint-posts/lib/controllers/delete.js
  packages/endpoint-posts/lib/controllers/form.js
  packages/endpoint-posts/lib/controllers/post.js
  packages/endpoint-posts/lib/controllers/posts.js
  packages/endpoint-posts/lib/middleware/post-data.js
  packages/endpoint-share/lib/controllers/share.js
  packages/endpoint-syndicate/lib/controllers/syndicate.js
  packages/indiekit/lib/controllers/homepage.js
  packages/indiekit/lib/controllers/session.js
  packages/indiekit/lib/controllers/status.js
  packages/indiekit/lib/indieauth.js
  packages/indiekit/lib/middleware/error.js
  packages/indiekit/lib/navigation.js
  packages/indiekit/tests/unit/indieauth.js
  packages/indiekit/tests/unit/middleware/error.js
  packages/indiekit/tests/unit/navigation.js
Due: prettier --write, xo

refactor(endpoint-auth): coerce incoming parameters to strings
  packages/endpoint-auth/lib/controllers/authorization.js
  packages/endpoint-auth/lib/pushed-authorization-request.js
Due: prettier --write, xo

fix(indiekit): use string for cookieSession secret
  packages/indiekit/config/defaults.js
Due: prettier --write, xo

refactor(endpoint-media): date utils
  packages/endpoint-media/lib/date.js
Due: prettier --write, xo

fix(endpoint-auth): remove param on toString
  packages/endpoint-auth/lib/pkce.js
Due: prettier --write, xo

chore: update dependencies
  package-lock.json
  package.json
Due: none

refactor(endpoint-micropub): coerce incoming query to string
  packages/endpoint-micropub/lib/controllers/query.js
Due: prettier --write, xo

chore(endpoint-micropub): add types to queryConfig options
  packages/endpoint-micropub/lib/config.js
Due: prettier --write, xo

fix(endpoint-micropub): correctly parse limit/offset query. fixes #603
  packages/endpoint-micropub/lib/controllers/query.js
Due: prettier --write, xo

refactor(endpoint-posts): pagination queries
  packages/endpoint-posts/lib/controllers/posts.js
Due: prettier --write, xo

fix(endpoint-media): correctly parse limit/offset query
  packages/endpoint-media/lib/controllers/query.js
Due: prettier --write, xo

refactor(endpoint-files): pagination queries
  packages/endpoint-files/lib/controllers/files.js
Due: prettier --write, xo

feat(syndicator-mastodon): check for user option
  packages/syndicator-mastodon/index.js
  packages/syndicator-mastodon/tests/index.js
Due: prettier --write, xo

feat(syndicator-twitter): check for user option
  packages/syndicator-twitter/index.js
  packages/syndicator-twitter/tests/index.js
Due: prettier --write, xo

fix(endpoint-posts): only show label if syndication targets. fixes #602
  packages/endpoint-posts/views/post-form.njk
Due: none

fix(frontend): correct value for classes global
  packages/frontend/components/authorize/template.njk
Due: none

fix(frontend): add block padding to details
  packages/frontend/components/details/styles.css
Due: prettier --write, stylelint

fix(frontend): options in details component
  packages/frontend/components/details/template.njk
Due: none

feat(frontend): details in notification component
  helpers/frontend/views/frontend-components.njk
  packages/frontend/components/notification/styles.css
  packages/frontend/components/notification/template.njk
Due: prettier --write, stylelint

feat(frontend): pass details to notification component
  packages/frontend/layouts/default.njk
Due: none

feat: show stack in frontend error messages
  packages/endpoint-auth/lib/controllers/documentation.js
  packages/endpoint-files/lib/controllers/delete.js
  packages/endpoint-files/lib/controllers/form.js
  packages/endpoint-posts/lib/controllers/delete.js
  packages/endpoint-posts/lib/controllers/form.js
  packages/endpoint-posts/tests/integration/500-post-create.js
  packages/endpoint-share/lib/controllers/share.js
  packages/endpoint-share/tests/integration/400-post-share.js
  packages/indiekit/lib/indieauth.js
Due: prettier --write, xo
