Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

chore: update eslint config
  eslint.config.js
Due: prettier --write, xo

ci: remove slug from photo media path
  indiekit.config.js
Due: prettier --write, xo

ci: add featured image field to article post type
  indiekit.config.js
Due: prettier --write, xo

feat(endpoint-posts): featured field
  packages/endpoint-posts/includes/post-types/featured-field.njk
  packages/endpoint-posts/includes/post-types/featured.njk
  packages/endpoint-posts/index.js
  packages/endpoint-posts/locales/de.json
  packages/endpoint-posts/locales/en.json
  packages/endpoint-posts/locales/es-419.json
  packages/endpoint-posts/locales/es.json
  packages/endpoint-posts/locales/fr.json
  packages/endpoint-posts/locales/hi.json
  packages/endpoint-posts/locales/id.json
  packages/endpoint-posts/locales/nl.json
  packages/endpoint-posts/locales/pl.json
  packages/endpoint-posts/locales/pt.json
  packages/endpoint-posts/locales/sr.json
  packages/endpoint-posts/locales/sv.json
  packages/endpoint-posts/locales/zh-Hans-CN.json
Due: prettier --write, xo

docs: add featured to list of supported post fields
  docs/api/add-post-type.md
Due: none

chore: update dependencies
  package-lock.json
Due: none

fix(indiekit): get installed plug-ins for list view
  packages/indiekit/lib/controllers/plugin.js
Due: prettier --write, xo

fix(endpoint-auth): respect user configured endpoints
  packages/endpoint-auth/index.js
Due: prettier --write, xo

fix(endpoint-auth): always return if no scope
  packages/endpoint-auth/lib/controllers/consent.js
  packages/endpoint-auth/lib/scope.js
Due: prettier --write, xo

fix(endpoint-media): respect user configured endpoint
  packages/endpoint-media/index.js
Due: prettier --write, xo

fix(endpoint-micropub): respect user configured endpoint
  packages/endpoint-micropub/index.js
Due: prettier --write, xo

test(endpoint-auth): use correct references
  packages/endpoint-auth/test/integration/200-authorization-documentation.js
  packages/endpoint-auth/test/integration/200-authorization-invalid-client-id.js
  packages/endpoint-auth/test/integration/200-authorization-invalid-redirect-uri.js
  packages/endpoint-auth/test/integration/200-authorization-invalid-response-type.js
  packages/endpoint-auth/test/integration/200-authorization-no-response-type.js
  packages/endpoint-auth/test/integration/200-authorization-profile-json.js
  packages/endpoint-auth/test/integration/200-authorization-profile-url-encoded.js
  packages/endpoint-auth/test/integration/200-consent-authenticate.js
  packages/endpoint-auth/test/integration/200-consent-authorize.js
  packages/endpoint-auth/test/integration/200-introspect-token-active.js
  packages/endpoint-auth/test/integration/200-introspect-token-inactive.js
  packages/endpoint-auth/test/integration/200-metadata.js
  packages/endpoint-auth/test/integration/200-new-password-response.js
  packages/endpoint-auth/test/integration/200-new-password.js
  packages/endpoint-auth/test/integration/200-token-grant-json.js
  packages/endpoint-auth/test/integration/200-token-grant-url-encoded.js
  packages/endpoint-auth/test/integration/200-token-verify.js
  packages/endpoint-auth/test/integration/302-authorization.js
  packages/endpoint-auth/test/integration/302-consent-setup-password.js
  packages/endpoint-auth/test/integration/302-consent-submit-authenticate-with-me.js
  packages/endpoint-auth/test/integration/302-consent-submit-authenticate.js
  packages/endpoint-auth/test/integration/302-consent-submit-authorize.js
  packages/endpoint-auth/test/integration/302-well-known-change-password.js
  packages/endpoint-auth/test/integration/400-consent-invalid-request-uri.js
  packages/endpoint-auth/test/integration/400-consent-no-request-uri.js
  packages/endpoint-auth/test/integration/400-token-grant-invalid-grant-type.js
  packages/endpoint-auth/test/integration/400-token-grant-invalid-pkce-code.js
  packages/endpoint-auth/test/integration/400-token-grant-invalid-redirect-uri.js
  packages/endpoint-auth/test/integration/400-token-grant-no-client-id.js
  packages/endpoint-auth/test/integration/400-token-grant-no-code.js
  packages/endpoint-auth/test/integration/400-token-grant-no-redirect-uri.js
  packages/endpoint-auth/test/integration/401-token-grant-invalid-client-id.js
  packages/endpoint-auth/test/integration/401-token-grant-invalid-token.js
  packages/endpoint-auth/test/integration/422-consent-password-invalid.js
  packages/endpoint-auth/test/integration/422-consent-password-missing.js
  packages/endpoint-auth/test/integration/422-new-password-response.js
  packages/endpoint-auth/test/integration/500-authorization-documentation.js
  packages/endpoint-auth/test/integration/501-token-grant-missing-secret.js
Due: prettier --write, xo

fix(endpoint-media): only perform image transformations on images
  packages/endpoint-media/lib/media-transform.js
Due: prettier --write, xo

fix(endpoint-media): throw not implemented error if media path not configured
  packages/endpoint-media/lib/media-data.js
Due: prettier --write, xo

fix(endpoint-syndication): request.body can return undefined with express 5
  packages/endpoint-syndicate/lib/controllers/syndicate.js
Due: prettier --write, xo

feat(indiekit): set session secret using environment variable
  packages/indiekit/config/express.js
Due: prettier --write, xo

fix(endpoint-micropub): throw not implemented error if post path not configured
  packages/endpoint-micropub/lib/post-data.js
Due: prettier --write, xo

test: run tests using explicitly named environment
  package.json
Due: none

chore: update dependencies
  package-lock.json
  package.json
Due: none

feat(util): excerpt string
  packages/util/index.js
  packages/util/lib/string.js
  packages/util/test/unit/string.js
Due: prettier --write, xo

feat(frontend): use excerpt method from util package
  packages/frontend/lib/filters/index.js
  packages/frontend/lib/filters/string.js
  packages/frontend/test/unit/filters/string.js
Due: prettier --write, xo

feat(endpoint-micropub): use excerpt method from util package
  packages/endpoint-micropub/lib/jf2.js
  packages/endpoint-micropub/lib/utils.js
  packages/endpoint-micropub/test/unit/utils.js
Due: prettier --write, xo

feat(frontend): don’t excerpt card description
  packages/frontend/components/card/template.njk
Due: none

feat(endpoint-posts): excerpt post description in controller
  packages/endpoint-posts/lib/controllers/posts.js
Due: prettier --write, xo

feat(frontend): support different card uses
  helpers/frontend/views/frontend-components.njk
  packages/frontend/components/card/styles.css
  packages/frontend/components/card/template.njk
Due: prettier --write, stylelint

feat(frontend): allow additional links in card body
  packages/endpoint-posts/lib/controllers/posts.js
  packages/frontend/components/card/styles.css
  packages/frontend/components/card/template.njk
Due: prettier --write, xo, stylelint

docs: update ia writer app icon
  docs/public/authorization-flow.png
  docs/public/clients/ia-writer.png
  docs/public/publication-flow.png
  docs/public/syndication-flow.png
Due: none

docs: update micro.blog icon
  docs/public/clients/micro-blog.png
Due: none

docs: link to plug-in directory from concepts page
  docs/concepts.md
Due: none

fix(frontend): don’t add margin above first heading in prose
  packages/frontend/styles/scopes/flow.css
Due: prettier --write, stylelint

fix(frontend): only use monospace for time inside a footer
  packages/frontend/styles/base/text.css
Due: prettier --write, stylelint

fix(frontend): increase z-index of header
  packages/frontend/components/header/styles.css
Due: prettier --write, stylelint

fix(frontend): reduce space above card footer
  packages/frontend/components/card/styles.css
Due: prettier --write, stylelint

fix(indiekit): show plugin description on list cards
  packages/indiekit/lib/controllers/plugin.js
Due: prettier --write, xo

test(endpoint-files): update tests to account for card component change
  packages/endpoint-files/test/integration/200-files.js
Due: prettier --write, xo

feat(frontend): avatar component
  helpers/frontend/views/frontend-components.njk
  packages/frontend/components/avatar/macro.njk
  packages/frontend/components/avatar/styles.css
  packages/frontend/components/avatar/template.njk
  packages/frontend/layouts/default.njk
  packages/frontend/styles/app.css
Due: prettier --write, stylelint

feat(frontend): user component
  helpers/frontend/views/frontend-components.njk
  packages/frontend/components/user/macro.njk
  packages/frontend/components/user/styles.css
  packages/frontend/components/user/template.njk
  packages/frontend/layouts/default.njk
  packages/frontend/styles/app.css
Due: prettier --write, stylelint

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  xo: any of: *.js
  stylelint: any of: *.css
