Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

chore: update dependencies
  package-lock.json
Due: none

fix(indiekit): add post type name if not provided
  packages/indiekit/lib/post-types.js
Due: prettier --write, xo

feat(frontend): add border to inline fieldset
  packages/frontend/components/fieldset/styles.css
Due: prettier --write, stylelint

test: use test config helper
  helpers/config/index.js
  packages/endpoint-media/test/unit/media-data.js
  packages/endpoint-media/test/unit/utils.js
  packages/endpoint-micropub/test/unit/config.js
  packages/endpoint-micropub/test/unit/post-data.js
  packages/endpoint-micropub/test/unit/utils.js
Due: prettier --write, xo

test(config): remove usePreset option
  helpers/config/index.js
  packages/endpoint-media/test/integration/501-upload-unsupported-post-type.js
  packages/endpoint-micropub/test/integration/501-action-unsupported-post-type.js
  packages/indiekit/test/index.js
  packages/indiekit/test/unit/post-template.js
  packages/indiekit/test/unit/post-types.js
Due: prettier --write, xo

feat(preset-jekyll): use snake_case for front matter property keys
  package-lock.json
  packages/preset-jekyll/index.js
  packages/preset-jekyll/package.json
  packages/preset-jekyll/test/index.js
Due: prettier --write, xo

test(indiekit): merged post types
  packages/indiekit/test/unit/post-types.js
Due: prettier --write, xo

feat(preset-hugo): support configured post types
  package-lock.json
  packages/preset-hugo/index.js
  packages/preset-hugo/lib/post-template.js
  packages/preset-hugo/lib/post-types.js
  packages/preset-hugo/package.json
  packages/preset-hugo/test/index.js
  packages/preset-hugo/test/unit/post-template.js
  packages/preset-hugo/test/unit/post-types.js
Due: prettier --write, xo

feat(preset-jekyll): support configured post types
  package-lock.json
  packages/indiekit/test/unit/post-types.js
  packages/preset-jekyll/index.js
  packages/preset-jekyll/lib/post-template.js
  packages/preset-jekyll/lib/post-types.js
  packages/preset-jekyll/package.json
  packages/preset-jekyll/test/index.js
  packages/preset-jekyll/test/unit/post-template.js
  packages/preset-jekyll/test/unit/post-types.js
Due: prettier --write, xo

fix(frontend): use option to enable inline radios
  helpers/frontend/views/frontend-form.njk
  packages/frontend/components/radios/template.njk
Due: none

fix(endpoint-posts): use option to enable inline radios
  packages/endpoint-posts/views/post-form.njk
Due: none

refactor: fieldset spacing
  helpers/frontend/views/frontend-form.njk
  packages/endpoint-posts/views/post-form.njk
  packages/frontend/components/add-another/styles.css
  packages/frontend/components/fieldset/styles.css
Due: prettier --write, stylelint

feat(frontend): jam post icon
  helpers/frontend/views/frontend-components.njk
  packages/frontend/lib/globals/icon.js
Due: prettier --write, xo

fix(frontend): event-duration spacing
  packages/frontend/components/event-duration/styles.css
Due: prettier --write, stylelint

feat(util): regex for geographic location coordinates
  packages/util/index.js
  packages/util/lib/regex.js
Due: prettier --write, xo

feat(util): validation schemes
  packages/util/index.js
  packages/util/lib/validation-schema.js
Due: prettier --write, xo

feat(endpoint-posts): only show fields for supported properties
  helpers/config/index.js
  packages/endpoint-posts/includes/endpoint-posts-widget.njk
  packages/endpoint-posts/includes/post-fields/audio.njk
  packages/endpoint-posts/includes/post-fields/bookmark-of.njk
  packages/endpoint-posts/includes/post-fields/category.njk
  packages/endpoint-posts/includes/post-fields/content.njk
  packages/endpoint-posts/includes/post-fields/geo.njk
  packages/endpoint-posts/includes/post-fields/in-reply-to.njk
  packages/endpoint-posts/includes/post-fields/jam-of.njk
  packages/endpoint-posts/includes/post-fields/like-of.njk
  packages/endpoint-posts/includes/post-fields/location.njk
  packages/endpoint-posts/includes/post-fields/name.njk
  packages/endpoint-posts/includes/post-fields/photo.njk
  packages/endpoint-posts/includes/post-fields/repost-of.njk
  packages/endpoint-posts/includes/post-fields/rsvp.njk
  packages/endpoint-posts/includes/post-fields/start.njk
  packages/endpoint-posts/includes/post-fields/summary.njk
  packages/endpoint-posts/includes/post-fields/video.njk
  packages/endpoint-posts/index.js
  packages/endpoint-posts/lib/controllers/form.js
  packages/endpoint-posts/lib/controllers/new.js
  packages/endpoint-posts/lib/middleware/post-data.js
  packages/endpoint-posts/lib/utils.js
  packages/endpoint-posts/locales/en.json
  packages/endpoint-posts/test/integration/422-post-create.js
  packages/endpoint-posts/test/unit/utils.js
  packages/endpoint-posts/views/post-form.njk
Due: prettier --write, xo

feat(endpoint-posts): use validation schema from post type config
  packages/endpoint-posts/index.js
  packages/endpoint-posts/lib/controllers/form.js
  packages/endpoint-posts/lib/middleware/validation.js
  packages/endpoint-posts/views/post-form.njk
Due: prettier --write, xo

docs: add support for supported properties micropub extension
  docs/specifications.md
Due: none

feat(endpoint-micropub): add custom types to post type discovery
  packages/endpoint-micropub/lib/post-data.js
  packages/endpoint-micropub/lib/post-type-discovery.js
  packages/endpoint-micropub/test/unit/post-type-discovery.js
Due: prettier --write, xo

refactor(endpoint-posts): use utility regex
  packages/endpoint-posts/lib/middleware/validation.js
  packages/endpoint-posts/lib/utils.js
Due: prettier --write, xo

feat(indiekit): add default post type properties
  indiekit.config.js
  packages/indiekit/config/defaults.js
  packages/indiekit/lib/post-types.js
  packages/indiekit/test/unit/post-types.js
  packages/preset-hugo/test/index.js
  packages/preset-jekyll/test/index.js
Due: prettier --write, xo

feat(endpoint-micropub): query supported post type properties
  packages/endpoint-micropub/lib/config.js
Due: prettier --write, xo

docs: update post type object definition
  docs/configuration/post-types.md
Due: none

chore: update dependencies
  package-lock.json
  package.json
  packages/store-ftp/package.json
Due: none

docs: use gfm alerts
  docs/configuration/.option-contains-secrets.md
  docs/configuration/.plugin-secrets.md
  docs/configuration/commit-messages.md
  docs/configuration/post-template.md
  docs/get-started.md
  docs/plugins/index.md
Due: none

feat(endpoint-posts): new form validation
  packages/endpoint-posts/index.js
  packages/endpoint-posts/lib/controllers/new.js
  packages/endpoint-posts/lib/middleware/validation.js
  packages/endpoint-posts/locales/de.json
  packages/endpoint-posts/locales/en.json
  packages/endpoint-posts/locales/es-419.json
  packages/endpoint-posts/locales/es.json
  packages/endpoint-posts/locales/fr.json
  packages/endpoint-posts/locales/id.json
  packages/endpoint-posts/locales/nl.json
  packages/endpoint-posts/locales/pl.json
  packages/endpoint-posts/locales/pt.json
  packages/endpoint-posts/locales/sr.json
  packages/endpoint-posts/locales/zh-Hans-CN.json
Due: prettier --write, xo

chore: update dependencies
  package-lock.json
  package.json
Due: none

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  xo: any of: *.js
  stylelint: any of: *.css
