Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

.lintstagedrc.json:

{
  "*.js": [
    "prettier --write",
    "xo"
  ],
  "*.css": [
    "prettier --write",
    "stylelint"
  ]
}

feat(endpoint-posts): query posts using uid
  packages/endpoint-posts/index.js
  packages/endpoint-posts/lib/controllers/post.js
  packages/endpoint-posts/lib/controllers/posts.js
  packages/endpoint-posts/lib/middleware/post-data.js
  packages/endpoint-posts/lib/utils.js
  packages/endpoint-posts/tests/integration/404-post.js
  packages/endpoint-posts/tests/unit/utils.js
Due: prettier --write, xo

feat(endpoint-files): query media using uid
  helpers/mock-agent/endpoint-files.js
  packages/endpoint-files/index.js
  packages/endpoint-files/lib/controllers/files.js
  packages/endpoint-files/lib/middleware/file-data.js
  packages/endpoint-files/lib/utils.js
  packages/endpoint-files/tests/integration/200-file.js
  packages/endpoint-files/tests/integration/200-get-delete.js
  packages/endpoint-files/tests/integration/302-get-delete.js
  packages/endpoint-files/tests/integration/302-post-delete.js
  packages/endpoint-files/tests/integration/401-post-delete-unauthorized.js
  packages/endpoint-files/tests/integration/404-file.js
  packages/endpoint-files/tests/unit/utils.js
Due: prettier --write, xo

feat(endpoint-micropub): get post count using uid
  packages/endpoint-micropub/lib/post-type-count.js
Due: prettier --write, xo

feat(util): get object id
  packages/util/index.js
  packages/util/lib/collection.js
Due: prettier --write, xo

fix(endpoint-micropub): use getObjectId util
  packages/endpoint-micropub/lib/post-type-count.js
Due: prettier --write, xo

fix(frontend): remove spacing around summary keys
  packages/frontend/components/summary/styles.css
Due: prettier --write, stylelint

refactor(endpoint-micropub): use destructuring assignment for post content values
  packages/endpoint-micropub/lib/post-content.js
Due: prettier --write, xo

refactor(endpoint-media): use destructuring assignment for post content values
  packages/endpoint-media/lib/media-content.js
Due: prettier --write, xo

test(store): use new api responses
  helpers/store/index.js
Due: prettier --write, xo

test(database): add test database helper
  helpers/database/index.js
  helpers/database/package.json
  package-lock.json
  package.json
Due: prettier --write, xo

test(endpoint-media): use test database helper
  packages/endpoint-media/tests/unit/media-data.js
Due: prettier --write, xo

test(endpoint-micropub): use test database helper
  packages/endpoint-micropub/tests/unit/post-data.js
Due: prettier --write, xo

test(endpoint-syndicate): use test database helper
  packages/endpoint-syndicate/tests/unit/utils.js
Due: prettier --write, xo

test(util): add test for getCursor
  packages/util/lib/collection.js
  packages/util/tests/unit/collection.js
Due: prettier --write, xo

fix(endpoint-micropub): create file on content store when undeleting
  helpers/mock-agent/endpoint-micropub.js
  packages/endpoint-micropub/lib/post-content.js
Due: prettier --write, xo

refactor(endpoint-micropub): const name
  packages/endpoint-micropub/lib/post-data.js
Due: prettier --write, xo

chore: update dependencies
  package-lock.json
  package.json
Due: none

feat(endpoint-files): accept micropub response with no content
  packages/endpoint-files/lib/endpoint.js
Due: prettier --write, xo

feat(endpoint-posts): accept micropub response with no content
  packages/endpoint-posts/lib/endpoint.js
Due: prettier --write, xo

chore: fix some more types
  jsconfig.json
  packages/endpoint-auth/lib/client.js
  packages/endpoint-auth/lib/controllers/authorization.js
  packages/endpoint-files/lib/controllers/form.js
  packages/endpoint-micropub/lib/mf2.js
  packages/frontend/lib/globals/theme.js
  packages/frontend/lib/markdown-it.js
  packages/frontend/lib/rollup.js
  packages/util/lib/collection.js
Due: prettier --write, xo

docs: use generic class for icon style
  docs/.vitepress/theme/custom.css
  docs/clients.md
Due: prettier --write, stylelint

docs: use proposed protocol icons on specifications page
  docs/public/icons/indieauth.svg
  docs/public/icons/micropub.svg
  docs/public/icons/microsub.svg
  docs/public/icons/webmention.svg
  docs/specifications.md
Due: none

docs: update diagrams to use proposed indieauth icon
  docs/public/authorization-flow.png
  docs/public/publication-flow.png
  docs/public/syndication-flow.png
Due: none

feat(endpoint-indieauth): use proposed indieauth icon
  packages/endpoint-auth/assets/icon.svg
Due: none

feat(endpoint-media): use proposed micropub icon
  packages/endpoint-media/assets/icon.svg
Due: none

feat(endpoint-micropub): use proposed micropub icon
  packages/endpoint-micropub/assets/icon.svg
Due: none

refactor(frontend): outline and button colours
  packages/frontend/components/button/styles.css
  packages/frontend/components/checkboxes/styles.css
  packages/frontend/components/input/styles.css
  packages/frontend/components/radios/styles.css
  packages/frontend/components/select/styles.css
  packages/frontend/components/tag-input/styles.css
  packages/frontend/components/textarea/styles.css
  packages/frontend/styles/config/custom-properties.css
Due: prettier --write, stylelint

refactor(frontend): move border to end of summary row blocks
  packages/frontend/components/summary/styles.css
Due: prettier --write, stylelint

fix(endpoint-posts): return content if validation error
  packages/endpoint-posts/views/post-form.njk
Due: none

feat(syndicator-mastodon): add option to include permalink in status
  packages/syndicator-mastodon/README.md
  packages/syndicator-mastodon/index.js
  packages/syndicator-mastodon/lib/mastodon.js
  packages/syndicator-mastodon/lib/utils.js
Due: prettier --write, xo
