Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

.lintstagedrc.json:

{
  "*.js": [
    "prettier --write",
    "xo"
  ],
  "*.css": [
    "prettier --write",
    "stylelint"
  ]
}

feat(frontend): simpler text for geo input button
  packages/frontend/locales/de.json
  packages/frontend/locales/en.json
  packages/frontend/locales/es.json
  packages/frontend/locales/fr.json
  packages/frontend/locales/id.json
  packages/frontend/locales/nl.json
  packages/frontend/locales/pl.json
  packages/frontend/locales/pt.json
  packages/frontend/locales/sr.json
  packages/frontend/locales/zh-Hans-CN.json
Due: none

chore: update dependencies
  package-lock.json
  package.json
Due: none

feat: use url input type with placeholder
  packages/endpoint-posts/views/post-form.njk
  packages/endpoint-share/views/share.njk
  packages/frontend/styles/base/forms.css
Due: prettier --write, stylelint

fix(frontend): don’t use client-side validation on forms
  packages/frontend/layouts/form.njk
Due: none

fix(frontend): remove background from file input
  packages/frontend/components/input/styles.css
Due: prettier --write, stylelint

feat(frontend): add attributes to fieldset legend
  packages/frontend/components/fieldset/template.njk
Due: none

feat(frontend): fieldset group styles
  packages/frontend/components/fieldset/styles.css
Due: prettier --write, stylelint

feat(endpoint-posts): basic video post support
  packages/endpoint-posts/index.js
  packages/endpoint-posts/lib/middleware/validation.js
  packages/endpoint-posts/locales/en.json
  packages/endpoint-posts/views/post-form.njk
Due: prettier --write, xo

feat(endpoint-posts): basic photo post support
  packages/endpoint-posts/index.js
  packages/endpoint-posts/lib/middleware/validation.js
  packages/endpoint-posts/locales/en.json
  packages/endpoint-posts/views/post-form.njk
Due: prettier --write, xo

feat(endpoint-posts): locales for basic media post support
  packages/endpoint-posts/lib/middleware/validation.js
  packages/endpoint-posts/locales/de.json
  packages/endpoint-posts/locales/en.json
  packages/endpoint-posts/locales/es.json
  packages/endpoint-posts/locales/fr.json
  packages/endpoint-posts/locales/id.json
  packages/endpoint-posts/locales/nl.json
  packages/endpoint-posts/locales/pl.json
  packages/endpoint-posts/locales/pt.json
  packages/endpoint-posts/locales/sr.json
  packages/endpoint-posts/locales/zh-Hans-CN.json
Due: prettier --write, xo

feat(endpoint-posts): basic audio post support
  packages/endpoint-posts/index.js
  packages/endpoint-posts/lib/middleware/validation.js
  packages/endpoint-posts/locales/en.json
  packages/endpoint-posts/views/post-form.njk
Due: prettier --write, xo

refactor(endpoint-share): use placeholder in translation string
  packages/endpoint-share/lib/middleware/validation.js
  packages/endpoint-share/locales/de.json
  packages/endpoint-share/locales/en.json
  packages/endpoint-share/locales/es.json
  packages/endpoint-share/locales/fr.json
  packages/endpoint-share/locales/id.json
  packages/endpoint-share/locales/nl.json
  packages/endpoint-share/locales/pl.json
  packages/endpoint-share/locales/pt.json
  packages/endpoint-share/locales/sr.json
  packages/endpoint-share/locales/zh-Hans-CN.json
Due: prettier --write, xo

feat(frontend): customisable button padding
  packages/frontend/components/button/styles.css
Due: prettier --write, stylelint

feat(frontend): apply focus styles to programmatically focused elements
  packages/frontend/styles/base/sections.css
Due: prettier --write, stylelint

fix(frontend): small icon in small button
  packages/frontend/components/button/styles.css
Due: prettier --write, stylelint

feat(frontend): option to add icon title
  packages/frontend/lib/globals/icon.js
Due: prettier --write, xo

refactor(frontend): remove unused styles and classes on checkboxes and radios
  packages/frontend/components/checkboxes/styles.css
  packages/frontend/components/checkboxes/template.njk
  packages/frontend/components/fieldset/styles.css
  packages/frontend/components/radios/styles.css
  packages/frontend/components/radios/template.njk
Due: prettier --write, stylelint

feat(frontend): icon only button component
  helpers/frontend/views/frontend-components.njk
  packages/frontend/components/button/styles.css
  packages/frontend/components/button/template.njk
Due: prettier --write, stylelint

feat: pass all options to slugify util
  packages/endpoint-micropub/lib/jf2.js
  packages/util/lib/string.js
  packages/util/tests/unit/string.js
Due: prettier --write, xo

feat(frontend): slugify error-list paths
  packages/frontend/lib/globals/error-list.js
  packages/frontend/tests/unit/globals/error-list.js
Due: prettier --write, xo

feat(endpoint-posts): validate media arrays, allow for file paths
  packages/endpoint-posts/lib/middleware/validation.js
  packages/endpoint-posts/locales/de.json
  packages/endpoint-posts/locales/en.json
  packages/endpoint-posts/locales/es.json
  packages/endpoint-posts/locales/fr.json
  packages/endpoint-posts/locales/id.json
  packages/endpoint-posts/locales/nl.json
  packages/endpoint-posts/locales/pl.json
  packages/endpoint-posts/locales/pt.json
  packages/endpoint-posts/locales/sr.json
  packages/endpoint-posts/locales/zh-Hans-CN.json
  packages/endpoint-posts/views/post-form.njk
Due: prettier --write, xo

refactor(endpoint-share): use fieldData helper
  packages/endpoint-share/views/share.njk
Due: none

refactor(endpoint-auth): use fieldData helper
  packages/endpoint-auth/views/consent.njk
  packages/endpoint-auth/views/new-password.njk
Due: none

feat(frontend): global helper to get field data
  package-lock.json
  packages/frontend/lib/globals/field-data.js
  packages/frontend/lib/globals/index.js
  packages/frontend/package.json
  packages/frontend/tests/unit/globals/field-data.js
Due: prettier --write, xo

refactor(endpoint-files): use fieldData helper
  packages/endpoint-files/views/file-form.njk
Due: none

refactor: use same variable name for saved data
  packages/endpoint-auth/lib/controllers/password.js
  packages/endpoint-auth/views/new-password.njk
  packages/endpoint-files/lib/controllers/delete.js
  packages/endpoint-files/lib/controllers/file.js
  packages/endpoint-files/lib/middleware/file-data.js
  packages/endpoint-files/views/file-form.njk
  packages/endpoint-files/views/file.njk
  packages/endpoint-posts/includes/endpoint-posts-syndicate.njk
  packages/endpoint-posts/lib/controllers/delete.js
  packages/endpoint-posts/lib/controllers/form.js
  packages/endpoint-posts/lib/controllers/post.js
  packages/endpoint-posts/lib/middleware/post-data.js
  packages/endpoint-posts/views/post-form.njk
  packages/endpoint-posts/views/post.njk
  packages/endpoint-share/lib/controllers/share.js
  packages/endpoint-share/views/share.njk
Due: prettier --write, xo

refactor(endpoint-posts): use fieldData helper
  packages/endpoint-posts/lib/middleware/post-data.js
  packages/endpoint-posts/views/post-form.njk
Due: prettier --write, xo

refactor(frontend): infer id from name on fields
  packages/frontend/components/geo-input/template.njk
  packages/frontend/components/input/template.njk
  packages/frontend/components/section/template.njk
  packages/frontend/components/select/template.njk
  packages/frontend/components/tag-input/template.njk
  packages/frontend/components/textarea/template.njk
Due: none

refactor: remove unnecessary id option on fields
  helpers/frontend/views/frontend-form.njk
  packages/endpoint-auth/views/consent.njk
  packages/endpoint-auth/views/new-password.njk
  packages/endpoint-files/views/file-form.njk
  packages/endpoint-posts/views/new.njk
  packages/endpoint-posts/views/post-form.njk
  packages/endpoint-share/views/share.njk
Due: none

refactor: simplify setting hint text on fields
  helpers/frontend/views/frontend-form.njk
  packages/endpoint-auth/views/new-password.njk
  packages/endpoint-posts/lib/utils.js
  packages/endpoint-posts/tests/unit/utils.js
  packages/endpoint-posts/views/post-form.njk
  packages/frontend/components/checkboxes/template.njk
  packages/frontend/components/hint/template.njk
  packages/frontend/components/input/template.njk
  packages/frontend/components/radios/template.njk
  packages/frontend/components/select/template.njk
  packages/frontend/components/textarea/template.njk
Due: prettier --write, xo

feat(frontend): id option for summary row keys
  packages/frontend/components/summary/template.njk
Due: none

refactor(frontend): remove visually-hidden exception in flow scope
  packages/frontend/styles/scopes/flow.css
Due: prettier --write, stylelint

refactor(indiekit): use summary key to label access token textarea
  packages/indiekit/views/status.njk
Due: none
