Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

refactor(util): pass options to formatDate
  packages/frontend/components/share-preview/template.njk
  packages/util/lib/date.js
  packages/util/test/unit/date.js
Due: prettier --write, xo

refactor: date tokens and formatting in renderPath method
  packages/endpoint-media/lib/utils.js
  packages/endpoint-micropub/lib/utils.js
  packages/util/index.js
  packages/util/lib/date.js
Due: prettier --write, xo

fix: show localised date in cards
  helpers/frontend/views/frontend-components.njk
  packages/endpoint-files/lib/controllers/files.js
  packages/endpoint-posts/lib/controllers/posts.js
  packages/frontend/components/card/template.njk
Due: prettier --write, xo

fix(frontend): error colors with dark scheme
  packages/frontend/components/button/styles.css
  packages/frontend/styles/config/custom-properties.css
Due: prettier --write, stylelint

feat(endpoint-files): close file properties
  packages/endpoint-files/views/file.njk
Due: none

feat(endpoint-posts): close post properties
  packages/endpoint-posts/views/post.njk
Due: none

feat(endpoint-posts): show character and word count on content field
  packages/endpoint-posts/includes/post-fields/content.njk
Due: none

feat(frontend): character count component
  helpers/frontend/views/frontend-form.njk
  packages/frontend/components/character-count/index.js
  packages/frontend/components/character-count/macro.njk
  packages/frontend/components/character-count/styles.css
  packages/frontend/components/character-count/template.njk
  packages/frontend/layouts/default.njk
  packages/frontend/locales/de.json
  packages/frontend/locales/en.json
  packages/frontend/locales/es-419.json
  packages/frontend/locales/es.json
  packages/frontend/locales/fr.json
  packages/frontend/locales/id.json
  packages/frontend/locales/nl.json
  packages/frontend/locales/pl.json
  packages/frontend/locales/pt.json
  packages/frontend/locales/sr.json
  packages/frontend/locales/zh-Hans-CN.json
  packages/frontend/scripts/app.js
  packages/frontend/styles/app.css
Due: prettier --write, xo, stylelint

refactor(frontend): use i18n prefix for tag input localisation string
  packages/frontend/components/tag-input/index.js
  packages/frontend/components/tag-input/template.njk
Due: prettier --write, xo

refactor(frontend): use i18n prefix for geo input localisation string
  packages/frontend/components/geo-input/index.js
  packages/frontend/components/geo-input/template.njk
Due: prettier --write, xo

style: correct bullet format in adr markdown
  docs/decisions/0004-seperate-endpoints-for-api-and-ui.md
Due: none

docs: add adr for using keyed collection for post type configuration
  docs/decisions/0005-post-type-config-keys.md
Due: none

docs: only link to non-standard object types
  docs/plugins/api/.plugin-constructor.md
  docs/plugins/api/add-endpoint.md
  docs/plugins/api/add-preset.md
  docs/plugins/api/add-store.md
  docs/plugins/api/add-syndicator.md
  docs/plugins/api/error.md
Due: none

refactor(endpoint-posts): post type field include path
  packages/endpoint-posts/includes/post-types/audio-field.njk
  packages/endpoint-posts/includes/post-types/bookmark-of-field.njk
  packages/endpoint-posts/includes/post-types/category-field.njk
  packages/endpoint-posts/includes/post-types/content-field.njk
  packages/endpoint-posts/includes/post-types/geo-field.njk
  packages/endpoint-posts/includes/post-types/in-reply-to-field.njk
  packages/endpoint-posts/includes/post-types/jam-of-field.njk
  packages/endpoint-posts/includes/post-types/like-of-field.njk
  packages/endpoint-posts/includes/post-types/location-field.njk
  packages/endpoint-posts/includes/post-types/name-field.njk
  packages/endpoint-posts/includes/post-types/photo-field.njk
  packages/endpoint-posts/includes/post-types/repost-of-field.njk
  packages/endpoint-posts/includes/post-types/rsvp-field.njk
  packages/endpoint-posts/includes/post-types/start-field.njk
  packages/endpoint-posts/includes/post-types/summary-field.njk
  packages/endpoint-posts/includes/post-types/video-field.njk
  packages/endpoint-posts/views/post-form.njk
Due: none

feat(frontend): use normal font style for citations
  packages/frontend/styles/base/text.css
Due: prettier --write, stylelint

fix(frontend): adjust icon spacing in badge component
  packages/frontend/components/badge/styles.css
Due: prettier --write, stylelint

feat(frontend): additional prose styles
  packages/frontend/components/prose/styles.css
Due: prettier --write, stylelint

feat(frontend): cross, location and tick icons
  helpers/frontend/views/frontend-components.njk
  packages/frontend/lib/globals/icon.js
Due: prettier --write, xo

feat(frontend): isArray filter
  packages/frontend/lib/filters/array.js
  packages/frontend/lib/filters/index.js
Due: prettier --write, xo

fix(frontend): mark title in card component as safe
  packages/frontend/components/card/template.njk
Due: none

feat(frontend): tag component
  helpers/frontend/views/frontend-components.njk
  packages/frontend/components/tag/macro.njk
  packages/frontend/components/tag/styles.css
  packages/frontend/components/tag/template.njk
  packages/frontend/layouts/default.njk
  packages/frontend/styles/app.css
Due: prettier --write, stylelint

fix(frontend): focused text colour for detail summary
  packages/frontend/components/details/styles.css
Due: prettier --write, stylelint

feat(endpoint-posts): display all property values for a post
  packages/endpoint-posts/includes/post-types/audio.njk
  packages/endpoint-posts/includes/post-types/bookmark-of.njk
  packages/endpoint-posts/includes/post-types/category.njk
  packages/endpoint-posts/includes/post-types/content.njk
  packages/endpoint-posts/includes/post-types/in-reply-to.njk
  packages/endpoint-posts/includes/post-types/jam-of.njk
  packages/endpoint-posts/includes/post-types/like-of.njk
  packages/endpoint-posts/includes/post-types/location.njk
  packages/endpoint-posts/includes/post-types/photo.njk
  packages/endpoint-posts/includes/post-types/published.njk
  packages/endpoint-posts/includes/post-types/repost-of.njk
  packages/endpoint-posts/includes/post-types/rsvp.njk
  packages/endpoint-posts/includes/post-types/start.njk
  packages/endpoint-posts/includes/post-types/summary.njk
  packages/endpoint-posts/includes/post-types/video.njk
  packages/endpoint-posts/views/post.njk
Due: none

fix(frontend): more specific selector for tag component styles
  packages/frontend/components/tag/styles.css
Due: prettier --write, stylelint

chore: update dependencies
  package-lock.json
Due: none

feat: remove need for plugins to provide meta value
  docs/plugins/api/.plugin-constructor.md
  docs/plugins/api/add-endpoint.md
  docs/plugins/api/add-preset.md
  docs/plugins/api/add-store.md
  docs/plugins/api/add-syndicator.md
  docs/plugins/api/index.md
  helpers/frontend/index.js
  helpers/store/index.js
  packages/endpoint-auth/index.js
  packages/endpoint-files/index.js
  packages/endpoint-image/index.js
  packages/endpoint-json-feed/index.js
  packages/endpoint-media/index.js
  packages/endpoint-micropub/index.js
  packages/endpoint-posts/index.js
  packages/endpoint-share/index.js
  packages/endpoint-syndicate/index.js
  packages/indiekit/lib/controllers/plugin.js
  packages/indiekit/lib/installed-plugins.js
  packages/indiekit/lib/locale-catalog.js
  packages/indiekit/lib/routes.js
  packages/indiekit/lib/utils.js
  packages/indiekit/lib/views.js
  packages/indiekit/test/unit/utils.js
  packages/preset-hugo/index.js
  packages/preset-jekyll/index.js
  packages/store-bitbucket/index.js
  packages/store-file-system/index.js
  packages/store-ftp/index.js
  packages/store-gitea/index.js
  packages/store-github/index.js
  packages/store-gitlab/index.js
  packages/syndicator-internet-archive/index.js
  packages/syndicator-mastodon/index.js
Due: prettier --write, xo

feat: remove need for plugins to provide id value
  docs/plugins/api/.plugin-constructor.md
  docs/plugins/api/add-endpoint.md
  docs/plugins/api/add-preset.md
  docs/plugins/api/add-store.md
  docs/plugins/api/add-syndicator.md
  docs/plugins/api/index.md
  helpers/frontend/index.js
  helpers/store/index.js
  packages/endpoint-auth/index.js
  packages/endpoint-files/includes/@indiekit-endpoint-files-widget.njk
  packages/endpoint-files/index.js
  packages/endpoint-image/index.js
  packages/endpoint-json-feed/includes/@indiekit-endpoint-json-feed-widget.njk
  packages/endpoint-json-feed/index.js
  packages/endpoint-media/index.js
  packages/endpoint-micropub/index.js
  packages/endpoint-posts/includes/@indiekit-endpoint-posts-syndicate.njk
  packages/endpoint-posts/includes/@indiekit-endpoint-posts-widget.njk
  packages/endpoint-posts/index.js
  packages/endpoint-posts/views/post.njk
  packages/endpoint-share/includes/@indiekit-endpoint-share-widget.njk
  packages/endpoint-share/index.js
  packages/endpoint-syndicate/index.js
  packages/indiekit/lib/installed-plugins.js
  packages/indiekit/test/index.js
  packages/preset-hugo/index.js
  packages/preset-jekyll/index.js
  packages/store-bitbucket/index.js
  packages/store-file-system/index.js
  packages/store-ftp/index.js
  packages/store-gitea/index.js
  packages/store-github/index.js
  packages/store-gitlab/index.js
  packages/syndicator-internet-archive/index.js
  packages/syndicator-mastodon/index.js
Due: prettier --write, xo

docs: add post type to core concepts
  docs/concepts.md
Due: none

docs: update Indiekit.addEndpoint api docs
  docs/plugins/api/add-endpoint.md
Due: none

docs: add support for definition lists
  docs/.vitepress/config.js
  docs/.vitepress/theme/custom.css
  package-lock.json
  package.json
Due: prettier --write, xo, stylelint

docs: update Indiekit.addSyndicator api docs
  docs/plugins/api/.plugin-constructor.md
  docs/plugins/api/add-syndicator.md
Due: none

docs: update Indiekit.addPreset api docs
  docs/plugins/api/add-preset.md
Due: none

docs: update Indiekit.addStore api docs
  docs/plugins/api/add-store.md
Due: none

docs: update IndiekitError api docs
  docs/plugins/api/error.md
Due: none

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  xo: any of: *.js
  stylelint: any of: *.css
