Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

.lintstagedrc.json:

{
  "*.js": [
    "prettier --write",
    "xo"
  ],
  "*.css": [
    "prettier --write",
    "stylelint"
  ]
}

feat: don’t include mp-syndicate-to in post file
  docs/introduction.md
  packages/preset-hugo/index.js
  packages/preset-hugo/tests/index.js
  packages/preset-jekyll/index.js
  packages/preset-jekyll/tests/index.js
Due: prettier --write, xo

style(endpoint-media): comment typos, const names
  packages/endpoint-media/lib/media-data.js
  packages/endpoint-media/tests/unit/media-data.js
Due: prettier --write, xo

feat(endpoint-media): update database before content store
  packages/endpoint-media/lib/controllers/action.js
  packages/endpoint-media/lib/media-content.js
  packages/endpoint-media/lib/media-data.js
  packages/endpoint-media/lib/media.js
  packages/endpoint-media/tests/unit/media-content.js
  packages/endpoint-media/tests/unit/media-data.js
Due: prettier --write, xo

feat(endpoint-micropub): update database before content store
  packages/endpoint-micropub/lib/controllers/action.js
  packages/endpoint-micropub/lib/post-content.js
  packages/endpoint-micropub/lib/post-data.js
  packages/endpoint-micropub/lib/post.js
  packages/endpoint-micropub/tests/unit/post-content.js
  packages/endpoint-micropub/tests/unit/post-data.js
Due: prettier --write, xo

chore: update dependencies
  package-lock.json
Due: none

docs: update custom theme
  docs/.vitepress/theme/custom.css
  docs/public/authorization-flow.png
  docs/public/publication-flow.png
  docs/public/syndication-flow.png
Due: prettier --write, stylelint

fix plugin name
  docs/concepts.md
Due: none

docs: fix plugin name
  docs/concepts.md
Due: none

chore: update dependencies
  .stylelintrc.json
  package-lock.json
  package.json
  packages/endpoint-media/lib/date.js
  packages/endpoint-media/lib/utils.js
  packages/endpoint-media/package.json
  packages/endpoint-micropub/lib/date.js
  packages/endpoint-micropub/lib/utils.js
  packages/endpoint-micropub/package.json
  packages/frontend/package.json
  packages/indiekit/package.json
Due: prettier --write, xo

Deploying to main from @ getindiekit/indiekit@7fe6ae65108eba50a58a122c4ccbc7197a1932cd 🚀
  README.md
Due: none

chore: update dependencies
  package-lock.json
  package.json
  packages/frontend/package.json
  packages/syndicator-mastodon/package.json
Due: none

chore: lint javascript
  packages/create-indiekit/index.js
  packages/frontend/scripts/app.js
  packages/indiekit/bin/cli.js
  packages/indiekit/config/defaults.js
Due: prettier --write, xo

chore: update express-validator dependency to v7
  package-lock.json
  packages/endpoint-auth/package.json
  packages/endpoint-files/package.json
  packages/endpoint-posts/package.json
  packages/endpoint-share/package.json
  packages/frontend/lib/globals/error-list.js
  packages/frontend/tests/unit/globals/error-list.js
Due: prettier --write, xo

feat: add simplified chinese
  docs/configuration/localisation.md
  packages/endpoint-auth/locales/zh-Hans-CN.json
  packages/endpoint-files/locales/zh-Hans-CN.json
  packages/endpoint-posts/locales/zh-Hans-CN.json
  packages/endpoint-share/locales/zh-Hans-CN.json
  packages/error/locales/zh-Hans-CN.json
  packages/frontend/locales/zh-Hans-CN.json
  packages/indiekit/config/defaults.js
  packages/indiekit/locales/zh-Hans-CN.json
Due: prettier --write, xo

fix(create-indiekit): decode url before testing if valid
  packages/create-indiekit/lib/utils.js
  packages/create-indiekit/tests/unit/utils.js
Due: prettier --write, xo

fix(endpoint-auth): decode url before testing if valid
  packages/endpoint-auth/lib/utils.js
  packages/endpoint-auth/tests/unit/utils.js
Due: prettier --write, xo

fix(indiekit): decode url before testing if valid
  packages/indiekit/lib/utils.js
  packages/indiekit/tests/unit/utils.js
Due: prettier --write, xo

refactor: use internal node crypto api to generate uuids
  package-lock.json
  packages/endpoint-auth/lib/controllers/consent.js
  packages/endpoint-auth/package.json
  packages/endpoint-media/lib/utils.js
  packages/endpoint-media/package.json
  packages/endpoint-micropub/lib/utils.js
  packages/endpoint-micropub/package.json
Due: prettier --write, xo

chore: update dependencies
  package-lock.json
  package.json
Due: none

chore: lint jsdoc
  packages/endpoint-files/lib/endpoint.js
  packages/frontend/components/error-summary/index.js
  packages/frontend/components/geo-input/index.js
  packages/frontend/components/preview/index.js
Due: prettier --write, xo

fix(frontend): allow for conditional summary rows. fixes #599
  packages/frontend/components/summary/template.njk
Due: none

feat(frontend): return undefined for unknown icon name
  packages/frontend/lib/globals/icon.js
  packages/frontend/tests/unit/globals/icon.js
Due: prettier --write, xo

fix(indiekit): use fallback post type icon on status page
  packages/indiekit/views/status.njk
Due: none

ci: remove optional lightningcss dependency, use npm i
  .github/workflows/build.yml
  package-lock.json
  packages/frontend/package.json
Due: none

Deploying to main from @ getindiekit/indiekit@f409933ac92439d4f43fc3d659894b7e5c7594da 🚀
  README.md
  docs/sponsors.md
Due: none

fix(endpoint-micropub): don’t require database to query config. fixes #600
  packages/endpoint-micropub/lib/controllers/query.js
Due: prettier --write, xo

fix(endpoint-media): don’t require database to query config. fixes #600
  packages/endpoint-media/lib/controllers/query.js
Due: prettier --write, xo

fix(frontend): prevent indented textarea content. fixes #560
  packages/frontend/components/field/template.njk
  packages/frontend/components/fieldset/template.njk
Due: none

docs: add minimum mongodb version. fixes #592
  README.md
  docs/get-started.md
Due: none

feat(indiekit): log errors
  packages/indiekit/lib/middleware/error.js
Due: prettier --write, xo

refactor(indiekit): improve request logging
  packages/indiekit/lib/middleware/logging.js
Due: prettier --write, xo

fix(frontend): correct type JSON.stringify replacer
  packages/frontend/lib/globals/summary-rows.js
Due: prettier --write, xo

refactor(frontend): default value on markdown filter to null
  packages/frontend/lib/filters/string.js
Due: prettier --write, xo

fix(endpoint-image): no second param on Buffer.from
  packages/endpoint-image/lib/adapter.js
Due: prettier --write, xo

test(store-ftp): remove incorrect param on FtpStore
  packages/store-ftp/tests/index.js
Due: prettier --write, xo
