Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

.lintstagedrc.json:

{
  "*.js": [
    "prettier --write",
    "xo"
  ],
  "*.css": [
    "prettier --write",
    "stylelint"
  ]
}

test: use explicit timeZone in test config
  indiekit.config.js
Due: prettier --write, xo

chore: update dependencies
  package-lock.json
Due: none

fix: pass timeZone to date format filter
  packages/endpoint-media/lib/utils.js
  packages/endpoint-micropub/lib/utils.js
  packages/util/lib/date.js
Due: prettier --write, xo

v1.0.0-beta.16
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/create-indiekit/CHANGELOG.md
  packages/create-indiekit/package.json
  packages/endpoint-auth/CHANGELOG.md
  packages/endpoint-auth/package.json
  packages/endpoint-media/CHANGELOG.md
  packages/endpoint-media/package.json
  packages/endpoint-micropub/CHANGELOG.md
  packages/endpoint-micropub/package.json
  packages/endpoint-posts/CHANGELOG.md
  packages/endpoint-posts/package.json
  packages/frontend/CHANGELOG.md
  packages/frontend/package.json
  packages/indiekit/CHANGELOG.md
  packages/indiekit/package.json
  packages/post-type-audio/CHANGELOG.md
  packages/post-type-audio/package.json
  packages/post-type-bookmark/CHANGELOG.md
  packages/post-type-bookmark/package.json
  packages/post-type-event/CHANGELOG.md
  packages/post-type-event/package.json
  packages/post-type-jam/CHANGELOG.md
  packages/post-type-jam/package.json
  packages/post-type-like/CHANGELOG.md
  packages/post-type-like/package.json
  packages/post-type-reply/CHANGELOG.md
  packages/post-type-reply/package.json
  packages/post-type-repost/CHANGELOG.md
  packages/post-type-repost/package.json
  packages/post-type-rsvp/CHANGELOG.md
  packages/post-type-rsvp/package.json
  packages/post-type-video/CHANGELOG.md
  packages/post-type-video/package.json
  packages/syndicator-mastodon/CHANGELOG.md
  packages/syndicator-mastodon/package.json
  packages/util/CHANGELOG.md
  packages/util/package.json
Due: none

chore: migrate to husky v9
  .husky/commit-msg
  .husky/pre-commit
  package.json
Due: none

feat(frontend): remove global letter spacing
  packages/frontend/components/app/styles.css
Due: prettier --write, stylelint

fix(frontend): date input focus background colour
  packages/frontend/components/input/styles.css
Due: prettier --write, stylelint

chore: update dependencies
  package-lock.json
  package.json
Due: none

chore: replace nodemon with native watch
  package-lock.json
  package.json
Due: none

fix(endpoint-auth): authorization flow
  packages/endpoint-auth/lib/controllers/consent.js
  packages/endpoint-auth/lib/scope.js
Due: prettier --write, xo

fix(frontend): unset token header styles
  packages/frontend/styles/vendor/markdown-it-prism.css
Due: prettier --write, stylelint

v1.0.0-beta.17
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/endpoint-auth/CHANGELOG.md
  packages/endpoint-auth/package.json
  packages/endpoint-posts/CHANGELOG.md
  packages/endpoint-posts/package.json
  packages/frontend/CHANGELOG.md
  packages/frontend/package.json
  packages/indiekit/CHANGELOG.md
  packages/indiekit/package.json
Due: none

docs: improve documentation on how to setup a dev environment
  .gitignore
  docker-compose.yml
  docs/contributing.md
  docs/development.md
Due: none

fix(indiekit): add debug logs to troubleshoot Indiekit/Express server configuration
  packages/indiekit/config/express.js
  packages/indiekit/index.js
Due: prettier --write, xo

fix(indiekit): add debug logs to troubleshoot the connection to MongoDB
  packages/indiekit/lib/mongodb.js
Due: prettier --write, xo

fix(store-github): improve error messages for CRUD operations
  packages/store-github/index.js
Due: prettier --write, xo

chore: specify port when running Indiekit in development (remove from PR)
  package.json
Due: none

fix(indiekit): add debug logs (remove from PR)
  packages/indiekit/index.js
Due: prettier --write, xo

chore: add docker-compose to have a local MongoDB database (remove from PR)
  docker-compose.yml
Due: none

fix(indiekit): add debug logs when each plugin is registered (remove from PR)
  indiekit.config.js
  packages/indiekit/lib/plugins.js
  packages/indiekit/lib/routes.js
Due: prettier --write, xo

fix(endpoint-micropub): add debug logs (remove from PR)
  packages/endpoint-micropub/lib/controllers/action.js
  packages/endpoint-micropub/lib/post-data.js
  packages/endpoint-micropub/lib/update.js
Due: prettier --write, xo

fix(endpoint-posts): add debug logs (remove from PR)
  packages/endpoint-posts/lib/controllers/post.js
  packages/endpoint-posts/lib/controllers/posts.js
Due: prettier --write, xo

fix(endpoint-syndicate): add debug logs (remove from PR)
  packages/endpoint-syndicate/lib/controllers/syndicate.js
  packages/endpoint-syndicate/lib/token.js
  packages/endpoint-syndicate/lib/utils.js
Due: prettier --write, xo

fix(indiekit): add debug logs when plugin views are rendered (remove from PR)
  packages/indiekit/lib/controllers/plugin.js
Due: prettier --write, xo

fix(syndicator-mastodon): add debug logs for troubleshooting (remove from PR)
  packages/syndicator-mastodon/index.js
Due: prettier --write, xo

fix(indiekit): add link to start LinkedIn authorization (remove from PR)
  packages/indiekit/views/homepage.njk
Due: none

feat(endpoint-linkedin): add endpoint-linkedin
  indiekit.config.js
  package-lock.json
  packages/endpoint-linkedin/README.md
  packages/endpoint-linkedin/assets/icon.svg
  packages/endpoint-linkedin/index.js
  packages/endpoint-linkedin/package.json
  packages/endpoint-linkedin/views/authorize-linkedin-app.njk
Due: prettier --write, xo

feat(syndicator-linkedin): add LinkedIn syndicator
  indiekit.config.js
  package-lock.json
  packages/endpoint-linkedin/index.js
  packages/syndicator-linkedin/README.md
  packages/syndicator-linkedin/assets/icon.svg
  packages/syndicator-linkedin/index.js
  packages/syndicator-linkedin/lib/linkedin.js
  packages/syndicator-linkedin/package.json
  packages/syndicator-linkedin/test/index.js
  packages/syndicator-linkedin/test/unit/linkedin.js
Due: prettier --write, xo

fix(endpoint-auth): remove console debugging
  packages/endpoint-auth/lib/controllers/consent.js
Due: prettier --write, xo

chore: update dependencies
  package-lock.json
  packages/frontend/package.json
Due: none

chore: ignore .envrc
  .gitignore
Due: none

fix(frontend): allow detail summary to wrap. fixes #753
  packages/frontend/components/details/styles.css
Due: prettier --write, stylelint

docs: remove link to deleted webfont
  docs/.vitepress/config.js
Due: prettier --write, xo

docs: move local development to separate page
  docs/.vitepress/config.js
  docs/contributing.md
  docs/development.md
Due: prettier --write, xo

Apply suggestions from code review
  packages/indiekit/index.js
Due: prettier --write, xo

Update docs/development.md
  docs/development.md
Due: none
