Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

.lintstagedrc.json:

{
  "*.js": [
    "prettier --write",
    "xo"
  ],
  "*.css": [
    "prettier --write",
    "stylelint"
  ]
}

refactor: store post type config in object
  helpers/config/index.js
  indiekit.config.js
  packages/endpoint-media/lib/media-data.js
  packages/endpoint-media/lib/utils.js
  packages/endpoint-media/test/unit/media-data.js
  packages/endpoint-media/test/unit/utils.js
  packages/endpoint-micropub/lib/config.js
  packages/endpoint-micropub/lib/post-data.js
  packages/endpoint-micropub/lib/post-type-discovery.js
  packages/endpoint-micropub/lib/utils.js
  packages/endpoint-micropub/test/unit/post-data.js
  packages/endpoint-micropub/test/unit/post-type-discovery.js
  packages/endpoint-micropub/test/unit/utils.js
  packages/endpoint-posts/includes/endpoint-posts-widget.njk
  packages/endpoint-posts/lib/controllers/new.js
  packages/endpoint-posts/lib/middleware/post-data.js
  packages/endpoint-posts/lib/middleware/validation.js
  packages/endpoint-posts/lib/utils.js
  packages/endpoint-posts/test/unit/utils.js
  packages/indiekit/config/defaults.js
  packages/indiekit/lib/post-types.js
  packages/indiekit/test/unit/post-types.js
  packages/indiekit/views/status.njk
  packages/preset-hugo/lib/post-types.js
  packages/preset-hugo/test/index.js
  packages/preset-hugo/test/unit/post-types.js
  packages/preset-jekyll/lib/post-types.js
  packages/preset-jekyll/test/index.js
  packages/preset-jekyll/test/unit/post-types.js
Due: prettier --write, xo

fix(util): validate that media item is url
  packages/util/lib/validation-schema.js
Due: prettier --write, xo

fix(frontend): remove any errors when cloning another item
  packages/frontend/components/add-another/index.js
Due: prettier --write, xo

fix: provide add another list in caller
  helpers/frontend/views/frontend-form.njk
  packages/endpoint-posts/includes/post-fields/audio.njk
  packages/endpoint-posts/includes/post-fields/photo.njk
  packages/endpoint-posts/includes/post-fields/video.njk
  packages/frontend/components/add-another/template.njk
Due: none

feat(frontend): update app icon
  packages/frontend/assets/app-icon.svg
  packages/frontend/assets/touch-icon.svg
  packages/frontend/index.js
  packages/frontend/layouts/default.njk
  packages/frontend/lib/app-icon.js
  packages/frontend/lib/touch-icon.js
Due: prettier --write, xo

feat(indiekit): update app icon
  packages/indiekit/lib/controllers/assets.js
  packages/indiekit/lib/controllers/manifest.js
  packages/indiekit/lib/routes.js
  packages/indiekit/test/integration/200-app-icon.js
Due: prettier --write, xo

refactor(frontend): simpler radio and checkbox styles
  helpers/frontend/views/frontend-form.njk
  packages/frontend/components/checkboxes/styles.css
  packages/frontend/components/radios/styles.css
Due: prettier --write, stylelint

refactor(frontend): simpler select styles
  packages/frontend/components/select/styles.css
Due: prettier --write, stylelint

docs: update readme
  README.md
Due: none

style: format jsconfig.json
  jsconfig.json
Due: none

chore: update dependencies
  package-lock.json
  packages/indiekit/package.json
Due: none

refactor: run validations based on presence in requiredFields
  docs/configuration/post-types.md
  packages/endpoint-posts/lib/middleware/validation.js
  packages/indiekit/config/defaults.js
  packages/indiekit/test/unit/post-types.js
  packages/util/lib/validation-schema.js
Due: prettier --write, xo

fix(endpoint-posts): index value in media post fields
  packages/endpoint-posts/includes/post-fields/audio.njk
  packages/endpoint-posts/includes/post-fields/photo.njk
  packages/endpoint-posts/includes/post-fields/video.njk
Due: none

docs: add h to post type config table
  docs/configuration/post-types.md
Due: none

feat(indiekit): default h value to entry
  indiekit.config.js
  packages/indiekit/config/defaults.js
  packages/indiekit/lib/post-types.js
Due: prettier --write, xo

docs: add discovery to post type config table
  docs/configuration/post-types.md
Due: none

refactor(indiekit): use keyed values for post type properties
  docs/configuration/post-types.md
  indiekit.config.js
  packages/endpoint-micropub/lib/config.js
  packages/endpoint-posts/includes/post-fields/bookmark-of.njk
  packages/endpoint-posts/includes/post-fields/category.njk
  packages/endpoint-posts/includes/post-fields/content.njk
  packages/endpoint-posts/includes/post-fields/geo.njk
  packages/endpoint-posts/includes/post-fields/in-reply-to.njk
  packages/endpoint-posts/includes/post-fields/like-of.njk
  packages/endpoint-posts/includes/post-fields/location.njk
  packages/endpoint-posts/includes/post-fields/name.njk
  packages/endpoint-posts/includes/post-fields/repost-of.njk
  packages/endpoint-posts/includes/post-fields/rsvp.njk
  packages/endpoint-posts/includes/post-fields/start.njk
  packages/endpoint-posts/includes/post-fields/summary.njk
  packages/endpoint-posts/lib/middleware/post-data.js
  packages/endpoint-posts/views/post-form.njk
  packages/indiekit/config/defaults.js
  packages/indiekit/lib/post-types.js
  packages/indiekit/test/unit/post-types.js
  packages/util/lib/validation-schema.js
Due: prettier --write, xo

fix(endpoint-micropub): discard items in posts collection that have no properties
  packages/endpoint-micropub/lib/controllers/query.js
Due: prettier --write, xo

fix(endpoint-micropub): log CRUD operations
  packages/endpoint-micropub/lib/post-content.js
  packages/endpoint-micropub/lib/post-data.js
Due: prettier --write, xo

chore: update dependencies
  package-lock.json
  package.json
  packages/indiekit/package.json
  packages/util/package.json
Due: none

test(util): use isValid method on ObjectId
  packages/util/test/unit/collection.js
Due: prettier --write, xo

test(database): export mongoUri
  helpers/database/index.js
Due: prettier --write, xo

refactor(indiekit): keyv cache
  package-lock.json
  packages/indiekit/index.js
  packages/indiekit/lib/cache.js
  packages/indiekit/lib/categories.js
  packages/indiekit/package.json
  packages/indiekit/test/unit/cache.js
  packages/indiekit/test/unit/categories.js
Due: prettier --write, xo

docs: stuck dependency reasons
  README.md
  package-lock.json
Due: none

fix(frontend): show full error name in notification banner
  packages/frontend/layouts/default.njk
Due: none

feat(indiekit): improve mongo connection error notifications
  helpers/database/index.js
  packages/indiekit/index.js
  packages/indiekit/lib/middleware/locals.js
  packages/indiekit/lib/mongodb.js
  packages/indiekit/test/unit/mongodb.js
Due: prettier --write, xo

docs: include database name in mongodb connection string
  docs/configuration/index.md
Due: none

feat(endpoint-micropub): log CRUD operations
  packages/endpoint-micropub/lib/post-content.js
  packages/endpoint-micropub/lib/post-data.js
Due: prettier --write, xo

feat(endpoint-media): log CRUD operations
  packages/endpoint-media/lib/media-content.js
  packages/endpoint-media/lib/media-data.js
Due: prettier --write, xo

fix(endpoint-micropub): discard items in posts collection without properties
  packages/endpoint-micropub/lib/controllers/query.js
Due: prettier --write, xo

feat(util): isDate
  packages/util/index.js
  packages/util/lib/date.js
  packages/util/test/unit/date.js
Due: prettier --write, xo

fix(endpoint-micropub): don’t decode date strings in query parameters
  packages/endpoint-micropub/lib/jf2.js
  packages/endpoint-micropub/lib/utils.js
  packages/endpoint-micropub/test/unit/utils.js
Due: prettier --write, xo

feat(indiekit): keep ‘indiekit’ as default database name
  docs/configuration/index.md
  packages/indiekit/index.js
Due: prettier --write, xo
