Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

feat(endpoint-media): media transformations
  indiekit.config.js
  package-lock.json
  packages/endpoint-media/README.md
  packages/endpoint-media/index.js
  packages/endpoint-media/lib/controllers/action.js
  packages/endpoint-media/lib/media-transform.js
  packages/endpoint-media/package.json
Due: prettier --write, xo

test: add post type with post count in paths
  indiekit.config.js
Due: prettier --write, xo

fix(endpoint-posts): hide image upload toolbar button for photo post type
  packages/endpoint-posts/includes/post-types/content-field.njk
Due: none

chore: update dependencies
  package-lock.json
Due: none

fix(frontend): resolve path to css imported from node_modules
  packages/frontend/lib/lightningcss.js
  packages/frontend/styles/vendor/codemirror.css
Due: prettier --write, xo, stylelint

v1.0.0-beta.11
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/frontend/CHANGELOG.md
  packages/frontend/package.json
  packages/indiekit/CHANGELOG.md
  packages/indiekit/package.json
Due: none

fix(frontend): header background colour in dark mode
  packages/frontend/components/header/styles.css
  packages/frontend/styles/config/custom-properties.css
Due: prettier --write, stylelint

feat(frontend): replace widont filter with text-wrap balance
  package-lock.json
  packages/frontend/components/heading/styles.css
  packages/frontend/components/heading/template.njk
  packages/frontend/lib/filters/index.js
  packages/frontend/package.json
Due: prettier --write, xo, stylelint

test: remove media store
  indiekit.config.js
Due: prettier --write, xo

fix(frontend): check for textarea character count before updating
  packages/frontend/components/textarea/index.js
Due: prettier --write, xo

feat(error): handle non-json response from fetch request
  packages/error/index.js
Due: prettier --write, xo

fix(frontend): resolve fetched error message in file upload component
  package-lock.json
  packages/frontend/components/file-input/index.js
  packages/frontend/package.json
Due: prettier --write, xo

fix(indiekit): correctly resolve media store fallback
  packages/indiekit/lib/store.js
  packages/indiekit/test/unit/store.js
Due: prettier --write, xo

chore: update dependencies
  package-lock.json
  packages/preset-jekyll/package.json
Due: none

docs: update typography, use system font
  docs/.vitepress/theme/custom.css
  docs/public/mona-sans.woff2
Due: prettier --write, stylelint

ci: lint web components
  eslint.config.js
  package-lock.json
  package.json
Due: prettier --write, xo

style(frontend): lint web components
  packages/frontend/components/add-another/index.js
  packages/frontend/components/character-count/index.js
  packages/frontend/components/checkboxes/index.js
  packages/frontend/components/event-duration/index.js
  packages/frontend/components/file-input/index.js
  packages/frontend/components/geo-input/index.js
  packages/frontend/components/radios/index.js
  packages/frontend/components/share-preview/index.js
  packages/frontend/components/tag-input/index.js
  packages/frontend/components/textarea/index.js
Due: prettier --write, xo

fix(endpoint-posts): resolve item photo
  packages/endpoint-posts/lib/controllers/posts.js
  packages/endpoint-posts/lib/utils.js
  packages/endpoint-posts/test/unit/utils.js
Due: prettier --write, xo

feat(post-type-audio): loosen audio field validation
  packages/post-type-audio/index.js
Due: prettier --write, xo

feat(post-type-photo): loosen photo field validation
  packages/post-type-photo/index.js
Due: prettier --write, xo

feat(post-type-video): loosen video field validation
  packages/post-type-video/index.js
Due: prettier --write, xo

fix(frontend): check for hint in tag input before insertion
  packages/frontend/components/tag-input/index.js
Due: prettier --write, xo

v1.0.0-beta.13
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/endpoint-posts/CHANGELOG.md
  packages/endpoint-posts/package.json
  packages/frontend/CHANGELOG.md
  packages/frontend/package.json
  packages/indiekit/CHANGELOG.md
  packages/indiekit/package.json
  packages/post-type-audio/CHANGELOG.md
  packages/post-type-audio/package.json
  packages/post-type-photo/CHANGELOG.md
  packages/post-type-photo/package.json
  packages/post-type-video/CHANGELOG.md
  packages/post-type-video/package.json
Due: none

feat(indiekit): independent micropub client [wip]
  packages/indiekit/lib/endpoint-discovery.js
  packages/indiekit/lib/indieauth.js
  packages/indiekit/locales/en.json
  packages/indiekit/views/session/login.njk
Due: prettier --write, xo

fix(endpoint-media): correctly remove original file extension
  packages/endpoint-media/lib/file.js
  packages/endpoint-media/test/unit/file.js
Due: prettier --write, xo

feat(frontend): create a new tag when comma key pressed
  packages/frontend/components/tag-input/index.js
Due: prettier --write, xo

feat(frontend): add sanitizer for tag input
  packages/frontend/components/tag-input/sanitizer.js
  packages/frontend/index.js
  packages/frontend/test/unit/components/tag-input.js
Due: prettier --write, xo

feat(endpoint-posts): sanitize tag input
  packages/endpoint-posts/index.js
  packages/endpoint-posts/lib/controllers/form.js
  packages/endpoint-posts/package.json
Due: prettier --write, xo

feat(frontend): recipe icon
  packages/frontend/lib/globals/icon.js
Due: prettier --write, xo

feat(post-type-recipe): wip
  indiekit.config.js
  package-lock.json
  packages/post-type-recipe/README.md
  packages/post-type-recipe/assets/icon.svg
  packages/post-type-recipe/includes/post-types/duration-field.njk
  packages/post-type-recipe/includes/post-types/duration.njk
  packages/post-type-recipe/includes/post-types/ingredient-field.njk
  packages/post-type-recipe/includes/post-types/ingredient.njk
  packages/post-type-recipe/includes/post-types/instructions-field.njk
  packages/post-type-recipe/includes/post-types/instructions.njk
  packages/post-type-recipe/includes/post-types/yield-field.njk
  packages/post-type-recipe/includes/post-types/yield.njk
  packages/post-type-recipe/index.js
  packages/post-type-recipe/locales/en.json
  packages/post-type-recipe/package.json
Due: prettier --write, xo

feat(frontend): use fixed min, not customisable max height for markdown editor
  packages/frontend/components/textarea/index.js
Due: prettier --write, xo

feat(endpoint-posts): remove editor height attributes
  packages/endpoint-posts/includes/post-types/content-field.njk
  packages/endpoint-posts/includes/post-types/summary-field.njk
Due: none

fix(frontend): style misspelt words in markdown editor
  packages/frontend/styles/vendor/codemirror.css
Due: prettier --write, stylelint

feat(frontend): increase font size of actions component
  packages/frontend/components/actions/styles.css
Due: prettier --write, stylelint

feat(frontend): move actions below heading
  packages/frontend/components/heading/styles.css
Due: prettier --write, stylelint

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  xo: any of: *.js
  stylelint: any of: *.css
