Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

style(frontend): lint css
  packages/frontend/components/card-grid/styles.css
  packages/frontend/styles/base/embedded.css
  packages/frontend/styles/utilities/visually-hidden.css
  packages/frontend/styles/vendor/easy-markdown-editor.css
Due: prettier --write, stylelint

chore: update dependencies
  package-lock.json
  package.json
  packages/frontend/package.json
  packages/indiekit/package.json
  packages/preset-eleventy/package.json
  packages/preset-hugo/package.json
  packages/preset-jekyll/package.json
  packages/syndicator-bluesky/package.json
  packages/util/package.json
Due: none

chore: update compiler target in jsconfig
  jsconfig.json
Due: none

style: lint jsdoc
  packages/create-indiekit/index.js
  packages/create-indiekit/lib/setup-prompts.js
  packages/endpoint-micropub/lib/config.js
  packages/endpoint-micropub/lib/utils.js
  packages/syndicator-bluesky/lib/bluesky.js
  packages/util/lib/object.js
Due: prettier --write, xo

chore: lint js
  packages/endpoint-media/test/unit/media-data.js
  packages/endpoint-micropub/lib/post-type-discovery.js
  packages/endpoint-micropub/test/unit/post-data.js
  packages/endpoint-posts/lib/controllers/new.js
  packages/endpoint-syndicate/lib/utils.js
  packages/endpoint-webmention-io/lib/controllers/webmentions.js
  packages/indiekit/lib/categories.js
  packages/indiekit/lib/post-template.js
  packages/preset-eleventy/test/unit/post-types.js
  packages/preset-hugo/test/unit/post-types.js
  packages/preset-jekyll/test/unit/post-types.js
Due: prettier --write, xo

feat(post-type-event): use nunjucks in operator
  packages/post-type-event/includes/post-types/start.njk
Due: none

feat(frontend): use built-in nunjucks operators
  packages/frontend/components/tag/template.njk
  packages/frontend/lib/filters/array.js
  packages/frontend/lib/filters/index.js
  packages/frontend/lib/filters/string.js
  packages/frontend/test/unit/filters/array.js
  packages/frontend/test/unit/filters/string.js
Due: prettier --write, xo

chore: update lerna dependency
  .prettierignore
  package-lock.json
  package.json
Due: none

feat(create-indiekit): update generated docker-compose.yml file
  packages/create-indiekit/lib/docker.js
  packages/create-indiekit/test/unit/docker.js
Due: prettier --write, xo

feat(create-indiekit): update generated .gitignore file
  packages/create-indiekit/files/template.gitignore
  packages/create-indiekit/test/unit/files.js
Due: prettier --write, xo

feat(create-indiekit): generate .env file for use with docker
  package-lock.json
  packages/create-indiekit/lib/docker.js
  packages/create-indiekit/lib/files.js
  packages/create-indiekit/package.json
  packages/create-indiekit/test/unit/docker.js
  packages/create-indiekit/test/unit/files.js
Due: prettier --write, xo

feat(create-indiekit): update generated README.md file
  packages/create-indiekit/lib/files.js
  packages/create-indiekit/test/unit/files.js
Due: prettier --write, xo

feat(indiekit): redirect to new password form if no password secret set
  packages/indiekit/lib/indieauth.js
  packages/indiekit/test/unit/indieauth.js
Due: prettier --write, xo

feat(store-s3): add setup prompts
  packages/store-s3/index.js
  packages/store-s3/test/index.js
Due: prettier --write, xo

feat(create-indiekit): add s3-compatible and bluesky to setup prompts
  packages/create-indiekit/lib/setup-prompts.js
Due: prettier --write, xo

feat(create-indiekit): update url validation setup prompt
  packages/create-indiekit/lib/setup-prompts.js
  packages/create-indiekit/test/unit/setup-prompts.js
Due: prettier --write, xo

feat(syndicator-bluesky): add setup prompts
  packages/syndicator-bluesky/index.js
  packages/syndicator-bluesky/test/index.js
Due: prettier --write, xo

feat(syndicator-mastodon): validate url setup prompt
  packages/syndicator-mastodon/index.js
Due: prettier --write, xo

chore: add dependabot config
  .github/dependabot.yml
Due: none

chore: update workflows
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
  .github/workflows/localazy-upload.yml
  .github/workflows/sponsors.yml
Due: none

chore: update dependencies
  package-lock.json
  packages/endpoint-micropub/package.json
  packages/endpoint-posts/package.json
Due: none

chore: update dependencies
  package-lock.json
  package.json
  packages/endpoint-micropub/package.json
  packages/endpoint-posts/package.json
Due: none

feat: add Brazilian Portuguese localisation from Bruno Pulis
  docs/configuration/localisation.md
  packages/endpoint-auth/locales/pt-BR.json
  packages/endpoint-files/locales/pt-BR.json
  packages/endpoint-posts/locales/pt-BR.json
  packages/endpoint-share/locales/pt-BR.json
  packages/endpoint-webmention-io/locales/pt-BR.json
  packages/error/locales/pt-BR.json
  packages/frontend/locales/pt-BR.json
  packages/indiekit/config/locales.js
  packages/indiekit/locales/pt-BR.json
  packages/post-type-audio/locales/pt-BR.json
  packages/post-type-bookmark/locales/pt-BR.json
  packages/post-type-event/locales/pt-BR.json
  packages/post-type-jam/locales/pt-BR.json
  packages/post-type-like/locales/pt-BR.json
  packages/post-type-photo/locales/pt-BR.json
  packages/post-type-reply/locales/pt-BR.json
  packages/post-type-repost/locales/pt-BR.json
  packages/post-type-rsvp/locales/pt-BR.json
  packages/post-type-video/locales/pt-BR.json
Due: prettier --write, xo

fix(indiekit): use correct locale for error validation strings. fixes #796
  packages/indiekit/lib/middleware/internationalisation.js
Due: prettier --write, xo

fix(indiekit): only return configured post types. fixes #795
  packages/indiekit/lib/post-types.js
Due: prettier --write, xo

fix(indiekit): only return configured post types. fixes #795
  packages/indiekit/lib/post-types.js
  packages/indiekit/test/unit/post-types.js
Due: prettier --write, xo

test: remove unnecessary option for testConfig helper
  packages/endpoint-media/test/unit/media-data.js
  packages/endpoint-micropub/test/unit/config.js
  packages/endpoint-micropub/test/unit/post-data.js
  packages/indiekit/test/unit/post-types.js
Due: prettier --write, xo

fix(syndicator-bluesky): handle empty content in post. fixes #790
  helpers/fixtures/jf2/photo-untitled.jf2
  packages/syndicator-bluesky/lib/utils.js
  packages/syndicator-bluesky/test/unit/utils.js
Due: prettier --write, xo

feat(syndicator-bluesky): compress images prior to uploading
  package-lock.json
  packages/syndicator-bluesky/lib/bluesky.js
  packages/syndicator-bluesky/lib/utils.js
  packages/syndicator-bluesky/package.json
  packages/syndicator-bluesky/test/unit/utils.js
Due: prettier --write, xo

chore: use test env for all test npm tasks
  package.json
Due: none

fix(endpoint-micropub): don’t update post if no properties have changed. fixes #747
  packages/endpoint-micropub/lib/post-data.js
  packages/endpoint-micropub/test/unit/post-data.js
Due: prettier --write, xo

chore: update sponsors
  README.md
  docs/sponsors.md
Due: none

chore: update dependencies
  package-lock.json
Due: none

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  xo: any of: *.js
  stylelint: any of: *.css
