Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

fix(post-type-event): add missing conditional for end property
  packages/post-type-event/includes/post-types/start.njk
Due: none

docs: token permissions required by GitHub content store
  docs/plugins/stores.md
  docs/public/github-token-permissions-for-github-content-store.png
Due: none

feat(create-indiekit): add config to debug Indiekit in VS Code
  package.json
  packages/create-indiekit/files/template.vscode_launch.json
  packages/create-indiekit/lib/files.js
  packages/create-indiekit/package.json
  packages/create-indiekit/test/unit/files.js
Due: prettier --write, xo

feat(frontend): use esbuild for bundling
  .gitignore
  package-lock.json
  packages/frontend/bundles.js
  packages/frontend/compile-templates.js
  packages/frontend/components/heading/template.njk
  packages/frontend/index.js
  packages/frontend/lib/lightningcss.js
  packages/frontend/lib/rollup.js
  packages/frontend/package.json
  packages/frontend/styles/vendor/codemirror.css
Due: prettier --write, xo, stylelint

test(frontend): add layout to test individual frontend components
  packages/frontend/layouts/test.njk
Due: none

chore: setup developer environment with devenv
  .gitignore
  devenv.lock
  devenv.nix
  devenv.yaml
Due: none

Update Hugo preset link in concepts.md
  docs/concepts.md
Due: none

docs: update hugo preset link in concepts.md
  docs/concepts.md
Due: none

chore: update dependencies
  package-lock.json
  packages/create-indiekit/package.json
  packages/preset-eleventy/package.json
  packages/preset-hugo/package.json
  packages/preset-jekyll/package.json
  packages/store-gitlab/package.json
Due: none

chore: pin eslint dependency to 9.14.0
  package-lock.json
  package.json
Due: none

fix(frontend): show optional text on checkboxes fieldset
  packages/frontend/components/checkboxes/template.njk
Due: none

fix(util): date-fns tz function doesn’t accept ‘Z’ time zone designator
  packages/util/lib/date.js
  packages/util/test/unit/date.js
Due: prettier --write, xo

feat(endpoint-micropub): channels
  packages/endpoint-micropub/lib/config.js
  packages/endpoint-micropub/lib/controllers/query.js
  packages/endpoint-micropub/lib/jf2.js
  packages/endpoint-micropub/lib/post-data.js
  packages/endpoint-micropub/lib/utils.js
  packages/endpoint-micropub/test/unit/jf2.js
  packages/endpoint-micropub/test/unit/utils.js
Due: prettier --write, xo

ci: add channels to config
  indiekit.config.js
Due: prettier --write, xo

feat(indiekit): channels
  packages/indiekit/config/defaults.js
  packages/indiekit/locales/de.json
  packages/indiekit/locales/en.json
  packages/indiekit/locales/es-419.json
  packages/indiekit/locales/es.json
  packages/indiekit/locales/fr.json
  packages/indiekit/locales/hi.json
  packages/indiekit/locales/id.json
  packages/indiekit/locales/nl.json
  packages/indiekit/locales/pl.json
  packages/indiekit/locales/pt.json
  packages/indiekit/locales/sr.json
  packages/indiekit/locales/sv.json
  packages/indiekit/locales/zh-Hans-CN.json
  packages/indiekit/views/status.njk
Due: prettier --write, xo

feat(endpoint-posts): channels
  packages/endpoint-posts/includes/post-types/mp-channel.njk
  packages/endpoint-posts/lib/middleware/post-data.js
  packages/endpoint-posts/lib/utils.js
  packages/endpoint-posts/locales/de.json
  packages/endpoint-posts/locales/en.json
  packages/endpoint-posts/locales/es-419.json
  packages/endpoint-posts/locales/es.json
  packages/endpoint-posts/locales/fr.json
  packages/endpoint-posts/locales/hi.json
  packages/endpoint-posts/locales/id.json
  packages/endpoint-posts/locales/nl.json
  packages/endpoint-posts/locales/pl.json
  packages/endpoint-posts/locales/pt.json
  packages/endpoint-posts/locales/sr.json
  packages/endpoint-posts/locales/sv.json
  packages/endpoint-posts/locales/zh-Hans-CN.json
  packages/endpoint-posts/test/unit/utils.js
  packages/endpoint-posts/views/post-form.njk
Due: prettier --write, xo

docs: channels
  docs/configuration/publication.md
  docs/configuration/tokens.md
  docs/specifications.md
Due: none

feat(util): sha1 hash
  packages/util/index.js
  packages/util/lib/string.js
  packages/util/test/unit/string.js
Due: prettier --write, xo

fix(indiekit): faster algorithm for asset hashes
  package-lock.json
  packages/indiekit/lib/middleware/locals.js
  packages/indiekit/package.json
Due: prettier --write, xo

style(frontend): align lightningcss with esbuild config
  packages/frontend/lib/lightningcss.js
Due: prettier --write, xo

feat(frontend): replace rollup with esbuild
  package-lock.json
  package.json
  packages/frontend/index.js
  packages/frontend/lib/esbuild.js
  packages/frontend/lib/rollup.js
  packages/frontend/package.json
Due: prettier --write, xo

ci: remove optional dependencies
  package-lock.json
  package.json
Due: none

docs: use friendlier npm install command instead of npm i
  packages/endpoint-auth/README.md
  packages/endpoint-files/README.md
  packages/endpoint-image/README.md
  packages/endpoint-json-feed/README.md
  packages/endpoint-media/README.md
  packages/endpoint-micropub/README.md
  packages/endpoint-posts/README.md
  packages/endpoint-share/README.md
  packages/endpoint-syndicate/README.md
  packages/error/README.md
  packages/frontend/README.md
  packages/indiekit/README.md
  packages/post-type-article/README.md
  packages/post-type-audio/README.md
  packages/post-type-bookmark/README.md
  packages/post-type-event/README.md
  packages/post-type-jam/README.md
  packages/post-type-like/README.md
  packages/post-type-note/README.md
  packages/post-type-photo/README.md
  packages/post-type-reply/README.md
  packages/post-type-repost/README.md
  packages/post-type-rsvp/README.md
  packages/post-type-video/README.md
  packages/preset-eleventy/README.md
  packages/preset-hugo/README.md
  packages/preset-jekyll/README.md
  packages/store-bitbucket/README.md
  packages/store-file-system/README.md
  packages/store-ftp/README.md
  packages/store-gitea/README.md
  packages/store-github/README.md
  packages/store-gitlab/README.md
  packages/store-s3/README.md
  packages/syndicator-internet-archive/README.md
  packages/syndicator-mastodon/README.md
  packages/util/README.md
Due: none

docs: move api documentation to top-level
  README.md
  docs/.vitepress/config.js
  docs/api/add-endpoint.md
  docs/api/add-post-type.md
  docs/api/add-preset.md
  docs/api/add-store.md
  docs/api/add-syndicator.md
  docs/api/error.md
  docs/api/index.md
  docs/configuration/publication.md
  docs/contributing.md
  docs/get-started.md
Due: prettier --write, xo

docs: note if package is pre-installed alongside core package
  packages/endpoint-auth/README.md
  packages/endpoint-files/README.md
  packages/endpoint-image/README.md
  packages/endpoint-media/README.md
  packages/endpoint-micropub/README.md
  packages/endpoint-posts/README.md
  packages/endpoint-share/README.md
  packages/endpoint-syndicate/README.md
  packages/error/README.md
  packages/frontend/README.md
  packages/post-type-article/README.md
  packages/post-type-bookmark/README.md
  packages/post-type-like/README.md
  packages/post-type-note/README.md
  packages/post-type-photo/README.md
  packages/post-type-reply/README.md
  packages/preset-jekyll/README.md
  packages/util/README.md
Due: none

docs: update readmes for pre-installed plug-ins
  packages/endpoint-auth/README.md
  packages/endpoint-files/README.md
  packages/endpoint-image/README.md
  packages/endpoint-media/README.md
  packages/endpoint-micropub/README.md
  packages/endpoint-posts/README.md
  packages/endpoint-share/README.md
  packages/endpoint-syndicate/README.md
  packages/post-type-article/README.md
  packages/post-type-bookmark/README.md
  packages/post-type-like/README.md
  packages/post-type-note/README.md
  packages/post-type-photo/README.md
  packages/post-type-reply/README.md
Due: none

docs: show requirements for plug-ins that require access tokens and keys
  packages/store-bitbucket/README.md
  packages/store-ftp/README.md
  packages/store-gitea/README.md
  packages/store-github/README.md
  packages/store-gitlab/README.md
  packages/store-s3/README.md
  packages/syndicator-internet-archive/README.md
  packages/syndicator-mastodon/README.md
Due: none

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  xo: any of: *.js
  stylelint: any of: *.css
