Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

fix(frontend): prevent re-cloning of file picker in file input
  packages/frontend/components/file-input/index.js
  packages/frontend/components/file-input/template.njk
Due: prettier --write, xo

feat(indiekit): use compression on responses
  package-lock.json
  packages/indiekit/config/express.js
  packages/indiekit/package.json
Due: prettier --write, xo

feat(frontend): minify javascript bundle
  package-lock.json
  packages/frontend/lib/rollup.js
  packages/frontend/package.json
Due: prettier --write, xo

feat(frontend): swap in webfont when loaded
  packages/frontend/styles/config/font-face.css
Due: prettier --write, stylelint

feat(indiekit): don’t send x-powered-by header
  packages/indiekit/config/express.js
Due: prettier --write, xo

feat(indiekit): fingerprint and immutably caching for css and js assets
  package-lock.json
  packages/indiekit/lib/controllers/assets.js
  packages/indiekit/lib/middleware/locals.js
  packages/indiekit/lib/routes.js
  packages/indiekit/package.json
Due: prettier --write, xo

feat(frontend): use application css and js paths
  packages/frontend/layouts/default.njk
  packages/indiekit/lib/middleware/locals.js
  packages/indiekit/test/integration/200-scripts.js
  packages/indiekit/test/integration/200-styles.js
Due: prettier --write, xo

feat(indiekit): set 7 day cache on static assets
  packages/indiekit/lib/routes.js
Due: prettier --write, xo

feat(indiekit): set 7 day cache on web manifest
  packages/indiekit/lib/controllers/manifest.js
Due: prettier --write, xo

style(frontend): correct typos
  packages/frontend/styles/config/custom-properties.css
Due: prettier --write, stylelint

feat(frontend): bundle javascript as es module
  packages/frontend/lib/rollup.js
Due: prettier --write, xo

chore: update dependencies
  package-lock.json
  package.json
Due: none

style(endpoint-micropub): use named import from node:util
  packages/endpoint-micropub/lib/post-data.js
Due: prettier --write, xo

chore: update date-fns and date-fns-tz dependencies
  README.md
  package-lock.json
  package.json
  packages/endpoint-media/lib/utils.js
  packages/endpoint-micropub/lib/utils.js
  packages/util/lib/date.js
  packages/util/package.json
  packages/util/test/unit/date.js
Due: prettier --write, xo

test(indiekit): hide console.error output
  packages/indiekit/test/unit/categories.js
Due: prettier --write, xo

chore: update eslint dependency and use flat config
  .eslintrc.json
  docs/.vitepress/config.js
  docs/.vitepress/theme/index.js
  eslint.config.js
  helpers/frontend/index.js
  package-lock.json
  package.json
  packages/endpoint-auth/index.js
  packages/endpoint-files/index.js
  packages/endpoint-image/index.js
  packages/endpoint-json-feed/index.js
  packages/endpoint-media/index.js
  packages/endpoint-media/lib/utils.js
  packages/endpoint-micropub/index.js
  packages/endpoint-micropub/lib/utils.js
  packages/endpoint-posts/index.js
  packages/endpoint-share/index.js
  packages/endpoint-syndicate/index.js
  packages/frontend/components/file-input/index.js
  packages/indiekit/lib/routes.js
  packages/store-file-system/test/index.js
Due: prettier --write, xo

fix(indiekit): add conditional for error cause message
  packages/indiekit/lib/middleware/error.js
Due: prettier --write, xo

feat(indiekit): configure separate media store for a publication
  indiekit.config.js
  packages/indiekit/config/defaults.js
  packages/indiekit/index.js
  packages/indiekit/lib/plugins.js
  packages/indiekit/lib/store.js
  packages/indiekit/locales/de.json
  packages/indiekit/locales/en.json
  packages/indiekit/locales/es-419.json
  packages/indiekit/locales/es.json
  packages/indiekit/locales/fr.json
  packages/indiekit/locales/id.json
  packages/indiekit/locales/nl.json
  packages/indiekit/locales/pl.json
  packages/indiekit/locales/pt.json
  packages/indiekit/locales/sr.json
  packages/indiekit/locales/sv.json
  packages/indiekit/locales/zh-Hans-CN.json
  packages/indiekit/test/index.js
  packages/indiekit/test/unit/plugins.js
  packages/indiekit/test/unit/store.js
  packages/indiekit/views/status.njk
Due: prettier --write, xo

test: update store tests
  packages/store-bitbucket/test/index.js
  packages/store-file-system/test/index.js
  packages/store-ftp/test/index.js
  packages/store-gitea/test/index.js
  packages/store-github/test/index.js
  packages/store-gitlab/test/index.js
  packages/store-s3/test/index.js
Due: prettier --write, xo

feat(endpoint-media): use publication’s media store
  helpers/publication/index.js
  packages/endpoint-media/lib/media-content.js
Due: prettier --write, xo

docs: add store and mediaStore publication options
  docs/configuration/index.md
  docs/configuration/publication.md
Due: none

fix(indiekit): update swedish localisation strings
  packages/indiekit/locales/sv.json
Due: none

feat(endpoint-posts): use markdown editor for content and summary fields
  indiekit.config.js
  packages/endpoint-posts/includes/post-types/content-field.njk
  packages/endpoint-posts/includes/post-types/summary-field.njk
Due: prettier --write, xo

feat(frontend): disable character-count component
  packages/frontend/layouts/default.njk
  packages/frontend/scripts/app.js
Due: prettier --write, xo

feat(frontend): remove web font
  packages/frontend/assets/mona-sans.woff2
  packages/frontend/layouts/default.njk
  packages/frontend/styles/app.css
  packages/frontend/styles/config/custom-properties.css
  packages/frontend/styles/config/font-face.css
Due: prettier --write, stylelint

feat(frontend): add easy-markdown-editor
  helpers/frontend/views/frontend-form.njk
  package-lock.json
  packages/frontend/components/textarea/index.js
  packages/frontend/components/textarea/styles.css
  packages/frontend/lib/utils/debounce.js
  packages/frontend/package.json
  packages/frontend/styles/app.css
  packages/frontend/styles/base/sections.css
  packages/frontend/styles/config/custom-properties.css
  packages/frontend/styles/vendor/codemirror.css
  packages/frontend/styles/vendor/easy-markdown-editor.css
  packages/frontend/styles/vendor/markdown-it-prism.css
Due: prettier --write, xo, stylelint

feat(frontend): disable character-count component
  helpers/frontend/views/frontend-form.njk
Due: none

feat(frontend): update borders on block pagination
  packages/frontend/components/pagination/styles.css
Due: prettier --write, stylelint

style(frontend): shorthand border property order
  packages/frontend/components/summary/styles.css
Due: prettier --write, stylelint

feat(frontend): sticky glass header
  packages/frontend/components/app/styles.css
  packages/frontend/components/footer/styles.css
  packages/frontend/components/header/styles.css
  packages/frontend/styles/config/custom-properties.css
Due: prettier --write, stylelint

feat(frontend): add hairline border to full screen editor toolbar
  packages/frontend/styles/vendor/easy-markdown-editor.css
Due: prettier --write, stylelint

feat(indiekit): expire session cookie after 7 days
  packages/indiekit/config/defaults.js
Due: prettier --write, xo

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  xo: any of: *.js
  stylelint: any of: *.css
