Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

.lintstagedrc.json:

{
  "*.js": [
    "prettier --write",
    "xo"
  ],
  "*.css": [
    "prettier --write",
    "stylelint"
  ]
}

fix(endpoint-micropub): delete content from store
  packages/endpoint-micropub/lib/post-content.js
  packages/endpoint-micropub/tests/unit/post-content.js
Due: prettier --write, xo

refactor(store-ftp): use ssh2-sftp-client
  package-lock.json
  package.json
  packages/store-ftp/index.js
  packages/store-ftp/package.json
  packages/store-ftp/tests/index.js
Due: prettier --write, xo

style: shorter store test names
  packages/store-bitbucket/index.js
  packages/store-bitbucket/tests/index.js
  packages/store-file-system/index.js
  packages/store-file-system/tests/index.js
  packages/store-gitea/index.js
  packages/store-gitea/tests/index.js
  packages/store-github/index.js
  packages/store-github/tests/index.js
  packages/store-gitlab/index.js
  packages/store-gitlab/tests/index.js
Due: prettier --write, xo

chore: update dependencies
  package-lock.json
  packages/indiekit/package.json
  packages/util/package.json
Due: none

fix(store-gitlab): correct uid when projectId credentials
  packages/store-gitlab/index.js
Due: prettier --write, xo

style: filePath variable for store plug-ins
  docs/plugins/api/add-store.md
  packages/store-bitbucket/index.js
  packages/store-gitea/index.js
  packages/store-github/index.js
  packages/store-gitlab/index.js
Due: prettier --write, xo

style: consistent store plug-in syntax
  packages/store-bitbucket/index.js
  packages/store-gitea/index.js
  packages/store-github/index.js
  packages/store-gitlab/index.js
Due: prettier --write, xo

feat(store-github): return url for createFile and updateFile
  helpers/mock-agent/store-github.js
  packages/store-github/index.js
  packages/store-github/tests/index.js
Due: prettier --write, xo

docs: update addStore api
  docs/plugins/api/add-store.md
Due: none

feat(store-bitbucket): return url for createFile and updateFile
  packages/store-bitbucket/index.js
  packages/store-bitbucket/tests/index.js
Due: prettier --write, xo

feat(store-gitlab): return url for createFile and updateFile
  helpers/mock-agent/store-gitlab.js
  packages/store-gitlab/index.js
  packages/store-gitlab/tests/index.js
Due: prettier --write, xo

feat(store-gitea): return url for createFile and updateFile
  helpers/mock-agent/store-gitea.js
  packages/store-gitea/index.js
  packages/store-gitea/tests/index.js
Due: prettier --write, xo

feat(store-file-system): return url for createFile and updateFile
  packages/store-file-system/index.js
  packages/store-file-system/tests/index.js
Due: prettier --write, xo

feat(store-ftp): return url for createFile and updateFile
  packages/store-ftp/index.js
  packages/store-ftp/tests/index.js
Due: prettier --write, xo

chore: update dependencies
  package-lock.json
  package.json
  packages/indiekit/package.json
Due: none

style: use properties constant name
  packages/endpoint-files/lib/controllers/delete.js
  packages/endpoint-files/lib/middleware/file-data.js
  packages/endpoint-files/lib/utils.js
  packages/endpoint-files/views/file.njk
  packages/endpoint-posts/lib/controllers/delete.js
  packages/endpoint-posts/lib/controllers/form.js
  packages/endpoint-posts/lib/controllers/post.js
  packages/endpoint-posts/lib/middleware/post-data.js
  packages/endpoint-posts/lib/utils.js
  packages/endpoint-posts/views/post-form.njk
  packages/endpoint-posts/views/post.njk
  packages/frontend/lib/globals/field-data.js
  packages/frontend/tests/unit/globals/field-data.js
Due: prettier --write, xo

chore: update dependencies
  package-lock.json
  packages/endpoint-auth/package.json
  packages/frontend/lib/rollup.js
  packages/frontend/package.json
Due: prettier --write, xo

refactor(frontend): use lightningcss directly
  package-lock.json
  packages/frontend/index.js
  packages/frontend/lib/lightningcss.js
  packages/frontend/lib/postcss.js
  packages/frontend/package.json
  packages/frontend/styles/app.css
Due: prettier --write, xo, stylelint

docs: fix custom theme to support recent vitepress changes
  docs/.vitepress/theme/custom.css
  docs/.vitepress/theme/font.css
  docs/.vitepress/theme/index.js
Due: prettier --write, xo, stylelint

docs: use titlecase for custom block headings
  docs/.vitepress/config.js
Due: prettier --write, xo

refactor(frontend): use background colour for checkboxes and radio buttons
  packages/frontend/components/checkboxes/styles.css
  packages/frontend/components/radios/styles.css
Due: prettier --write, stylelint

refactor(frontend): decrease default fieldset flow space
  packages/frontend/components/field/styles.css
Due: prettier --write, stylelint

refactor(endpoint-files): use details component for properties
  packages/endpoint-files/views/file.njk
Due: none

refactor(endpoint-posts): use details component for properties
  packages/endpoint-posts/views/post.njk
Due: none

refactor(frontend): adjust design of details component
  packages/frontend/components/details/styles.css
  packages/frontend/components/notification/styles.css
Due: prettier --write, stylelint

feat(endpoint-media): add uid to media properties
  packages/endpoint-media/lib/controllers/query.js
  packages/endpoint-media/lib/utils.js
  packages/endpoint-media/tests/integration/200-query-source.js
Due: prettier --write, xo

feat(endpoint-micropub): add uid to post properties
  packages/endpoint-micropub/lib/controllers/query.js
  packages/endpoint-micropub/lib/mf2.js
  packages/endpoint-micropub/tests/unit/mf2.js
  packages/endpoint-posts/lib/controllers/form.js
Due: prettier --write, xo

chore: downgrade mongodb-memory-server dependency
  package-lock.json
  package.json
Due: none

fix(frontend): fix css nesting
  packages/frontend/components/authorize/styles.css
  packages/frontend/components/back-link/styles.css
  packages/frontend/components/checkboxes/styles.css
  packages/frontend/components/pagination/styles.css
  packages/frontend/components/radios/styles.css
Due: prettier --write, stylelint
