Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

.lintstagedrc.json:

{
  "*.js": [
    "prettier --write",
    "xo"
  ],
  "*.css": [
    "prettier --write",
    "stylelint"
  ]
}

docs: remove twitter metajunk
  docs/.vitepress/config.js
Due: prettier --write, xo

feat(create-indiekit): remove twitter from syndicator options
  package-lock.json
  packages/create-indiekit/lib/setup-prompts.js
  packages/create-indiekit/package.json
Due: prettier --write, xo

test: remove twitter from sandbox test config
  docs/contributing.md
  indiekit.config.js
Due: prettier --write, xo

docs: update contributing guide
  docs/contributing.md
Due: none

docs: update plugins option example
  docs/configuration/index.md
Due: none

docs: fix links in api docs
  docs/plugins/api/.plugin-constructor.md
  docs/plugins/api/add-endpoint.md
  docs/plugins/api/add-syndicator.md
  docs/plugins/api/error.md
Due: none

docs: use new note syntax
  README.md
Due: none

style: lint css
  docs/.vitepress/theme/custom.css
  docs/.vitepress/theme/font.css
  packages/frontend/components/select/styles.css
  packages/frontend/styles/config/font-face.css
Due: prettier --write, stylelint

test(endpoint-media): remove unused mock agent
  packages/endpoint-media/tests/integration/403-action-upload-insufficient-scope.js
Due: prettier --write, xo

test(endpoint-media): correct comment typos
  packages/endpoint-media/tests/integration/202-action-delete.js
Due: prettier --write, xo

test(endpoint-media): source query items
  packages/endpoint-media/tests/integration/200-query-source.js
Due: prettier --write, xo

refactor(frontend): set explicit value for words
  packages/frontend/lib/filters/string.js
Due: prettier --write, xo

refactor(endpoint-files): remove unnecessary try/catch
  packages/endpoint-files/lib/controllers/file.js
Due: prettier --write, xo

test(endpoint-files): error response deleting file
  helpers/mock-agent/endpoint-files.js
  packages/endpoint-files/tests/integration/401-post-delete-unauthorized.js
Due: prettier --write, xo

style: always hyphenate plug-in
  packages/create-indiekit/lib/utils.js
  packages/indiekit/tests/integration/200-plugin-list.js
  packages/indiekit/tests/integration/200-plugin-view.js
  packages/indiekit/tests/unit/navigation.js
  packages/store-bitbucket/index.js
  packages/store-ftp/index.js
  packages/store-gitea/index.js
  packages/store-github/index.js
  packages/store-gitlab/index.js
  packages/syndicator-internet-archive/index.js
  packages/syndicator-mastodon/index.js
Due: prettier --write, xo

fix(indiekit): always return a status code to template
  packages/indiekit/lib/middleware/error.js
Due: prettier --write, xo

feat(store-github): provide environment variables
  packages/store-github/index.js
  packages/store-github/tests/index.js
Due: prettier --write, xo

feat(syndicator-internet-archive): provide environment variables
  packages/syndicator-internet-archive/index.js
  packages/syndicator-internet-archive/tests/index.js
Due: prettier --write, xo

feat(store-bitbucket): provide environment variables
  packages/store-bitbucket/index.js
  packages/store-bitbucket/tests/index.js
Due: prettier --write, xo

feat(syndicator-mastodon): provide environment variables
  packages/syndicator-mastodon/index.js
  packages/syndicator-mastodon/tests/index.js
Due: prettier --write, xo

feat(store-ftp): provide environment variables
  packages/store-ftp/index.js
  packages/store-ftp/tests/index.js
Due: prettier --write, xo

feat(store-gitea): provide environment variables
  packages/store-gitea/index.js
  packages/store-gitea/tests/index.js
Due: prettier --write, xo

feat(store-gitlab): provide environment variables
  packages/store-gitlab/index.js
  packages/store-gitlab/tests/index.js
Due: prettier --write, xo

refactor(create-indiekit): package values
  docs/get-started.md
  packages/create-indiekit/index.js
  packages/create-indiekit/lib/package.js
  packages/create-indiekit/lib/utils.js
  packages/create-indiekit/tests/unit/package.js
  packages/create-indiekit/tests/unit/utils.js
Due: prettier --write, xo

refactor(create-indiekit): file generation
  packages/create-indiekit/files/template.gitignore
  packages/create-indiekit/index.js
  packages/create-indiekit/lib/files.js
  packages/create-indiekit/package.json
  packages/create-indiekit/tests/unit/files.js
Due: prettier --write, xo

feat(create-indiekit): add option to generate docker files
  docs/get-started.md
  package-lock.json
  packages/create-indiekit/files/template.dockerfile
  packages/create-indiekit/files/template.dockerignore
  packages/create-indiekit/lib/docker.js
  packages/create-indiekit/lib/files.js
  packages/create-indiekit/lib/setup-prompts.js
  packages/create-indiekit/package.json
  packages/create-indiekit/tests/unit/docker.js
  packages/create-indiekit/tests/unit/files.js
Due: prettier --write, xo

chore: update dependencies
  package-lock.json
Due: none

chore: remove unused mock agent
  helpers/mock-agent/syndicator-twitter.js
Due: prettier --write, xo

docs: add sitemap.xml
  docs/.vitepress/config.js
Due: prettier --write, xo
