Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

.lintstagedrc.json:

{
  "*.js": [
    "prettier --write",
    "xo"
  ],
  "*.css": [
    "prettier --write",
    "stylelint"
  ]
}

chore: update dependencies
  package-lock.json
  package.json
  packages/create-indiekit/package.json
  packages/preset-hugo/package.json
  packages/preset-jekyll/package.json
Due: none

feat(indiekit): translate plug-in options heading
  packages/indiekit/locales/de.json
  packages/indiekit/locales/en.json
  packages/indiekit/locales/es-419.json
  packages/indiekit/locales/es.json
  packages/indiekit/locales/fr.json
  packages/indiekit/locales/id.json
  packages/indiekit/locales/nl.json
  packages/indiekit/locales/pl.json
  packages/indiekit/locales/pt.json
  packages/indiekit/locales/sr.json
  packages/indiekit/locales/sv.json
  packages/indiekit/locales/zh-Hans-CN.json
  packages/indiekit/views/plugins/view.njk
Due: none

fix(post-type-like): update swedish localisation
  packages/post-type-like/locales/sv.json
Due: none

fix(endpoint-micropub): don’t send post-type property to template
  packages/endpoint-micropub/lib/utils.js
Due: prettier --write, xo

feat(frontend): allow radios to be marked as optional
  packages/frontend/components/radios/template.njk
Due: none

feat(endpoint-posts): make visibility optional
  packages/endpoint-posts/views/post-form.njk
Due: none

docs: fix typos in addPostType api docs
  docs/plugins/api/add-post-type.md
Due: none

docs: fix typos
  docs/concepts.md
  docs/configuration/commit-messages.md
  docs/configuration/post-template.md
Due: none

docs: remove notes about new post type plug-ins feature
  docs/plugins/api/add-post-type.md
  docs/plugins/post-types.md
Due: none

docs: reorganise and update configuration options
  docs/.vitepress/config.js
  docs/configuration/.option-contains-secrets.md
  docs/configuration/.plugin-secrets.md
  docs/configuration/application.md
  docs/configuration/index.md
  docs/configuration/post-types.md
  docs/configuration/publication.md
  docs/configuration/tokens.md
Due: prettier --write, xo

feat(endpoint-media): update link to documentation
  packages/endpoint-media/lib/media-type-count.js
Due: prettier --write, xo

feat(endpoint-micropub): update link to documentation
  packages/endpoint-micropub/lib/post-type-count.js
Due: prettier --write, xo

feat(indiekit): update link to documentation
  packages/indiekit/index.js
Due: prettier --write, xo

chore: update dependencies
  package-lock.json
Due: none

refactor: use ipx for image resizing
  package-lock.json
  packages/endpoint-image/index.js
  packages/endpoint-image/lib/adapter.js
  packages/endpoint-image/lib/middleware/cache.js
  packages/endpoint-image/package.json
  packages/endpoint-image/test/unit/adapter.js
  packages/endpoint-image/test/unit/middleware/cache.js
  packages/frontend/components/card/template.njk
  packages/frontend/lib/filters/url.js
  packages/frontend/test/unit/filters/url.js
Due: prettier --write, xo

fix(frontend): use em-based sizing for checkboxes and radios
  packages/frontend/components/checkboxes/styles.css
  packages/frontend/components/radios/styles.css
Due: prettier --write, stylelint

feat(preset-eleventy): eleventy preset
  indiekit.config.js
  package-lock.json
  packages/preset-eleventy/README.md
  packages/preset-eleventy/assets/icon.svg
  packages/preset-eleventy/index.js
  packages/preset-eleventy/lib/post-template.js
  packages/preset-eleventy/lib/post-types.js
  packages/preset-eleventy/package.json
  packages/preset-eleventy/test/index.js
  packages/preset-eleventy/test/unit/post-template.js
  packages/preset-eleventy/test/unit/post-types.js
Due: prettier --write, xo

docs: add eleventy preset plug-in
  docs/plugins/presets.md
Due: none

v1.0.0-beta.9
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/endpoint-image/CHANGELOG.md
  packages/endpoint-image/package.json
  packages/frontend/CHANGELOG.md
  packages/frontend/package.json
  packages/indiekit/CHANGELOG.md
  packages/indiekit/package.json
  packages/preset-eleventy/CHANGELOG.md
  packages/preset-eleventy/package.json
Due: none

docs: add eleventy to readme
  README.md
Due: none

feat(syndicator-internet-archive): return configuration errors
  packages/syndicator-internet-archive/index.js
  packages/syndicator-internet-archive/test/index.js
Due: prettier --write, xo

feat(syndicator-mastodon): return configuration errors
  packages/syndicator-mastodon/index.js
  packages/syndicator-mastodon/test/index.js
Due: prettier --write, xo

feat(endpoint-posts): show syndication target error
  packages/endpoint-posts/lib/utils.js
  packages/endpoint-posts/test/unit/utils.js
Due: prettier --write, xo

docs: add syndicator error property
  docs/plugins/api/add-syndicator.md
Due: none
