Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

feat(endpoint-files): add back link to file upload page
  packages/endpoint-files/lib/controllers/form.js
Due: prettier --write, xo

feat(frontend): action-table component
  helpers/frontend/views/frontend-components.njk
  package-lock.json
  packages/frontend/components/action-table/macro.njk
  packages/frontend/components/action-table/styles.css
  packages/frontend/components/action-table/template.njk
  packages/frontend/layouts/default.njk
  packages/frontend/package.json
  packages/frontend/scripts/app.js
  packages/frontend/styles/app.css
Due: prettier --write, xo, stylelint

feat(indiekit): use action-table to list installed plug-ins
  packages/indiekit/lib/controllers/plugin.js
  packages/indiekit/views/plugins/list.njk
Due: prettier --write, xo

feat(frontend): use fixed min, not customisable max height for markdown editor
  packages/frontend/components/textarea/index.js
Due: prettier --write, xo

feat(endpoint-posts): remove editor height attributes
  packages/endpoint-posts/includes/post-types/content-field.njk
  packages/endpoint-posts/includes/post-types/summary-field.njk
Due: none

feat(frontend): increase font size of actions component
  packages/frontend/components/actions/styles.css
Due: prettier --write, stylelint

chore: update dependencies
  package-lock.json
Due: none

fix(frontend): style misspelt words in markdown editor
  packages/frontend/styles/vendor/codemirror.css
Due: prettier --write, stylelint

feat(frontend): move actions below heading
  packages/frontend/components/heading/styles.css
Due: prettier --write, stylelint

style(store-gitea): throw error in client
  packages/store-gitea/index.js
Due: prettier --write, xo

docs: fix font stretch on homepage heading
  docs/.vitepress/theme/custom.css
Due: prettier --write, stylelint

style(store-github): order of params
  packages/store-github/index.js
Due: prettier --write, xo

feat(endpoint-posts): always hide advanced options when creating new post
  packages/endpoint-posts/lib/middleware/post-data.js
Due: prettier --write, xo

fix(frontend): svg icons with titles should be focusable
  packages/frontend/lib/globals/icon.js
Due: prettier --write, xo

feat(frontend): add icon option to warning component
  packages/frontend/components/warning-text/template.njk
Due: none

fix(indiekit): remove database requirement check from shortcuts
  packages/indiekit/lib/shortcuts.js
Due: prettier --write, xo

refactor(indiekit): use getShortcuts helper in manifest
  packages/indiekit/lib/controllers/manifest.js
Due: prettier --write, xo

refactor(frontend): prepend css and js paths with application url
  packages/frontend/layouts/default.njk
Due: none

refactor(indiekit): remove application url from css and js paths
  packages/indiekit/lib/middleware/locals.js
Due: prettier --write, xo

refactor(indiekit): use request params for app icon properties
  packages/indiekit/lib/controllers/assets.js
  packages/indiekit/lib/routes.js
Due: prettier --write, xo

refactor(frontend): update app icon
  packages/frontend/assets/app-icon.svg
Due: none

feat(frontend): update app icon function to take purpose
  packages/frontend/assets/app-icon-any.svg
  packages/frontend/assets/app-icon-maskable.svg
  packages/frontend/lib/app-icon.js
Due: prettier --write, xo

feat(indiekit): maskable app icon
  packages/indiekit/lib/controllers/assets.js
  packages/indiekit/lib/controllers/manifest.js
  packages/indiekit/lib/routes.js
  packages/indiekit/test/integration/200-app-icon.js
Due: prettier --write, xo

feat(frontend): add shortcut icon function
  packages/frontend/index.js
  packages/frontend/lib/sharp.js
Due: prettier --write, xo

feat(indiekit): shortcut icons
  docs/plugins/api/add-endpoint.md
  packages/indiekit/lib/controllers/assets.js
  packages/indiekit/lib/routes.js
  packages/indiekit/lib/shortcuts.js
  packages/indiekit/test/integration/200-shortcut-icon.js
Due: prettier --write, xo

feat(endpoint-files): shortcut icon
  packages/endpoint-files/index.js
Due: prettier --write, xo

feat(endpoint-posts): shortcut icon
  packages/endpoint-posts/index.js
Due: prettier --write, xo

feat(frontend): update path to apple-touch-icon
  helpers/frontend/views/frontend-components.njk
  packages/frontend/layouts/default.njk
Due: none

feat(indiekit): robots.txt
  packages/indiekit/lib/routes.js
  packages/indiekit/test/integration/200-robots.js
Due: prettier --write, xo

test: different theme colour for each env
  indiekit.config.js
Due: prettier --write, xo

feat(frontend): use theme color based on color scheme
  packages/frontend/layouts/default.njk
  packages/frontend/lib/globals/index.js
  packages/frontend/lib/globals/theme.js
  packages/frontend/test/unit/globals/theme.js
Due: prettier --write, xo

feat(frontend): export theme color helpers
  packages/frontend/index.js
  packages/frontend/lib/globals/index.js
  packages/frontend/lib/utils/theme.js
  packages/frontend/test/unit/theme.js
Due: prettier --write, xo

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  xo: any of: *.js
  stylelint: any of: *.css
