Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

feat(endpoint-webmention-io): webmention.io endpoint
  helpers/config/index.js
  helpers/mock-agent/endpoint-webmention-io.js
  indiekit.config.js
  localazy.json
  package-lock.json
  packages/endpoint-webmention-io/README.md
  packages/endpoint-webmention-io/assets/icon.svg
  packages/endpoint-webmention-io/index.js
  packages/endpoint-webmention-io/lib/controllers/webmentions.js
  packages/endpoint-webmention-io/lib/utils.js
  packages/endpoint-webmention-io/locales/de.json
  packages/endpoint-webmention-io/locales/en.json
  packages/endpoint-webmention-io/locales/es-419.json
  packages/endpoint-webmention-io/locales/es.json
  packages/endpoint-webmention-io/locales/fr.json
  packages/endpoint-webmention-io/locales/hi.json
  packages/endpoint-webmention-io/locales/id.json
  packages/endpoint-webmention-io/locales/nl.json
  packages/endpoint-webmention-io/locales/pl.json
  packages/endpoint-webmention-io/locales/pt.json
  packages/endpoint-webmention-io/locales/sr.json
  packages/endpoint-webmention-io/locales/sv.json
  packages/endpoint-webmention-io/locales/zh-Hans-CN.json
  packages/endpoint-webmention-io/package.json
  packages/endpoint-webmention-io/test/integration/200-webmentions.js
  packages/endpoint-webmention-io/test/unit/utils.js
  packages/endpoint-webmention-io/views/webmentions.njk
Due: prettier --write, xo

feat(frontend): mention icon
  helpers/frontend/views/frontend-components.njk
  packages/frontend/lib/globals/icon.js
Due: prettier --write, xo

feat(frontend): mention component
  helpers/frontend/views/frontend-components.njk
  packages/frontend/components/mention/macro.njk
  packages/frontend/components/mention/styles.css
  packages/frontend/components/mention/template.njk
  packages/frontend/layouts/default.njk
  packages/frontend/styles/app.css
  packages/frontend/styles/config/custom-properties.css
Due: prettier --write, stylelint

docs: add webmention endpoint
  docs/.vitepress/config.js
  docs/plugins/endpoints/index.md
  docs/plugins/endpoints/webmention-io.md
Due: prettier --write, xo

feat(frontend): user component
  helpers/frontend/views/frontend-components.njk
  packages/frontend/components/user/macro.njk
  packages/frontend/components/user/styles.css
  packages/frontend/components/user/template.njk
  packages/frontend/layouts/default.njk
  packages/frontend/styles/app.css
Due: prettier --write, stylelint

feat(frontend): avatar component
  helpers/frontend/views/frontend-components.njk
  packages/frontend/components/avatar/macro.njk
  packages/frontend/components/avatar/styles.css
  packages/frontend/components/avatar/template.njk
  packages/frontend/layouts/default.njk
  packages/frontend/styles/app.css
Due: prettier --write, stylelint

chore: update package.json
  package-lock.json
  package.json
Due: none

docs: show correct default value for application.port
  docs/configuration/application.md
Due: none

refactor: get server time zone from Intl.DateTimeFormat().resolvedOptions()
  packages/endpoint-media/lib/utils.js
  packages/endpoint-micropub/lib/utils.js
  packages/util/lib/date.js
Due: prettier --write, xo

feat(util): formatLocalToZonedDate helper
  packages/frontend/lib/filters/index.js
  packages/util/index.js
  packages/util/lib/date.js
  packages/util/test/unit/date.js
Due: prettier --write, xo

refactor(endpoint-posts): use formatLocalToZonedDate utility helper
  packages/endpoint-posts/lib/controllers/form.js
Due: prettier --write, xo

feat(util): remove getTimeZoneDesignator and getTimeZoneOffset helpers
  packages/util/index.js
  packages/util/lib/date.js
  packages/util/test/unit/date.js
Due: prettier --write, xo

fix(indiekit): show plugin information on status cards
  packages/indiekit/views/status.njk
Due: none

chore: separate task with and without debugging
  package.json
Due: none

feat(syndicator-atproto): at protocol syndicator
  indiekit.config.js
  package-lock.json
  packages/syndicator-atproto/README.md
  packages/syndicator-atproto/assets/icon.svg
  packages/syndicator-atproto/index.js
  packages/syndicator-atproto/lib/atproto.js
  packages/syndicator-atproto/lib/utils.js
  packages/syndicator-atproto/package.json
  packages/syndicator-atproto/test/index.js
Due: prettier --write, xo

chore: update dependencies
  package-lock.json
  package.json
  packages/endpoint-media/package.json
Due: none

fix(post-type-note): remove unused property
  packages/post-type-note/index.js
Due: prettier --write, xo

chore: update dependencies
  package-lock.json
  package.json
  packages/frontend/package.json
  packages/indiekit/package.json
  packages/store-gitlab/package.json
Due: none

style(frontend): lint css
  packages/frontend/components/summary/styles.css
  packages/frontend/styles/config/custom-properties.css
  packages/frontend/styles/scopes/flow.css
Due: prettier --write, stylelint

style: update eslint config
  eslint.config.js
Due: prettier --write, xo

style: lint javascript
  packages/indiekit/index.js
  packages/indiekit/lib/routes.js
  packages/indiekit/test/unit/cache.js
  packages/store-github/test/index.js
Due: prettier --write, xo

style: lint ordering of class members
  eslint.config.js
  package-lock.json
  package.json
  packages/endpoint-image/index.js
  packages/indiekit/index.js
Due: prettier --write, xo

chore: update dependencies
  package-lock.json
  package.json
Due: none

feat: post type plug-ins use IndiekitPostTypePlugin
  package-lock.json
  packages/post-type-article/index.js
  packages/post-type-article/package.json
  packages/post-type-audio/index.js
  packages/post-type-audio/package.json
  packages/post-type-bookmark/index.js
  packages/post-type-bookmark/package.json
  packages/post-type-event/index.js
  packages/post-type-event/package.json
  packages/post-type-jam/index.js
  packages/post-type-jam/package.json
  packages/post-type-like/index.js
  packages/post-type-like/package.json
  packages/post-type-note/index.js
  packages/post-type-note/package.json
  packages/post-type-photo/index.js
  packages/post-type-photo/package.json
  packages/post-type-reply/index.js
  packages/post-type-reply/package.json
  packages/post-type-repost/index.js
  packages/post-type-repost/package.json
  packages/post-type-rsvp/index.js
  packages/post-type-rsvp/package.json
  packages/post-type-video/index.js
  packages/post-type-video/package.json
Due: prettier --write, xo

docs(create-indiekit): consistent use of packageName
  packages/create-indiekit/lib/utils.js
Due: prettier --write, xo

feat(plugin): base plug-in
  package-lock.json
  packages/indiekit/lib/plugins.js
  packages/indiekit/test/unit/plugins.js
  packages/indiekit/views/plugins/view.njk
  packages/plugin/README.md
  packages/plugin/index.js
  packages/plugin/lib/base.js
  packages/plugin/package.json
Due: prettier --write, xo

feat(plugin): post type plug-in
  packages/plugin/index.js
  packages/plugin/lib/base.js
  packages/plugin/lib/post-type.js
Due: prettier --write, xo

feat(indiekit): remove _routes method used for internal routing
  packages/indiekit/lib/routes.js
Due: prettier --write, xo

feat: endpoint plug-ins use IndiekitEndpointPlugin
  helpers/frontend/index.js
  package-lock.json
  packages/endpoint-auth/index.js
  packages/endpoint-auth/package.json
  packages/endpoint-files/index.js
  packages/endpoint-files/package.json
  packages/endpoint-image/README.md
  packages/endpoint-image/index.js
  packages/endpoint-image/package.json
  packages/endpoint-json-feed/index.js
  packages/endpoint-json-feed/package.json
  packages/endpoint-media/index.js
  packages/endpoint-media/package.json
  packages/endpoint-micropub/index.js
  packages/endpoint-micropub/package.json
  packages/endpoint-posts/index.js
  packages/endpoint-posts/package.json
  packages/endpoint-share/index.js
  packages/endpoint-share/package.json
  packages/endpoint-syndicate/index.js
  packages/endpoint-syndicate/package.json
  packages/endpoint-webmention-io/index.js
  packages/endpoint-webmention-io/package.json
Due: prettier --write, xo

feat(indiekit): remove addCollection method
  packages/indiekit/index.js
  packages/indiekit/test/index.js
Due: prettier --write, xo

feat(indiekit): remove addEndpoint method
  packages/indiekit/index.js
  packages/indiekit/test/index.js
Due: prettier --write, xo

feat(plugin): endpoint plug-in
  package-lock.json
  packages/plugin/index.js
  packages/plugin/lib/base.js
  packages/plugin/lib/endpoint.js
  packages/plugin/package.json
Due: prettier --write, xo

feat(indiekit): remove addPostType method
  packages/indiekit/index.js
Due: prettier --write, xo

feat(indiekit): remove addPreset method
  packages/indiekit/index.js
  packages/indiekit/test/index.js
Due: prettier --write, xo

feat: publication preset plug-ins use IndiekitPresetPlugin
  package-lock.json
  packages/preset-eleventy/index.js
  packages/preset-eleventy/package.json
  packages/preset-eleventy/test/index.js
  packages/preset-hugo/index.js
  packages/preset-hugo/package.json
  packages/preset-hugo/test/index.js
  packages/preset-jekyll/index.js
  packages/preset-jekyll/package.json
  packages/preset-jekyll/test/index.js
Due: prettier --write, xo

feat(plugin): syndicator plug-in
  packages/plugin/index.js
  packages/plugin/lib/syndicator.js
Due: prettier --write, xo

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  xo: any of: *.js
  stylelint: any of: *.css
