Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

docs: update contributing guide. fixes #558
  docs/contributing.md
Due: none

fix(endpoint-files): absolute hrefs for action links
  packages/endpoint-files/lib/controllers/file.js
  packages/endpoint-files/lib/controllers/files.js
Due: prettier --write, xo

fix(endpoint-posts): absolute hrefs for action links
  packages/endpoint-posts/lib/controllers/post.js
  packages/endpoint-posts/lib/controllers/posts.js
Due: prettier --write, xo

feat(endpoint-micropub): allow async postTemplate method. fixes #562
  docs/plugins/api/add-preset.md
  packages/endpoint-micropub/lib/post.js
Due: prettier --write, xo

feat(frontend): container utility
  packages/frontend/styles/utilities/container.css
Due: prettier --write, stylelint

refactor(endpoint-posts): use token input component macro
  packages/endpoint-posts/views/post-form.njk
Due: none

style: simpler nested quotes in nunjucks templates
  packages/endpoint-json-feed/includes/endpoint-json-feed-widget.njk
  packages/indiekit/views/status.njk
Due: none

feat(frontend): token input component macro
  packages/frontend/components/token-input/macro.njk
  packages/frontend/components/token-input/template.njk
Due: none

refactor: default onerror fallback image for card photo
  packages/endpoint-files/lib/controllers/files.js
  packages/endpoint-posts/lib/controllers/posts.js
  packages/frontend/components/card/template.njk
  packages/indiekit/lib/controllers/plugin.js
Due: prettier --write, xo

feat(frontend): option to disable auto focus on notification banner
  packages/frontend/components/notification/index.js
  packages/frontend/components/notification/template.njk
Due: prettier --write, xo

feat(frontend): itemId global
  packages/frontend/lib/globals/index.js
  packages/frontend/lib/globals/item-id.js
  packages/frontend/tests/unit/globals/item-id.js
Due: prettier --write, xo

fix(indiekit): use string not boolean to indicate current navigation item
  packages/indiekit/lib/navigation.js
  packages/indiekit/tests/unit/navigation.js
Due: prettier --write, xo

style: lint jsdoc
  packages/endpoint-micropub/lib/markdown.js
Due: prettier --write, xo

feat(frontend): linkTo filter
  packages/frontend/lib/filters/index.js
  packages/frontend/lib/filters/string.js
  packages/frontend/tests/unit/filters/string.js
Due: prettier --write, xo

refactor(frontend): error summary styles
  packages/frontend/components/error-summary/styles.css
Due: prettier --write, stylelint

refactor(frontend): card styles
  packages/frontend/components/card/styles.css
Due: prettier --write, stylelint

refactor(frontend): flow styles
  packages/frontend/styles/scopes/flow.css
Due: prettier --write, stylelint

refactor(frontend): badge styles
  packages/frontend/components/badge/styles.css
Due: prettier --write, stylelint

refactor(frontend): input styles
  packages/frontend/components/input/styles.css
Due: prettier --write, stylelint

refactor(frontend): actions styles
  packages/frontend/components/actions/styles.css
Due: prettier --write, stylelint

refactor(frontend): common time styles
  packages/frontend/components/card/styles.css
  packages/frontend/styles/base/text.css
Due: prettier --write, stylelint

refactor(frontend): notification styles
  packages/frontend/components/notification/styles.css
Due: prettier --write, stylelint

refactor(frontend): use currentColor fill in svg markup
  packages/frontend/lib/globals/icon.js
  packages/frontend/styles/base/embedded.css
Due: prettier --write, xo, stylelint

test(frontend): add views to visually test components
  helpers/frontend/assets/icon.svg
  helpers/frontend/index.js
  helpers/frontend/package.json
  helpers/frontend/views/frontend-components.njk
  helpers/frontend/views/frontend-flow.njk
  helpers/frontend/views/frontend-form.njk
  indiekit.config.cjs
  package-lock.json
  package.json
Due: prettier --write, xo

refactor(frontend): container styles now provided by utility
  packages/frontend/components/footer/styles.css
  packages/frontend/components/header/styles.css
  packages/frontend/components/main/styles.css
Due: prettier --write, stylelint

fix(frontend): prevent img overflowing container
  packages/frontend/styles/base/embedded.css
Due: prettier --write, stylelint

refactor(frontend): block padding on main container in minimal ui
  packages/frontend/components/app/styles.css
Due: prettier --write, stylelint

refactor(frontend): pagination styles
  packages/frontend/components/pagination/styles.css
Due: prettier --write, stylelint

refactor(frontend): details styles
  packages/frontend/components/details/styles.css
Due: prettier --write, stylelint

fix(frontend): flow relative values not widely supported
  packages/frontend/components/authorize/styles.css
Due: prettier --write, stylelint

refactor(frontend): warning text styles
  packages/frontend/components/warning-text/styles.css
Due: prettier --write, stylelint

refactor(frontend): typographic config
  packages/frontend/styles/config/custom-properties.css
Due: prettier --write, stylelint

refactor(frontend): logo styles
  packages/frontend/components/logo/styles.css
Due: prettier --write, stylelint

refactor(frontend): button styles
  packages/frontend/components/button/styles.css
Due: prettier --write, stylelint

refactor(frontend): heading styles
  packages/frontend/components/heading/styles.css
Due: prettier --write, stylelint

style: nunjucks whitespace
  packages/endpoint-files/tests/integration/404-file.js
  packages/frontend/components/actions/template.njk
  packages/frontend/components/authorize/template.njk
  packages/frontend/components/back-link/template.njk
  packages/frontend/components/badge/template.njk
  packages/frontend/components/button/template.njk
  packages/frontend/components/card-grid/template.njk
  packages/frontend/components/card/template.njk
  packages/frontend/components/checkboxes/template.njk
  packages/frontend/components/details/template.njk
  packages/frontend/components/error-message/template.njk
  packages/frontend/components/error-summary/template.njk
  packages/frontend/components/field/template.njk
  packages/frontend/components/fieldset/template.njk
  packages/frontend/components/footer/template.njk
  packages/frontend/components/geo-input/template.njk
  packages/frontend/components/header/template.njk
  packages/frontend/components/heading/template.njk
  packages/frontend/components/input/template.njk
  packages/frontend/components/label/template.njk
  packages/frontend/components/navigation/template.njk
  packages/frontend/components/notification/template.njk
  packages/frontend/components/pagination/template.njk
  packages/frontend/components/preview/template.njk
  packages/frontend/components/prose/template.njk
  packages/frontend/components/radios/template.njk
  packages/frontend/components/section/template.njk
  packages/frontend/components/select/template.njk
  packages/frontend/components/skip-link/template.njk
  packages/frontend/components/summary/template.njk
  packages/frontend/components/textarea/template.njk
  packages/frontend/components/token-input/template.njk
  packages/frontend/components/widget/template.njk
  packages/frontend/layouts/default.njk
  packages/frontend/layouts/document.njk
  packages/frontend/layouts/error.njk
  packages/frontend/layouts/form.njk
  packages/frontend/lib/nunjucks.js
Due: prettier --write, xo

refactor(frontend): select styles
  packages/frontend/components/select/styles.css
Due: prettier --write, stylelint

refactor(frontend): back link styles
  packages/frontend/components/back-link/styles.css
Due: prettier --write, stylelint

refactor(frontend): widget styles
  packages/frontend/components/widget/styles.css
Due: prettier --write, stylelint

refactor(frontend): summary styles
  packages/frontend/components/summary/styles.css
Due: prettier --write, stylelint

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  xo: any of: *.js
  stylelint: any of: *.css
