Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

fix(frontend): options in details component
  packages/frontend/components/details/template.njk
Due: none

refactor(endpoint-posts): abstract post status badges
  packages/endpoint-posts/lib/controllers/posts.js
  packages/endpoint-posts/lib/utils.js
  packages/endpoint-posts/tests/unit/utils.js
Due: prettier --write, xo

refactor(endpoint-posts): rename for status types
  packages/endpoint-posts/lib/controllers/posts.js
  packages/endpoint-posts/lib/middleware/post-data.js
  packages/endpoint-posts/lib/status-types.js
  packages/endpoint-posts/lib/utils.js
  packages/endpoint-posts/views/post.njk
Due: prettier --write, xo

fix(endpoint-micropub): respond once to source query
  packages/endpoint-micropub/lib/controllers/query.js
Due: prettier --write, xo

fix(endpoint-media): respond once to source query
  packages/endpoint-media/lib/controllers/query.js
Due: prettier --write, xo

refactor: pass complete error object to frontend
  packages/endpoint-auth/lib/controllers/documentation.js
  packages/endpoint-files/lib/controllers/delete.js
  packages/endpoint-files/lib/controllers/form.js
  packages/endpoint-posts/lib/controllers/delete.js
  packages/endpoint-posts/lib/controllers/form.js
  packages/endpoint-share/lib/controllers/share.js
  packages/frontend/layouts/default.njk
  packages/indiekit/lib/indieauth.js
Due: prettier --write, xo

fix(docs): correct language for syntax highlighting
  docs/configuration/post-template.md
  docs/plugins/api/add-preset.md
Due: none

chore: update dependencies
  helpers/server/package.json
  lerna.json
  package-lock.json
  package.json
Due: none

chore: update dependencies
  package-lock.json
  package.json
  packages/frontend/package.json
  packages/indiekit/package.json
Due: none

fix(indiekit): correct minimum node version
  package-lock.json
  packages/indiekit/package.json
Due: none

refactor(indiekit): move port into application config
  packages/indiekit/bin/cli.js
  packages/indiekit/config/defaults.js
  packages/indiekit/index.js
Due: prettier --write, xo

docs: application.port option
  docs/configuration/index.md
Due: none

refactor: internal routing to support image endpoint
  packages/endpoint-image/index.js
  packages/indiekit/index.js
  packages/indiekit/lib/routes.js
Due: prettier --write, xo

refactor: add content databases to application object
  packages/endpoint-json-feed/lib/controllers/json-feed.js
  packages/endpoint-media/lib/controllers/action.js
  packages/endpoint-media/lib/controllers/query.js
  packages/endpoint-media/lib/media-data.js
  packages/endpoint-media/tests/unit/media-data.js
  packages/endpoint-micropub/lib/controllers/action.js
  packages/endpoint-micropub/lib/controllers/query.js
  packages/endpoint-micropub/lib/post-data.js
  packages/endpoint-micropub/tests/unit/post-data.js
  packages/endpoint-syndicate/lib/controllers/syndicate.js
  packages/endpoint-syndicate/lib/utils.js
  packages/endpoint-syndicate/tests/unit/utils.js
  packages/indiekit/index.js
  packages/indiekit/lib/controllers/feed.js
Due: prettier --write, xo

refactor(indiekit): remove createApp method
  packages/indiekit/index.js
  packages/indiekit/tests/index.js
Due: prettier --write, xo

feat: enable async configuration
  helpers/server/index.js
  packages/indiekit/bin/cli.js
  packages/indiekit/index.js
  packages/indiekit/lib/config.js
  packages/indiekit/tests/index.js
  packages/indiekit/tests/unit/post-template.js
  packages/indiekit/tests/unit/post-types.js
  packages/preset-hugo/tests/index.js
  packages/preset-jekyll/tests/index.js
  packages/store-bitbucket/tests/index.js
  packages/store-file-system/tests/index.js
  packages/store-ftp/tests/index.js
  packages/store-gitea/tests/index.js
  packages/store-github/tests/index.js
  packages/store-gitlab/tests/index.js
  packages/syndicator-internet-archive/tests/index.js
  packages/syndicator-mastodon/tests/index.js
  packages/syndicator-twitter/tests/index.js
Due: prettier --write, xo

refactor: use esm for development config
  indiekit.config.js
Due: prettier --write, xo

docs: update cosmiconfig configuration content
  docs/configuration/index.md
  docs/contributing.md
Due: none

refactor: add content databases to application object
  packages/endpoint-json-feed/lib/controllers/json-feed.js
  packages/endpoint-media/lib/controllers/action.js
  packages/endpoint-media/lib/controllers/query.js
  packages/endpoint-media/lib/media-data.js
  packages/endpoint-media/tests/unit/media-data.js
  packages/endpoint-micropub/lib/controllers/action.js
  packages/endpoint-micropub/lib/controllers/query.js
  packages/endpoint-micropub/lib/post-data.js
  packages/endpoint-micropub/lib/post-type-count.js
  packages/endpoint-micropub/tests/unit/post-data.js
  packages/endpoint-syndicate/lib/controllers/syndicate.js
  packages/endpoint-syndicate/lib/utils.js
  packages/endpoint-syndicate/tests/unit/utils.js
  packages/indiekit/index.js
  packages/indiekit/lib/controllers/feed.js
Due: prettier --write, xo

fix(preset-hugo): add empty line between front matter and content
  packages/preset-hugo/index.js
  packages/preset-hugo/tests/index.js
Due: prettier --write, xo

style: disable complexity linting
  package.json
Due: none

fix(preset-jekyll): add empty line between front matter and content
  packages/preset-jekyll/index.js
  packages/preset-jekyll/tests/index.js
Due: prettier --write, xo

fix: minimum cosmiconfig version
  package-lock.json
  packages/indiekit/package.json
Due: none

style: lint jsdoc
  helpers/fixtures/index.js
  helpers/mock-agent/index.js
  helpers/store/index.js
  packages/endpoint-auth/lib/pkce.js
  packages/endpoint-auth/lib/token.js
  packages/endpoint-auth/lib/utils.js
  packages/endpoint-files/lib/endpoint.js
  packages/endpoint-media/lib/scope.js
  packages/endpoint-micropub/lib/date.js
  packages/endpoint-micropub/lib/post-data.js
  packages/endpoint-micropub/lib/scope.js
  packages/endpoint-micropub/lib/utils.js
  packages/endpoint-posts/lib/endpoint.js
  packages/endpoint-posts/lib/utils.js
  packages/frontend/lib/filters/string.js
  packages/frontend/lib/globals/classes.js
  packages/frontend/lib/globals/theme.js
  packages/indiekit/lib/utils.js
  packages/store-bitbucket/index.js
  packages/store-ftp/index.js
  packages/store-gitea/index.js
  packages/store-github/index.js
  packages/store-gitlab/index.js
  packages/syndicator-internet-archive/index.js
  packages/syndicator-mastodon/index.js
  packages/syndicator-mastodon/lib/utils.js
  packages/syndicator-twitter/index.js
  packages/syndicator-twitter/lib/utils.js
Due: prettier --write, xo

docs: remove errant space
  docs/configuration/index.md
Due: none

feat(endpoint-micropub): cursor-based pagination
  packages/endpoint-micropub/lib/controllers/query.js
  packages/endpoint-micropub/lib/pagination.js
Due: prettier --write, xo

feat(endpoint-posts): use cursor-based pagination
  packages/endpoint-posts/lib/controllers/posts.js
  packages/endpoint-posts/views/posts.njk
Due: prettier --write, xo

feat(endpoint-files): use cursor-based pagination
  packages/endpoint-files/lib/controllers/files.js
  packages/endpoint-files/views/files.njk
Due: prettier --write, xo

feat(endpoint-media): cursor-based pagination
  packages/endpoint-media/lib/controllers/query.js
  packages/endpoint-media/lib/pagination.js
Due: prettier --write, xo

feat(frontend): remove results summary from pagination component
  helpers/frontend/views/frontend-components.njk
  packages/frontend/components/pagination/styles.css
  packages/frontend/components/pagination/template.njk
Due: prettier --write, stylelint

fix(frontend): conditionally show pagination
  packages/frontend/components/pagination/template.njk
Due: none

feat(frontend): remove pages global
  packages/frontend/lib/globals/index.js
  packages/frontend/lib/globals/pages.js
  packages/frontend/tests/unit/globals/pages.js
Due: prettier --write, xo

docs: add support for micropub pagination extension
  docs/specifications.md
Due: none

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  xo: any of: *.js
  stylelint: any of: *.css
