Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

feat(frontend): remove results summary from pagination component
  helpers/frontend/views/frontend-components.njk
  packages/frontend/components/pagination/styles.css
  packages/frontend/components/pagination/template.njk
Due: prettier --write, stylelint

feat(frontend): remove pages global
  packages/frontend/lib/globals/index.js
  packages/frontend/lib/globals/pages.js
  packages/frontend/tests/unit/globals/pages.js
Due: prettier --write, xo

feat(endpoint-micropub): cursor-based pagination
  packages/endpoint-micropub/lib/controllers/query.js
  packages/endpoint-micropub/lib/pagination.js
Due: prettier --write, xo

fix(frontend): conditionally show pagination
  packages/frontend/components/pagination/template.njk
Due: none

feat(endpoint-files): use cursor-based pagination
  packages/endpoint-files/lib/controllers/files.js
  packages/endpoint-files/views/files.njk
Due: prettier --write, xo

docs: add support for micropub pagination extension
  docs/specifications.md
Due: none

feat(endpoint-posts): use cursor-based pagination
  packages/endpoint-posts/lib/controllers/posts.js
  packages/endpoint-posts/views/posts.njk
Due: prettier --write, xo

feat(endpoint-media): cursor-based pagination
  packages/endpoint-media/lib/controllers/query.js
  packages/endpoint-media/lib/pagination.js
Due: prettier --write, xo

chore: update dependencies
  package-lock.json
Due: none

feat: move timeZone option to application
  docs/configuration/index.md
  docs/configuration/time-zone.md
  helpers/config/index.js
  indiekit.config.js
  packages/endpoint-media/lib/file.js
  packages/endpoint-media/lib/media-data.js
  packages/endpoint-media/lib/utils.js
  packages/endpoint-media/tests/unit/file.js
  packages/endpoint-media/tests/unit/utils.js
  packages/endpoint-micropub/lib/post-data.js
  packages/endpoint-micropub/lib/utils.js
  packages/endpoint-micropub/tests/unit/jf2.js
  packages/endpoint-micropub/tests/unit/utils.js
  packages/indiekit/config/defaults.js
  packages/indiekit/locales/de.json
  packages/indiekit/locales/en.json
  packages/indiekit/locales/es.json
  packages/indiekit/locales/fr.json
  packages/indiekit/locales/id.json
  packages/indiekit/locales/nl.json
  packages/indiekit/locales/pl.json
  packages/indiekit/locales/pt.json
  packages/indiekit/locales/sr.json
  packages/indiekit/locales/zh-Hans-CN.json
  packages/indiekit/views/status.njk
Due: prettier --write, xo

chore(indiekit): remove unused translation string
  packages/indiekit/locales/de.json
  packages/indiekit/locales/es.json
  packages/indiekit/locales/fr.json
  packages/indiekit/locales/id.json
  packages/indiekit/locales/nl.json
  packages/indiekit/locales/pl.json
  packages/indiekit/locales/pt.json
  packages/indiekit/locales/sr.json
  packages/indiekit/locales/zh-Hans-CN.json
Due: none

feat(endpoint-media): add post count token
  packages/endpoint-media/lib/media-data.js
  packages/endpoint-media/lib/media-type-count.js
  packages/endpoint-media/lib/utils.js
  packages/endpoint-media/tests/unit/media-type-count.js
  packages/endpoint-media/tests/unit/utils.js
Due: prettier --write, xo

feat(endpoint-media): use media-type property
  docs/specifications.md
  helpers/media-data/index.js
  packages/endpoint-files/lib/controllers/files.js
  packages/endpoint-files/views/file.njk
  packages/endpoint-media/lib/controllers/query.js
  packages/endpoint-media/lib/media-content.js
  packages/endpoint-media/lib/media-data.js
  packages/endpoint-media/lib/media-type-count.js
  packages/endpoint-media/lib/utils.js
  packages/endpoint-media/tests/unit/media-data.js
Due: prettier --write, xo

docs: post count token for media paths
  docs/configuration/post-types.md
Due: none

test(endpoint-micropub): use correct object name
  packages/endpoint-micropub/tests/unit/post-type-count.js
Due: prettier --write, xo

style(endpoint-auth): add new line in jsdoc
  packages/endpoint-auth/lib/controllers/authorization.js
Due: prettier --write, xo

test(endpoint-auth): correct test file name
  packages/endpoint-auth/tests/integration/302-well-known-change-password.js
Due: prettier --write, xo

fix(endpoint-media): only add data to configured database
  packages/endpoint-media/lib/media-data.js
Due: prettier --write, xo

fix(endpoint-micropub): only add data to configured database
  packages/endpoint-micropub/lib/post-data.js
Due: prettier --write, xo

feat(indiekit): use token introspection endpoint
  packages/indiekit/lib/endpoints.js
  packages/indiekit/lib/indieauth.js
  packages/indiekit/lib/token.js
Due: prettier --write, xo

test(indiekit): use token introspection endpoint
  helpers/mock-agent/token-endpoint.js
  packages/indiekit/tests/unit/indieauth.js
  packages/indiekit/tests/unit/tokens.js
Due: prettier --write, xo

test(endpoint-auth): introspection endpoint
  helpers/access-token/index.js
  packages/endpoint-auth/tests/integration/200-introspect-token-active.js
  packages/endpoint-auth/tests/integration/200-introspect-token-inactive.js
  packages/endpoint-auth/tests/integration/200-token-documentation.js
  packages/endpoint-auth/tests/integration/200-token-verify-url-encoded.js
  packages/endpoint-auth/tests/integration/501-token-verify-missing-secret.js
Due: prettier --write, xo

feat(endpoint-auth): introspection endpoint
  packages/endpoint-auth/index.js
  packages/endpoint-auth/lib/controllers/introspection.js
  packages/endpoint-auth/lib/controllers/metadata.js
  packages/endpoint-auth/lib/controllers/token.js
  packages/endpoint-auth/views/auth.njk
Due: prettier --write, xo

docs: indicate support for token introspection
  docs/configuration/index.md
  docs/specifications.md
Due: none

test(endpoint-micropub): update to use introspection endpoint
  helpers/config/index.js
  packages/endpoint-micropub/tests/integration/404-query-source-url-not-found.js
Due: prettier --write, xo

fix(indiekit): plug-in icon size
  packages/indiekit/views/plugins/view.njk
Due: none

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  xo: any of: *.js
  stylelint: any of: *.css
