Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

fix(frontend): conditional checkbox and radio inline padding
  packages/frontend/components/checkboxes/styles.css
  packages/frontend/components/radios/styles.css
Due: prettier --write, stylelint

fix(endpoint-micropub): post template properties
  packages/endpoint-micropub/lib/post-content.js
  packages/endpoint-micropub/lib/utils.js
Due: prettier --write, xo

test(endpoint-micropub): post template properties
  packages/endpoint-micropub/test/unit/utils.js
Due: prettier --write, xo

style(frontend): use logical properties
  packages/frontend/components/checkboxes/styles.css
  packages/frontend/components/heading/styles.css
  packages/frontend/components/input/styles.css
  packages/frontend/components/radios/styles.css
  packages/frontend/components/tag-input/styles.css
Due: prettier --write, stylelint

fix(frontend): error message spacing
  packages/frontend/components/error-message/styles.css
Due: prettier --write, stylelint

feat(frontend): event duration component
  packages/frontend/components/event-duration/index.js
  packages/frontend/components/event-duration/styles.css
  packages/frontend/scripts/app.js
  packages/frontend/styles/app.css
Due: prettier --write, xo, stylelint

feat(endpoint-posts): event post fields
  packages/endpoint-posts/index.js
  packages/endpoint-posts/lib/controllers/form.js
  packages/endpoint-posts/lib/middleware/post-data.js
  packages/endpoint-posts/lib/middleware/validation.js
  packages/endpoint-posts/lib/utils.js
  packages/endpoint-posts/locales/de.json
  packages/endpoint-posts/locales/en.json
  packages/endpoint-posts/locales/es-419.json
  packages/endpoint-posts/locales/es.json
  packages/endpoint-posts/locales/fr.json
  packages/endpoint-posts/locales/id.json
  packages/endpoint-posts/locales/nl.json
  packages/endpoint-posts/locales/pl.json
  packages/endpoint-posts/locales/pt.json
  packages/endpoint-posts/locales/sr.json
  packages/endpoint-posts/locales/zh-Hans-CN.json
  packages/endpoint-posts/test/unit/utils.js
  packages/endpoint-posts/views/post-form.njk
Due: prettier --write, xo

test: remove checkin example
  helpers/fixtures/jf2/all-properties.jf2
  helpers/fixtures/jf2/post-template-properties.jf2
  packages/endpoint-micropub/test/unit/mf2.js
  packages/preset-hugo/test/index.js
  packages/preset-jekyll/test/index.js
Due: prettier --write, xo

chore: update dependencies
  package-lock.json
Due: none

refactor(endpoint-media): use crypto global
  packages/endpoint-media/lib/utils.js
Due: prettier --write, xo

refactor(endpoint-micropub): use crypto global
  packages/endpoint-micropub/lib/utils.js
Due: prettier --write, xo

refactor(indiekit): use uuid for cookie session secret
  packages/indiekit/config/defaults.js
Due: prettier --write, xo

refactor(endpoint-auth): use random uuid in par uri
  packages/endpoint-auth/lib/pushed-authorization-request.js
  packages/endpoint-auth/test/unit/pushed-authorization-request.js
Due: prettier --write, xo

refactor(endpoint-auth): use web crypto randomUUID method
  packages/endpoint-auth/lib/controllers/consent.js
Due: prettier --write, xo

style: import named methods from node:crypto module
  packages/endpoint-auth/lib/pkce.js
  packages/endpoint-auth/test/integration/400-token-grant-invalid-pkce-code.js
  packages/indiekit/lib/indieauth.js
  packages/indiekit/test/unit/state.js
  packages/indiekit/test/unit/utils.js
Due: prettier --write, xo

fix(indiekit): check for database before querying for posts
  packages/indiekit/lib/controllers/feed.js
Due: prettier --write, xo

feat(util): santise
  packages/util/index.js
  packages/util/lib/object.js
  packages/util/test/unit/object.js
Due: prettier --write, xo

feat(endpoint-posts): delete non-mf2 post values
  packages/endpoint-posts/lib/controllers/form.js
Due: prettier --write, xo

chore: update mf2tojf2 dependency
  package-lock.json
  packages/endpoint-micropub/lib/jf2.js
  packages/endpoint-micropub/package.json
  packages/endpoint-posts/package.json
Due: prettier --write, xo

feat(endpoint-posts): sanitise submitted post values
  package-lock.json
  packages/endpoint-posts/lib/controllers/form.js
  packages/endpoint-posts/lib/utils.js
  packages/endpoint-posts/package.json
Due: prettier --write, xo

fix(endpoint-posts): reading/editing geographic coordinates
  packages/endpoint-posts/lib/middleware/post-data.js
  packages/endpoint-posts/lib/utils.js
  packages/endpoint-posts/test/unit/utils.js
  packages/endpoint-posts/views/post-form.njk
Due: prettier --write, xo

fix(frontend): field spacing in fieldset group
  packages/frontend/components/fieldset/styles.css
Due: prettier --write, stylelint

style: lint markdown files
  packages/endpoint-auth/README.md
  packages/endpoint-files/README.md
  packages/endpoint-image/README.md
  packages/endpoint-json-feed/README.md
  packages/endpoint-media/README.md
  packages/endpoint-posts/README.md
  packages/endpoint-share/README.md
  packages/endpoint-syndicate/README.md
Due: none

style(endpoint-posts): lint jsdoc
  packages/endpoint-posts/lib/utils.js
Due: prettier --write, xo

ci: update linting tasks
  .prettierignore
  package.json
Due: none

style: format jsconfig.json
  jsconfig.json
Due: none

test: unskip test with fixed gitbeaker dependency
  package-lock.json
  packages/store-gitlab/test/index.js
Due: prettier --write, xo

docs: updating contributing guidelines
  docs/contributing.md
Due: none

fix(endpoint-posts): check all day if event date has no time
  packages/endpoint-posts/lib/middleware/post-data.js
  packages/endpoint-posts/views/post-form.njk
Due: prettier --write, xo

refactor(frontend): radio and checkbox spacing
  packages/frontend/components/checkboxes/styles.css
  packages/frontend/components/checkboxes/template.njk
  packages/frontend/components/radios/styles.css
  packages/frontend/components/radios/template.njk
Due: prettier --write, stylelint

refactor(frontend): remove custom media
  packages/frontend/components/button/styles.css
  packages/frontend/components/pagination/styles.css
  packages/frontend/components/radios/styles.css
  packages/frontend/lib/lightningcss.js
  packages/frontend/styles/app.css
  packages/frontend/styles/config/custom-media.css
Due: prettier --write, xo, stylelint

refactor(frontend): tighten loose line height property
  packages/frontend/styles/config/custom-properties.css
Due: prettier --write, stylelint

fix(endpoint-posts): don’t return useless location property
  packages/endpoint-posts/lib/utils.js
  packages/endpoint-posts/test/unit/utils.js
Due: prettier --write, xo

refactor(frontend): details spacing
  packages/frontend/components/details/styles.css
Due: prettier --write, stylelint

fix(endpoint-posts): inline radios
  packages/endpoint-posts/views/post-form.njk
Due: none

feat(endpoint-micropub): add jam to post type discovery
  packages/endpoint-micropub/lib/post-type-discovery.js
  packages/endpoint-micropub/test/unit/post-type-discovery.js
Due: prettier --write, xo

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  xo: any of: *.js
  stylelint: any of: *.css
