Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

feat(indiekit): add theme_color and background_color to web app manifest
  packages/indiekit/lib/controllers/manifest.js
Due: prettier --write, xo

refactor(frontend): update not found image placeholder
  packages/frontend/assets/not-found.svg
Due: none

feat(frontend): option to not show hidden prefix for warning text
  helpers/frontend/views/frontend-components.njk
  packages/frontend/components/warning-text/template.njk
Due: none

fix(frontend): only resize share preview when parent form
  packages/frontend/components/share-preview/index.js
Due: prettier --write, xo

fix(frontend): use explicit image dimensions
  packages/frontend/components/heading/template.njk
  packages/frontend/components/widget/template.njk
Due: none

fix(post-type-audio): contain audio within figure
  packages/post-type-audio/includes/post-types/audio.njk
Due: none

fix(post-type-photo): contain photo within figure
  packages/post-type-photo/includes/post-types/photo.njk
Due: none

fix(post-type-video): contain video within figure
  packages/post-type-video/includes/post-types/video.njk
Due: none

fix(frontend): increase size of logo in maskable icon
  packages/frontend/assets/app-icon-maskable.svg
Due: none

feat(frontend): service worker
  packages/frontend/assets/offline.svg
  packages/frontend/layouts/default.njk
  packages/frontend/lib/serviceworker.js
Due: prettier --write, xo

feat(frontend): offline icon
  helpers/frontend/views/frontend-components.njk
  packages/frontend/lib/globals/icon.js
Due: prettier --write, xo

chore: add eslint config for serviceworker.js
  eslint.config.js
Due: prettier --write, xo

chore: don’t type check serviceworker.js
  jsconfig.json
Due: none

feat(indiekit): update web app manifest
  packages/indiekit/lib/controllers/manifest.js
Due: prettier --write, xo

feat(indiekit): use service worker
  packages/frontend/lib/serviceworker.js
  packages/indiekit/lib/controllers/offline.js
  packages/indiekit/lib/routes.js
  packages/indiekit/lib/utils.js
  packages/indiekit/locales/de.json
  packages/indiekit/locales/en.json
  packages/indiekit/locales/es-419.json
  packages/indiekit/locales/es.json
  packages/indiekit/locales/fr.json
  packages/indiekit/locales/id.json
  packages/indiekit/locales/nl.json
  packages/indiekit/locales/pl.json
  packages/indiekit/locales/pt.json
  packages/indiekit/locales/sr.json
  packages/indiekit/locales/sv.json
  packages/indiekit/locales/zh-Hans-CN.json
  packages/indiekit/test/integration/200-offline-view.js
  packages/indiekit/views/offline.njk
Due: prettier --write, xo

chore: update dependencies
  package-lock.json
Due: none

docs: date-fns-tx issue 239 has now been fixed
  packages/endpoint-micropub/lib/utils.js
Due: prettier --write, xo

v1.0.0-beta.14
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/create-indiekit/CHANGELOG.md
  packages/create-indiekit/package.json
  packages/endpoint-files/CHANGELOG.md
  packages/endpoint-files/package.json
  packages/endpoint-media/CHANGELOG.md
  packages/endpoint-media/package.json
  packages/endpoint-micropub/CHANGELOG.md
  packages/endpoint-micropub/package.json
  packages/endpoint-posts/CHANGELOG.md
  packages/endpoint-posts/package.json
  packages/frontend/CHANGELOG.md
  packages/frontend/package.json
  packages/indiekit/CHANGELOG.md
  packages/indiekit/package.json
  packages/post-type-audio/CHANGELOG.md
  packages/post-type-audio/package.json
  packages/post-type-photo/CHANGELOG.md
  packages/post-type-photo/package.json
  packages/post-type-video/CHANGELOG.md
  packages/post-type-video/package.json
  packages/store-gitea/CHANGELOG.md
  packages/store-gitea/package.json
  packages/store-github/CHANGELOG.md
  packages/store-github/package.json
Due: none

feat: add Hindi localisation from Sesa Malinda
  docs/configuration/localisation.md
  packages/endpoint-auth/locales/hi.json
  packages/endpoint-files/locales/hi.json
  packages/endpoint-posts/locales/hi.json
  packages/endpoint-share/locales/hi.json
  packages/error/locales/hi.json
  packages/frontend/locales/hi.json
  packages/indiekit/config/defaults.js
  packages/indiekit/locales/hi.json
  packages/post-type-audio/locales/hi.json
  packages/post-type-bookmark/locales/hi.json
  packages/post-type-event/locales/hi.json
  packages/post-type-jam/locales/hi.json
  packages/post-type-like/locales/hi.json
  packages/post-type-photo/locales/hi.json
  packages/post-type-reply/locales/hi.json
  packages/post-type-repost/locales/hi.json
  packages/post-type-rsvp/locales/hi.json
  packages/post-type-video/locales/hi.json
Due: prettier --write, xo

fix(preset-jekyll): remove incorrect use of excerpt property
  packages/preset-jekyll/lib/post-template.js
  packages/preset-jekyll/test/unit/post-template.js
Due: prettier --write, xo

fix(frontend): replace hard-coded media endpoint with value provided in attribute
  helpers/frontend/views/frontend-form.njk
  packages/frontend/components/textarea/index.js
Due: prettier --write, xo

refactor: move endpoint option to field on fileUpload component
  helpers/frontend/views/frontend-form.njk
  packages/frontend/components/file-input/template.njk
  packages/post-type-audio/includes/post-types/audio-field.njk
  packages/post-type-photo/includes/post-types/photo-field.njk
  packages/post-type-video/includes/post-types/video-field.njk
Due: none

fix(frontend): move error message before tag input
  packages/frontend/components/tag-input/index.js
Due: prettier --write, xo

fix(endpoint-posts): add media endpoint to markdown editors
  packages/endpoint-posts/includes/post-types/content-field.njk
  packages/endpoint-posts/includes/post-types/summary-field.njk
Due: none

fix(frontend): fix textarea shift on focus
  packages/frontend/components/textarea/styles.css
Due: prettier --write, stylelint

refactor(frontend): consistent options for field component
  helpers/frontend/views/frontend-form.njk
  packages/frontend/components/add-another/template.njk
  packages/frontend/components/checkboxes/template.njk
  packages/frontend/components/geo-input/template.njk
  packages/frontend/components/input/template.njk
  packages/frontend/components/radios/template.njk
  packages/frontend/components/select/template.njk
  packages/frontend/components/textarea/template.njk
Due: none

feat(post-type-photo): increase rows for photo description
  packages/post-type-photo/includes/post-types/photo-field.njk
Due: none

fix(endpoint-posts): remove image value from post form data
  packages/endpoint-posts/lib/controllers/form.js
Due: prettier --write, xo

feat(endpoint-posts): update formatting for published date
  packages/endpoint-posts/includes/post-types/published.njk
Due: none

feat(endpoint-posts): keep radio options when editing published date
  packages/endpoint-posts/views/post-form.njk
Due: none

fix(endpoint-auth): show password validation without tripping up on scope
  packages/endpoint-auth/lib/scope.js
  packages/endpoint-auth/test/unit/scope.js
Due: prettier --write, xo

feat(util): enable date formatter to accept upstream timeZone option
  packages/util/lib/date.js
  packages/util/test/unit/date.js
Due: prettier --write, xo

feat: pass timeZone to date format filter
  packages/endpoint-posts/includes/post-types/published.njk
  packages/endpoint-posts/views/post-form.njk
  packages/frontend/components/card/template.njk
  packages/frontend/components/share-preview/template.njk
  packages/post-type-event/includes/post-types/start.njk
Due: none

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  xo: any of: *.js
  stylelint: any of: *.css
