Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

chore: add publish workflow
  .github/workflows/publish.yml
  package.json
Due: none

docs: update readme
  README.md
Due: none

feat(store-s3): add optional ACL option for uploads (disabled by default)
  packages/store-s3/index.js
Due: prettier --write, xo

feat(store-s3): add ACL option
  packages/store-s3/README.md
  packages/store-s3/index.js
Due: prettier --write, xo

chore: update dependencies
  package-lock.json
Due: none

Add photo to list of supported post fields
  docs/api/add-post-type.md
Due: none

fix(frontend): dark theme form component styles
  packages/frontend/components/checkboxes/styles.css
  packages/frontend/components/radios/styles.css
  packages/frontend/components/select/styles.css
  packages/frontend/styles/vendor/codemirror.css
Due: prettier --write, stylelint

fix: ensure name is a string before calling replace in getError
  packages/error/index.js
Due: prettier --write, xo

fix(preset-eleventy): add permalink to frontmatter from url property
  packages/preset-eleventy/lib/post-template.js
  packages/preset-eleventy/test/unit/post-template.js
Due: prettier --write, xo

feat: add page post type support for slash pages
  packages/preset-eleventy/lib/post-types.js
  packages/preset-eleventy/package.json
Due: prettier --write, xo

feat(endpoint-image): add option to specify remote domains for image resizing
  packages/endpoint-image/README.md
  packages/endpoint-image/index.js
Due: prettier --write, xo

docs: update sponsors in README.md
  README.md
Due: none

Update sponsors.md docs page
  docs/sponsors.md
Due: none

fix typo
  packages/endpoint-webmention-io/README.md
Due: none

feat: improve markdown link handling
  packages/frontend/components/textarea/index.js
Due: prettier --write, xo

chore: update dependencies
  helpers/mock-agent/store-gitlab.js
  package-lock.json
  package.json
  packages/create-indiekit/package.json
  packages/endpoint-auth/package.json
  packages/endpoint-files/package.json
  packages/endpoint-image/package.json
  packages/endpoint-json-feed/package.json
  packages/endpoint-media/package.json
  packages/endpoint-micropub/package.json
  packages/endpoint-posts/package.json
  packages/endpoint-share/package.json
  packages/endpoint-syndicate/package.json
  packages/endpoint-webmention-io/package.json
  packages/frontend/package.json
  packages/indiekit/package.json
  packages/preset-eleventy/package.json
  packages/preset-hugo/package.json
  packages/preset-jekyll/package.json
  packages/store-bitbucket/package.json
  packages/store-ftp/package.json
  packages/store-github/package.json
  packages/store-gitlab/package.json
  packages/store-s3/package.json
  packages/syndicator-bluesky/package.json
  packages/syndicator-bluesky/test/unit/bluesky.js
  packages/syndicator-mastodon/package.json
  packages/util/package.json
Due: prettier --write, xo

style: use eslint-plugin-import-x
  docs/.vitepress/theme/index.js
  eslint.config.js
  package-lock.json
  package.json
  packages/frontend/lib/nunjucks.js
  packages/indiekit/bin/cli.js
  packages/store-bitbucket/index.js
  packages/store-gitlab/index.js
  packages/util/lib/date.js
Due: prettier --write, xo

ci: disable linting
  .github/workflows/build.yml
Due: none

ci: add missing env
  .github/workflows/build.yml
Due: none

ci: use npm ci
  .github/workflows/build.yml
Due: none

chore: update eslint to v10
  eslint.config.js
  package-lock.json
  package.json
Due: prettier --write, xo

style: unicorn/consistent-class-member-order
  helpers/store/index.js
  packages/frontend/components/character-count/index.js
  packages/store-bitbucket/index.js
  packages/store-file-system/index.js
  packages/store-ftp/index.js
  packages/store-gitea/index.js
  packages/store-github/index.js
  packages/store-gitlab/index.js
Due: prettier --write, xo

style: preserve-caught-error
  packages/store-github/index.js
  packages/syndicator-bluesky/lib/bluesky.js
  packages/syndicator-mastodon/lib/mastodon.js
Due: prettier --write, xo

style: unicorn/consistent-compound-words
  docs/configuration/commit-messages.md
  helpers/publication/index.js
  packages/endpoint-media/lib/media-content.js
  packages/endpoint-micropub/lib/post-content.js
  packages/indiekit/config/defaults.js
  packages/syndicator-bluesky/index.js
Due: prettier --write, xo

style: unicorn/prefer-https
  helpers/mock-agent/syndicator-internet-archive.js
  packages/endpoint-files/test/unit/utils.js
  packages/endpoint-micropub/test/unit/post-data.js
  packages/endpoint-micropub/test/unit/update.js
  packages/endpoint-micropub/test/unit/utils.js
  packages/syndicator-internet-archive/test/index.js
  packages/syndicator-internet-archive/test/unit/internet-archive.js
Due: prettier --write, xo

style: remove unused eslint-disable directive
  packages/frontend/components/geo-input/index.js
  packages/util/lib/collection.js
Due: prettier --write, xo

style: no-useless-assignment
  packages/endpoint-syndicate/lib/utils.js
  packages/frontend/lib/utils/theme.js
Due: prettier --write, xo

style: unicorn/no-unused-array-method-return
  packages/util/lib/string.js
Due: prettier --write, xo

style: unicorn/require-css-escape
  packages/frontend/components/checkboxes/index.js
  packages/frontend/components/error-summary/index.js
  packages/frontend/components/share-preview/index.js
Due: prettier --write, xo

style: unicorn/no-exports-in-scripts
  packages/create-indiekit/bin/create.js
  packages/create-indiekit/index.js
  packages/create-indiekit/lib/files.js
  packages/create-indiekit/lib/utils.js
  packages/create-indiekit/test/unit/files.js
  packages/create-indiekit/test/unit/utils.js
  packages/indiekit/index.js
  packages/indiekit/test/server.js
Due: prettier --write, xo

style: unicorn/prefer-global-this
  packages/frontend/lib/serviceworker.js
Due: prettier --write, xo

style: unicorn/prefer-split-limit
  packages/create-indiekit/lib/utils.js
  packages/endpoint-auth/lib/controllers/introspection.js
  packages/endpoint-auth/lib/pushed-authorization-request.js
  packages/endpoint-media/lib/file.js
  packages/frontend/components/event-duration/index.js
  packages/frontend/lib/lightningcss.js
  packages/indiekit/lib/token.js
Due: prettier --write, xo

style: unicorn/no-this-outside-of-class
  packages/endpoint-micropub/lib/post-data.js
  packages/frontend/components/notification-banner/index.js
  packages/frontend/lib/globals/field-data.js
Due: prettier --write, xo

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  xo: any of: *.js
  stylelint: any of: *.css
