Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

Deploying to main from @ getindiekit/indiekit@05448f6a3e59ec44c0ab5edfc258c4a831898104 🚀
  README.md
  docs/sponsors.md
Due: none

fix(endpoint-posts): simplify radio/checkbox selection
  packages/endpoint-posts/lib/middleware/post-data.js
  packages/endpoint-posts/lib/utils.js
  packages/endpoint-posts/tests/unit/utils.js
  packages/endpoint-posts/views/post-form.njk
Due: prettier --write, xo

feat(frontend): open option for details component
  packages/frontend/components/details/template.njk
Due: none

feat(endpoint-posts): automatically toggle advanced options
  packages/endpoint-posts/lib/middleware/post-data.js
  packages/endpoint-posts/views/post-form.njk
Due: prettier --write, xo

fix(frontend): button padding and positioning
  packages/frontend/components/button/styles.css
Due: prettier --write, stylelint

fix(frontend): padding shift on focus
  packages/frontend/components/input/styles.css
  packages/frontend/components/textarea/styles.css
Due: prettier --write, stylelint

fix(frontend): correct element for error message
  packages/frontend/components/error-message/template.njk
Due: none

docs: document routesWellKnown api method
  docs/plugins/api/add-endpoint.md
Due: none

docs: including a plug-in homepage widget
  docs/plugins/api/index.md
Due: none

fix(endpoint-syndicate): only allow local redirect
  packages/endpoint-syndicate/lib/controllers/syndicate.js
  packages/endpoint-syndicate/tests/integration/302-syndicates-url-for-target-redirect.js
Due: prettier --write, xo

fix(endpoint-posts): simplify radio/checkbox selection
  packages/endpoint-posts/lib/controllers/form.js
  packages/endpoint-posts/lib/middleware/post-data.js
  packages/endpoint-posts/lib/utils.js
  packages/endpoint-posts/tests/integration/302-post-create.js
  packages/endpoint-posts/tests/unit/utils.js
  packages/endpoint-posts/views/post-form.njk
  packages/endpoint-posts/views/post.njk
Due: prettier --write, xo

docs: update micropub support in ia writer
  docs/clients.md
Due: none

chore: update dependencies
  package-lock.json
  packages/endpoint-auth/package.json
  packages/indiekit/package.json
Due: none

feat(endpoint-posts): change order of badges
  packages/endpoint-posts/views/post.njk
Due: none

fix: correct mf2 for nested vocabularies when converting from jf2
  helpers/fixtures/jf2/all-properties.jf2
  packages/endpoint-micropub/lib/mf2.js
  packages/endpoint-micropub/tests/unit/mf2.js
  packages/preset-hugo/tests/index.js
  packages/preset-jekyll/tests/index.js
Due: prettier --write, xo

fix: correct jf2 for location
  helpers/fixtures/jf2/note-location-provided.jf2
  packages/endpoint-micropub/lib/jf2.js
  packages/endpoint-micropub/tests/unit/jf2.js
  packages/syndicator-twitter/lib/utils.js
  packages/syndicator-twitter/tests/unit/utils.js
Due: prettier --write, xo

fix(frontend): fieldset spacing, one more time
  packages/frontend/components/checkboxes/styles.css
  packages/frontend/components/details/styles.css
  packages/frontend/components/error-message/styles.css
  packages/frontend/components/field/styles.css
  packages/frontend/components/fieldset/styles.css
  packages/frontend/components/hint/styles.css
  packages/frontend/components/label/styles.css
  packages/frontend/components/radios/styles.css
Due: prettier --write, stylelint

fix(frontend): allow fieldset to be marked as optional
  packages/frontend/components/fieldset/template.njk
Due: none

fix(endpoint-micropub): correct replacement of nested vocabularies
  packages/endpoint-micropub/lib/post-data.js
  packages/endpoint-micropub/lib/update.js
  packages/endpoint-micropub/tests/unit/update.js
Due: prettier --write, xo

feat(frontend): increase width of thickest border
  packages/frontend/styles/config/custom-properties.css
Due: prettier --write, stylelint

docs: list features that require a database. fixes #547
  docs/get-started.md
Due: none

chore: update issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

chore: add documentation issue template
  .github/ISSUE_TEMPLATE/documentation.md
Due: none

feat(frontend): pass attributes to input fields
  packages/frontend/components/field/template.njk
  packages/frontend/components/input/template.njk
  packages/frontend/components/select/template.njk
  packages/frontend/components/textarea/template.njk
Due: none

fix(frontend): reduce prominence of details border
  packages/frontend/components/details/styles.css
Due: prettier --write, stylelint

feat(frontend): input group
  packages/frontend/components/input/styles.css
Due: prettier --write, stylelint

feat(frontend): disabled button style
  packages/frontend/components/button/styles.css
Due: prettier --write, stylelint

feat(endpoint-posts): location coordinates field
  package-lock.json
  packages/endpoint-posts/lib/controllers/form.js
  packages/endpoint-posts/lib/middleware/post-data.js
  packages/endpoint-posts/lib/middleware/validation.js
  packages/endpoint-posts/lib/utils.js
  packages/endpoint-posts/locales/de.json
  packages/endpoint-posts/locales/en.json
  packages/endpoint-posts/locales/es.json
  packages/endpoint-posts/locales/fr.json
  packages/endpoint-posts/locales/id.json
  packages/endpoint-posts/locales/nl.json
  packages/endpoint-posts/locales/pl.json
  packages/endpoint-posts/locales/pt.json
  packages/endpoint-posts/locales/sr.json
  packages/endpoint-posts/package.json
  packages/endpoint-posts/tests/unit/utils.js
  packages/endpoint-posts/views/post-form.njk
Due: prettier --write, xo

feat(frontend): geo input
  packages/frontend/components/geo-input/index.js
  packages/frontend/components/geo-input/macro.njk
  packages/frontend/components/geo-input/template.njk
  packages/frontend/layouts/default.njk
  packages/frontend/locales/de.json
  packages/frontend/locales/en.json
  packages/frontend/locales/es.json
  packages/frontend/locales/fr.json
  packages/frontend/locales/id.json
  packages/frontend/locales/nl.json
  packages/frontend/locales/pl.json
  packages/frontend/locales/pt.json
  packages/frontend/locales/sr.json
  packages/frontend/scripts/app.js
Due: prettier --write, xo

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  xo: any of: *.js
  stylelint: any of: *.css
