Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

.lintstagedrc.json:

{
  "*.js": [
    "prettier --write",
    "xo"
  ],
  "*.css": [
    "prettier --write",
    "stylelint"
  ]
}

refactor(frontend): use custom element for notification-banner component
  helpers/frontend/views/frontend-components.njk
  packages/frontend/components/notification-banner/index.js
  packages/frontend/components/notification-banner/styles.css
  packages/frontend/components/notification-banner/template.njk
  packages/frontend/scripts/app.js
Due: prettier --write, xo, stylelint

refactor(frontend): use custom element for geo-input-field component
  packages/frontend/components/geo-input/index.js
  packages/frontend/components/geo-input/styles.css
  packages/frontend/components/geo-input/template.njk
  packages/frontend/scripts/app.js
  packages/frontend/styles/app.css
Due: prettier --write, xo, stylelint

refactor(frontend): use custom element for radios-field component
  packages/frontend/components/radios/index.js
  packages/frontend/components/radios/styles.css
  packages/frontend/components/radios/template.njk
  packages/frontend/scripts/app.js
Due: prettier --write, xo, stylelint

chore: update dependencies
  package-lock.json
  packages/frontend/package.json
Due: none

feat: require node.js v20
  .github/workflows/build.yml
  .nvmrc
  README.md
  docs/get-started.md
  package-lock.json
  package.json
  packages/create-indiekit/index.js
  packages/create-indiekit/package.json
  packages/endpoint-auth/package.json
  packages/endpoint-files/package.json
  packages/endpoint-image/package.json
  packages/endpoint-json-feed/package.json
  packages/endpoint-media/package.json
  packages/endpoint-micropub/package.json
  packages/endpoint-posts/package.json
  packages/endpoint-share/package.json
  packages/endpoint-syndicate/package.json
  packages/error/package.json
  packages/frontend/package.json
  packages/indiekit/package.json
  packages/preset-hugo/package.json
  packages/preset-jekyll/package.json
  packages/store-bitbucket/package.json
  packages/store-file-system/package.json
  packages/store-ftp/package.json
  packages/store-gitea/package.json
  packages/store-github/package.json
  packages/store-gitlab/package.json
  packages/syndicator-internet-archive/package.json
  packages/syndicator-mastodon/package.json
  packages/util/package.json
Due: prettier --write, xo

test(store-gitlab): fix failing tests under node v20
  helpers/mock-agent/store-gitlab.js
  packages/store-gitlab/tests/index.js
Due: prettier --write, xo

test(store-gitea): used simplified mock agent
  helpers/mock-agent/store-gitea.js
  packages/store-gitea/tests/index.js
Due: prettier --write, xo

refactor(frontend): remove fallback css for client icon
  packages/frontend/components/authorize/styles.css
Due: prettier --write, stylelint

fix(frontend): missing add another list item
  packages/frontend/components/add-another/index.js
  packages/frontend/components/add-another/template.njk
Due: prettier --write, xo

refactor(create-indiekit): use URL.canParse() method
  package-lock.json
  packages/create-indiekit/lib/setup-prompts.js
  packages/create-indiekit/package.json
Due: prettier --write, xo

refactor(endpoint-auth): use URL.canParse() method
  packages/endpoint-auth/lib/controllers/authorization.js
Due: prettier --write, xo

refactor(indiekit): use URL.canParse() method
  packages/indiekit/lib/categories.js
  packages/indiekit/lib/endpoints.js
Due: prettier --write, xo

feat(util): remove isUrl util
  packages/util/index.js
  packages/util/lib/url.js
  packages/util/tests/unit/url.js
Due: prettier --write, xo

chore: update dependencies
  package-lock.json
  package.json
  packages/endpoint-micropub/package.json
  packages/endpoint-posts/package.json
  packages/frontend/package.json
Due: none

refactor(frontend): revert label line height
  packages/frontend/styles/config/custom-properties.css
Due: prettier --write, stylelint

refactor(frontend): losen summary row line height
  packages/frontend/components/summary/styles.css
Due: prettier --write, stylelint

fix(endpoint-posts): show content text when editing post
  packages/endpoint-posts/views/post-form.njk
Due: none

fix(frontend): secondary button color
  packages/frontend/components/button/styles.css
  packages/frontend/styles/config/custom-properties.css
Due: prettier --write, stylelint

v1.0.0-beta.7
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/endpoint-posts/CHANGELOG.md
  packages/endpoint-posts/package.json
  packages/frontend/CHANGELOG.md
  packages/frontend/package.json
  packages/indiekit/CHANGELOG.md
  packages/indiekit/package.json
Due: none

style(endpoint-micropub): comment whitespace
  packages/endpoint-micropub/lib/controllers/query.js
Due: prettier --write, xo

fix(endpoint-micropub): files list in package.json
  packages/endpoint-micropub/package.json
Due: none

fix(frontend): only apply min-block-size to authorize component when it contains client icon
  packages/frontend/components/authorize/styles.css
Due: prettier --write, stylelint

fix(endpoint-micropub): fetch references for form-encoded requests
  indiekit.config.js
  packages/endpoint-micropub/lib/controllers/action.js
  packages/endpoint-micropub/lib/jf2.js
  packages/endpoint-micropub/tests/unit/jf2.js
Due: prettier --write, xo

test: provide custom post type names
  indiekit.config.js
Due: prettier --write, xo

docs: update image path in readme
  README.md
Due: none

docs: remove incorrect reference to Jekyll
  README.md
Due: none

chore: update dependencies
  package-lock.json
  package.json
  packages/frontend/package.json
  packages/indiekit/package.json
Due: none

refactor(indiekit): don’t return false from mongo config
  packages/indiekit/lib/mongodb.js
  packages/indiekit/tests/unit/mongodb.js
Due: prettier --write, xo

style: import MongoClient directly
  packages/indiekit/lib/mongodb.js
Due: prettier --write, xo

test(util): await insertMany instead of counting items
  packages/util/tests/unit/collection.js
Due: prettier --write, xo

refactor(indiekit): create mongodb database during bootstrap
  helpers/database/index.js
  packages/indiekit/index.js
  packages/indiekit/lib/mongodb.js
  packages/indiekit/tests/unit/mongodb.js
Due: prettier --write, xo

chore: update dependencies
  package-lock.json
  package.json
  packages/endpoint-micropub/package.json
  packages/frontend/package.json
Due: none

fix(create): update minimum supported node version
  packages/create-indiekit/bin/create.js
Due: prettier --write, xo

chore: update eslint config
  .eslintrc.json
Due: none

feat(indiekit): gracefully shutdown server
  packages/indiekit/index.js
  packages/indiekit/lib/mongodb.js
Due: prettier --write, xo

test(server): simplify syntax
  helpers/server/index.js
Due: prettier --write, xo

test: don’t exclude tests from type checking
  jsconfig.json
Due: none
