Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

feat(endpoint-micropub): remove random token
  packages/endpoint-micropub/lib/post-data.js
  packages/endpoint-micropub/lib/utils.js
  packages/endpoint-micropub/test/unit/utils.js
Due: prettier --write, xo

docs: update tokens
  docs/configuration/tokens.md
Due: none

feat(endpoint-media): remove random token
  packages/endpoint-media/lib/utils.js
  packages/endpoint-media/test/unit/utils.js
Due: prettier --write, xo

feat(endpoint-media): remove uuid token
  packages/endpoint-media/lib/utils.js
  packages/endpoint-media/test/unit/utils.js
Due: prettier --write, xo

refactor(endpoint-media): slugify filename when creating file properties
  packages/endpoint-media/lib/file.js
  packages/endpoint-media/lib/media-data.js
  packages/endpoint-media/lib/utils.js
  packages/endpoint-media/test/unit/file.js
  packages/endpoint-media/test/unit/utils.js
Due: prettier --write, xo

feat(preset-hugo): remove slug property
  packages/preset-hugo/lib/post-template.js
Due: prettier --write, xo

feat(preset-jekyll): remove slug property
  packages/preset-jekyll/lib/post-template.js
Due: prettier --write, xo

feat(preset-eleventy): remove slug property
  packages/preset-eleventy/lib/post-template.js
Due: prettier --write, xo

feat(frontend): strip final slash from pathless friendly url
  packages/frontend/lib/filters/url.js
  packages/frontend/test/unit/filters/url.js
Due: prettier --write, xo

feat(indiekit): remove mentions of IndieAuth from login view
  packages/indiekit/locales/de.json
  packages/indiekit/locales/en.json
  packages/indiekit/locales/es-419.json
  packages/indiekit/locales/es.json
  packages/indiekit/locales/fr.json
  packages/indiekit/locales/id.json
  packages/indiekit/locales/nl.json
  packages/indiekit/locales/pl.json
  packages/indiekit/locales/pt.json
  packages/indiekit/locales/sr.json
  packages/indiekit/locales/zh-Hans-CN.json
Due: none

feat(endpoint-micropub): remove uuid token
  packages/endpoint-micropub/lib/utils.js
  packages/endpoint-micropub/test/unit/utils.js
Due: prettier --write, xo

feat(endpoint-micropub): revert decoupling slug post property from slug token
  helpers/fixtures/jf2/article-content-provided.jf2
  helpers/fixtures/jf2/article-slug-provided-empty.jf2
  helpers/fixtures/jf2/note-slug-missing-no-name.jf2
  helpers/fixtures/jf2/note-slug-provided-unslugified.jf2
  helpers/fixtures/jf2/note-slug-provided.jf2
  packages/endpoint-micropub/lib/jf2.js
  packages/endpoint-micropub/lib/utils.js
  packages/endpoint-micropub/test/unit/jf2.js
  packages/endpoint-micropub/test/unit/post-data.js
  packages/endpoint-micropub/test/unit/utils.js
Due: prettier --write, xo

fix(endpoint-posts): get saved slug property
  packages/endpoint-posts/views/post-form.njk
Due: none

fix(endpoint-micropub): prevent slug property from being deleted
  packages/endpoint-micropub/lib/post-data.js
Due: prettier --write, xo

ci: remove vendor folder from gitignore
  .gitignore
Due: none

feat(frontend): support common markdown extensions
  package-lock.json
  packages/endpoint-posts/includes/post-types/content.njk
  packages/frontend/lib/markdown-it.js
  packages/frontend/package.json
  packages/frontend/styles/scopes/flow.css
Due: prettier --write, xo, stylelint

chore: update dependencies
  package-lock.json
Due: none

fix(frontend): adjust heading spacing
  packages/frontend/styles/scopes/flow.css
Due: prettier --write, stylelint

fix(frontend): don’t count markdown syntax in character count component
  packages/frontend/components/character-count/index.js
Due: prettier --write, xo

feat(post-type-article): show summary above content
  packages/post-type-article/index.js
Due: prettier --write, xo

fix(frontend): use browser exports in bundle
  packages/frontend/lib/rollup.js
Due: prettier --write, xo

fix(frontend): add class to file path input
  packages/frontend/components/file-input/index.js
  packages/frontend/components/file-input/template.njk
Due: prettier --write, xo

feat(store-s3): s3-compatible content store
  indiekit.config.js
  package-lock.json
  package.json
  packages/store-s3/README.md
  packages/store-s3/assets/icon.svg
  packages/store-s3/index.js
  packages/store-s3/package.json
  packages/store-s3/test/index.js
Due: prettier --write, xo

docs: add s3 content store
  README.md
  docs/plugins/stores.md
Due: none

ci: only test open pull requests
  .github/workflows/build.yml
Due: none

fix(frontend): prevent re-cloning of find button in geo input
  packages/frontend/components/geo-input/index.js
  packages/frontend/components/geo-input/template.njk
Due: prettier --write, xo

fix(frontend): prevent re-cloning of file picker in file input
  packages/frontend/components/file-input/index.js
  packages/frontend/components/file-input/template.njk
Due: prettier --write, xo

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  xo: any of: *.js
  stylelint: any of: *.css
