Repository getindiekit/indiekit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo, stylelint

test(endpoint-posts): use node test runner
  packages/endpoint-posts/test/integration/200-get-create.js
  packages/endpoint-posts/test/integration/200-get-delete.js
  packages/endpoint-posts/test/integration/200-get-new.js
  packages/endpoint-posts/test/integration/200-post.js
  packages/endpoint-posts/test/integration/200-posts-no-database.js
  packages/endpoint-posts/test/integration/200-posts.js
  packages/endpoint-posts/test/integration/302-get-create.js
  packages/endpoint-posts/test/integration/302-get-delete.js
  packages/endpoint-posts/test/integration/302-post-create.js
  packages/endpoint-posts/test/integration/302-post-delete.js
  packages/endpoint-posts/test/integration/404-post.js
  packages/endpoint-posts/test/integration/422-post-create.js
  packages/endpoint-posts/test/integration/500-post-create.js
  packages/endpoint-posts/test/unit/utils.js
  packages/endpoint-posts/tests/integration/200-get-create.js
  packages/endpoint-posts/tests/integration/200-get-delete.js
  packages/endpoint-posts/tests/integration/200-get-new.js
  packages/endpoint-posts/tests/integration/200-post.js
  packages/endpoint-posts/tests/integration/200-posts-no-database.js
  packages/endpoint-posts/tests/integration/200-posts.js
  packages/endpoint-posts/tests/integration/302-get-create.js
  packages/endpoint-posts/tests/integration/302-get-delete.js
  packages/endpoint-posts/tests/integration/302-post-create.js
  packages/endpoint-posts/tests/integration/302-post-delete.js
  packages/endpoint-posts/tests/integration/404-post.js
  packages/endpoint-posts/tests/integration/422-post-create.js
  packages/endpoint-posts/tests/integration/500-post-create.js
  packages/endpoint-posts/tests/unit/utils.js
Due: prettier --write, xo

test(preset-hugo): use node test runner
  packages/preset-hugo/test/index.js
Due: prettier --write, xo

test(store-gitea): use node test runner
  packages/store-gitea/test/index.js
  packages/store-gitea/tests/index.js
Due: prettier --write, xo

test(store-ftp): use node test runner
  packages/store-ftp/test/index.js
  packages/store-ftp/tests/index.js
Due: prettier --write, xo

test(syndicator-mastodon): use node test runner
  packages/syndicator-mastodon/test/index.js
  packages/syndicator-mastodon/test/unit/mastodon.js
  packages/syndicator-mastodon/test/unit/utils.js
  packages/syndicator-mastodon/tests/index.js
  packages/syndicator-mastodon/tests/unit/mastodon.js
  packages/syndicator-mastodon/tests/unit/utils.js
Due: prettier --write, xo

test(create-indiekit): use node test runner
  packages/create-indiekit/test/unit/docker.js
  packages/create-indiekit/test/unit/files.js
  packages/create-indiekit/test/unit/package.js
  packages/create-indiekit/test/unit/setup-prompts.js
  packages/create-indiekit/test/unit/utils.js
  packages/create-indiekit/tests/unit/docker.js
  packages/create-indiekit/tests/unit/files.js
  packages/create-indiekit/tests/unit/package.js
  packages/create-indiekit/tests/unit/setup-prompts.js
  packages/create-indiekit/tests/unit/utils.js
Due: prettier --write, xo

test(store-bitbucket): use node test runner
  packages/store-bitbucket/test/index.js
  packages/store-bitbucket/tests/index.js
Due: prettier --write, xo

test(store-github): use node test runner
  packages/store-github/test/index.js
  packages/store-github/tests/index.js
Due: prettier --write, xo

test(util): use node test runner
  helpers/database/index.js
  packages/util/test/unit/collection.js
  packages/util/test/unit/date.js
  packages/util/test/unit/string.js
  packages/util/test/unit/url.js
  packages/util/tests/unit/collection.js
  packages/util/tests/unit/date.js
  packages/util/tests/unit/string.js
  packages/util/tests/unit/url.js
Due: prettier --write, xo

test(endpoint-json-feed): use node test runner
  packages/endpoint-json-feed/test/integration/200-feed-json.js
  packages/endpoint-json-feed/test/unit/json-feed.js
  packages/endpoint-json-feed/tests/integration/200-feed-json.js
  packages/endpoint-json-feed/tests/unit/json-feed.js
Due: prettier --write, xo

test(error): use node test runner
  packages/error/test/index.js
  packages/error/tests/index.js
Due: prettier --write, xo

test(store-file-system): use node test runner
  packages/store-file-system/test/index.js
  packages/store-file-system/tests/index.js
Due: prettier --write, xo

test: update eslint config
  .eslintrc.json
Due: none

test(syndicator-internet-archive): use node test runner
  packages/syndicator-internet-archive/test/index.js
  packages/syndicator-internet-archive/test/unit/internet-archive.js
  packages/syndicator-internet-archive/tests/index.js
  packages/syndicator-internet-archive/tests/unit/internet-archive.js
Due: prettier --write, xo

test(endpoint-share): use node test runner
  packages/endpoint-share/test/integration/200-get-share.js
  packages/endpoint-share/test/integration/302-post-share.js
  packages/endpoint-share/test/integration/400-post-share.js
  packages/endpoint-share/test/integration/422-post-share.js
  packages/endpoint-share/tests/integration/200-get-share.js
  packages/endpoint-share/tests/integration/302-post-share.js
  packages/endpoint-share/tests/integration/400-post-share.js
  packages/endpoint-share/tests/integration/422-post-share.js
Due: prettier --write, xo

chore: update dependencies
  package-lock.json
  packages/endpoint-media/package.json
Due: none

feat(preset-jekyll): accept unknown post properties
  packages/preset-jekyll/index.js
  packages/preset-jekyll/test/index.js
Due: prettier --write, xo

test(fixtures): add post-template-properties.jf2
  helpers/fixtures/jf2/post-template-properties.jf2
Due: none

feat(preset-hugo): accept unknown post properties
  packages/preset-hugo/index.js
  packages/preset-hugo/test/index.js
Due: prettier --write, xo

feat(endpoint-micropub): remove server commands from post template properties
  packages/endpoint-micropub/lib/post-content.js
Due: prettier --write, xo

fix(frontend): tag input input width
  packages/frontend/components/tag-input/styles.css
Due: prettier --write, stylelint

fix(frontend): remove width on datetime-local input
  packages/frontend/components/input/styles.css
Due: prettier --write, stylelint

fix(endpoint-posts): add width class to published date input
  packages/endpoint-posts/views/post-form.njk
Due: none

fix(frontend): force datetime input height on iOS
  packages/frontend/components/input/styles.css
Due: prettier --write, stylelint

Offer MongoURL guidance in options
  docs/configuration/index.md
Due: none

fix(frontend): details spacing
  packages/frontend/components/details/styles.css
Due: prettier --write, stylelint

feat(frontend): add items conditional to checkbox and radio components
  packages/frontend/components/checkboxes/template.njk
  packages/frontend/components/radios/template.njk
Due: none

fix(frontend): label typography
  packages/frontend/components/add-another/styles.css
  packages/frontend/components/checkboxes/styles.css
  packages/frontend/components/fieldset/styles.css
  packages/frontend/components/radios/styles.css
  packages/frontend/styles/config/custom-properties.css
Due: prettier --write, stylelint

fix(frontend): hint spacing
  packages/frontend/components/hint/styles.css
Due: prettier --write, stylelint

feat(frontend): split offset and group fieldset modifiers
  packages/endpoint-posts/views/post-form.njk
  packages/frontend/components/fieldset/styles.css
Due: prettier --write, stylelint

fix(frontend): use fixed value for xs space
  packages/frontend/styles/config/custom-properties.css
Due: prettier --write, stylelint

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  xo: any of: *.js
  stylelint: any of: *.css
